/* screen - about-the-artwork-1 */

.about-the-artwork-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 8275px;
  overflow: hidden;
  width: 1920px;
}

.about-the-artwork-1 .overlap-group2 {
  height: 8896px;
  margin-left: -1013px;
  margin-top: -620.62px;
  position: relative;
  width: 3410px;
}

.about-the-artwork-1 .rectangle-63 {
  background-color: var(--cape-cod);
  height: 8275px;
  left: 1013px;
  position: absolute;
  top: 621px;
  width: 1920px;
}

.about-the-artwork-1 .ellipse-56 {
  background-color: var(--perano-2);
  border-radius: 890.19px/676.61px;
  height: 1353px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1780px;
}

.about-the-artwork-1 .ellipse-40 {
  background-color: var(--jordy-blue);
  border-radius: 749.19px/415.61px;
  height: 831px;
  left: 960px;
  position: absolute;
  top: 804px;
  width: 1498px;
}

.about-the-artwork-1 .the-artwork {
  color: var(--carnation-pink);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 90px;
  font-weight: 400;
  height: 121px;
  left: 1888px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 695px;
  white-space: nowrap;
  width: 906px;
}

.about-the-artwork-1 .ellipse-41 {
  background-color: var(--chicago);
  border-radius: 576.5px/427.5px;
  height: 855px;
  left: 1694px;
  position: absolute;
  top: 1585px;
  width: 1153px;
}

.about-the-artwork-1 .name {
  height: 74px;
  left: 2018px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 1642px;
  white-space: nowrap;
  width: 257px;
}

.about-the-artwork-1 .image-1 {
  height: 886px;
  left: 2314px;
  object-fit: cover;
  position: absolute;
  top: 1635px;
  width: 572px;
}

.about-the-artwork-1 .rita-fei-is-an-illus {
  height: 754px;
  left: 1780px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  text-align: right;
  top: 1787px;
  width: 495px;
}

.about-the-artwork-1 .group-148 {
  background-image: url(../img/group-116-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 485px;
  left: 1013px;
  position: absolute;
  top: 758px;
  width: 503px;
}

.about-the-artwork-1 .nikunj-is-an-aspir {
  height: 710px;
  left: 1398px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  text-align: center;
  top: 1027px;
  width: 493px;
}

.about-the-artwork-1 .nikunjbhimsaria {
  height: 223px;
  left: 1428px;
  letter-spacing: 0;
  line-height: 65px;
  position: absolute;
  text-align: center;
  top: 892px;
  width: 462px;
}

.about-the-artwork-1 .mask-group-3 {
  height: 831px;
  left: 960px;
  object-fit: cover;
  position: absolute;
  top: 804px;
  width: 1498px;
}

.about-the-artwork-1 .path-4022 {
  height: 1023px;
  left: 839px;
  object-fit: cover;
  position: absolute;
  top: 1779px;
  width: 897px;
}

.about-the-artwork-1 .whats-app-image-2021-12-24-at-94513-am {
  height: 841px;
  left: 1061px;
  object-fit: cover;
  position: absolute;
  top: 2573px;
  width: 620px;
}

.about-the-artwork-1 .mori-is-a-digital {
  height: 775px;
  left: 1061px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 1971px;
  width: 541px;
}

.about-the-artwork-1 .place {
  height: 74px;
  left: 1061px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 1823px;
  white-space: nowrap;
  width: 364px;
}

.about-the-artwork-1 .ellipse-53 {
  background-color: var(--chicago);
  border-radius: 669px/808px;
  height: 1616px;
  left: 1338px;
  position: absolute;
  top: 5175px;
  width: 1338px;
}

.about-the-artwork-1 .dustin-jacobus-is-a {
  height: 632px;
  left: 1451px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  text-align: center;
  top: 5581px;
  width: 1048px;
}

.about-the-artwork-1 .whats-app-image-2021-12-24-at-94502-am {
  height: 736px;
  left: 1554px;
  object-fit: cover;
  position: absolute;
  top: 4729px;
  width: 838px;
}

.about-the-artwork-1 .name-1 {
  height: 74px;
  left: 1270px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 5437px;
  white-space: nowrap;
  width: 1408px;
}

.about-the-artwork-1 .ellipse-51 {
  background-color: var(--chicago);
  border-radius: 825.5px/579.46px;
  height: 1159px;
  left: 1759px;
  position: absolute;
  top: 2619px;
  width: 1651px;
}

.about-the-artwork-1 .whats-app-image-2022-01-11-at-91544-am {
  height: 1251px;
  left: 1700px;
  object-fit: cover;
  position: absolute;
  top: 3284px;
  width: 1233px;
}

.about-the-artwork-1 .becky-bolton-and-lou {
  height: 656px;
  left: 2078px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  text-align: right;
  top: 2888px;
  width: 810px;
}

.about-the-artwork-1 .goodwives-and-warriors {
  height: 173px;
  left: 2410px;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  text-align: right;
  top: 2735px;
  width: 478px;
}

.about-the-artwork-1 .ellipse-52 {
  background-color: var(--sonic-silver);
  border-radius: 659.28px/308.48px;
  height: 617px;
  left: 1385px;
  position: absolute;
  top: 4040px;
  width: 1319px;
}

.about-the-artwork-1 .blood-oil {
  height: 900px;
  left: 1061px;
  object-fit: cover;
  position: absolute;
  top: 3542px;
  width: 638px;
}

.about-the-artwork-1 .joo-queiroz-is-a-br {
  color: var(--white);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xs);
  font-weight: 400;
  height: 915px;
  left: 1762px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 4173px;
  width: 593px;
}

.about-the-artwork-1 .span1 {
  font-style: italic;
}

.about-the-artwork-1 .overlap-group {
  height: 103px;
  left: 1675px;
  position: absolute;
  top: 4000px;
  width: 616px;
}

.about-the-artwork-1 .joo-queiroz {
  height: 74px;
  left: 0;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 29px;
  white-space: nowrap;
  width: 616px;
}

.about-the-artwork-1 .text-1 {
  color: var(--carnation-pink);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 50px;
  font-weight: 400;
  left: 165px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.about-the-artwork-1 .ellipse-54 {
  background-color: var(--sonic-silver);
  border-radius: 669px/414px;
  height: 828px;
  left: 935px;
  position: absolute;
  top: 7130px;
  width: 1338px;
}

.about-the-artwork-1 .hal-hefner-is-an-ill {
  height: 656px;
  left: 1103px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  text-align: right;
  top: 7337px;
  width: 696px;
}

.about-the-artwork-1 .name-2 {
  height: 173px;
  left: 1450px;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 7232px;
  width: 478px;
}

.about-the-artwork-1 .ellipse-55 {
  background-color: var(--chicago);
  border-radius: 669px/414px;
  height: 828px;
  left: 1399px;
  position: absolute;
  top: 7930px;
  width: 1338px;
}

.about-the-artwork-1 .nico-lob-is-a-south {
  height: 656px;
  left: 1528px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  text-align: right;
  top: 8128px;
  width: 696px;
}

.about-the-artwork-1 .name-3 {
  height: 87px;
  left: 1875px;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 8043px;
  width: 293px;
}

.about-the-artwork-1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 2618px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 546px;
}

.about-the-artwork-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.about-the-artwork-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.about-the-artwork-1 .overlap-group-1 {
  height: 151px;
  position: relative;
  width: 149px;
}

.about-the-artwork-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.about-the-artwork-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.about-the-artwork-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.about-the-artwork-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0.0px;
  width: 149.11px;
}

.about-the-artwork-1 .group-2-2 {
  background-image: url(../img/path-5-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.about-the-artwork-1 .er_-illustration2_d-jacobus-small-1 {
  cursor: pointer;
  height: 1127px;
  left: 1103px;
  object-fit: cover;
  position: absolute;
  top: 5914px;
  width: 1785px;
}

.about-the-artwork-1 .rectangle-70 {
  background-color: var(--fuscous-gray);
  height: 457px;
  left: 1875px;
  position: absolute;
  top: 7337px;
  width: 422px;
}

.about-the-artwork-1 .artwork-comingsoon {
  height: 183px;
  left: 1920px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  top: 7361px;
  width: 321px;
}

.about-the-artwork-1 .rectangle-71 {
  background-color: var(--fuscous-gray);
  height: 457px;
  left: 2281px;
  position: absolute;
  top: 8043px;
  width: 422px;
}

.about-the-artwork-1 .artwork-comingsoon-1 {
  height: 183px;
  left: 2348px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: right;
  top: 8091px;
  width: 321px;
}

.about-the-artwork-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 1180px;
  min-width: 132px;
  position: absolute;
  top: 647px;
}

.about-the-artwork-1 .overlap-group1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.about-the-artwork-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.about-the-artwork-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.about-the-artwork-1 .component-7-158 {
  display: flex;
  height: 45px;
  left: 1058px;
  position: absolute;
  top: 651px;
  width: 86px;
}

.about-the-artwork-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.about-the-artwork-1 .component-8-192 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1596px;
  position: absolute;
  top: 652px;
  width: 103px;
}

.about-the-artwork-1 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}

.about-the-artwork-1 .component-9-157 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1446px;
  position: absolute;
  top: 652px;
  width: 110px;
}

.about-the-artwork-1 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.about-the-artwork-1 .component-3-156 {
  display: flex;
  height: 46px;
  left: 1306px;
  position: absolute;
  top: 651px;
  width: 172px;
}

.about-the-artwork-1 .stories {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}
/* screen - about-the-artwork-2 */

.about-the-artwork-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 5523px;
  overflow: hidden;
  width: 1280px;
}

.about-the-artwork-2 .overlap-group2-1 {
  height: 6038px;
  margin-left: -455px;
  margin-top: -504.5px;
  position: relative;
  width: 1916px;
}

.about-the-artwork-2 .rectangle-63-1 {
  background-color: var(--cape-cod);
  height: 5534px;
  left: 453px;
  position: absolute;
  top: 504px;
  width: 1283px;
}

.about-the-artwork-2 .ellipse-56-1 {
  background-color: var(--perano-2);
  border-radius: 595.34px/452.51px;
  height: 905px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1191px;
}

.about-the-artwork-2 .ellipse-40-1 {
  background-color: var(--jordy-blue);
  border-radius: 501.04px/277.95px;
  height: 556px;
  left: 418px;
  position: absolute;
  top: 625px;
  width: 1002px;
}

.about-the-artwork-2 .the-artwork-1 {
  height: 82px;
  left: 1075px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 531px;
  white-space: nowrap;
  width: 606px;
}

.about-the-artwork-2 .ellipse-41-1 {
  background-color: var(--chicago);
  border-radius: 385.5px/286px;
  height: 572px;
  left: 908px;
  position: absolute;
  top: 1148px;
  width: 771px;
}

.about-the-artwork-2 .name-4 {
  height: 50px;
  left: 1123px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 1154px;
  white-space: nowrap;
  width: 173px;
}

.about-the-artwork-2 .image-1-1 {
  height: 618px;
  left: 1323px;
  object-fit: cover;
  position: absolute;
  top: 1181px;
  width: 399px;
}

.about-the-artwork-2 .rita-fei-is-an-illus-1 {
  height: 505px;
  left: 964px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: right;
  top: 1283px;
  width: 332px;
}

.about-the-artwork-2 .group-148-1 {
  background-image: url(../img/group-116-3@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 324px;
  left: 468px;
  position: absolute;
  top: 617px;
  width: 336px;
}

.about-the-artwork-2 .nikunj-is-an-aspir-1 {
  height: 476px;
  left: 710px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 775px;
  width: 330px;
}

.about-the-artwork-2 .nikunj {
  height: 50px;
  left: 823px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 618px;
  white-space: nowrap;
  width: 173px;
}

.about-the-artwork-2 .mask-group-3-1 {
  display: flex;
  height: 556px;
  justify-content: flex-end;
  left: 418px;
  position: absolute;
  top: 625px;
  width: 1002px;
}

.about-the-artwork-2 .group-30 {
  margin-bottom: 22.3px;
  margin-right: 102.7px;
  margin-top: 77.7px;
  object-fit: cover;
  width: 319.36px;
}

.about-the-artwork-2 .path-4022-1 {
  height: 701px;
  left: 308px;
  object-fit: cover;
  position: absolute;
  top: 1139px;
  width: 600px;
}

.about-the-artwork-2 .whats-app-image-2021-12-24-at-94513-am-1 {
  height: 585px;
  left: 487px;
  object-fit: cover;
  position: absolute;
  top: 1709px;
  width: 431px;
}

.about-the-artwork-2 .mori-is-a-digital-1 {
  height: 519px;
  left: 493px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 1302px;
  width: 362px;
}

.about-the-artwork-2 .place-3 {
  height: 50px;
  left: 493px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 1171px;
  white-space: nowrap;
  width: 244px;
}

.about-the-artwork-2 .ellipse-53-1 {
  background-color: var(--chicago);
  border-radius: 447px/541px;
  height: 1082px;
  left: 647px;
  position: absolute;
  top: 3356px;
  width: 894px;
}

.about-the-artwork-2 .dustin-jacobus-is-a-1 {
  height: 423px;
  left: 745px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 3838px;
  width: 701px;
}

.about-the-artwork-2 .whats-app-image-2021-12-24-at-94502-am-1 {
  height: 456px;
  left: 835px;
  object-fit: cover;
  position: absolute;
  top: 3313px;
  width: 520px;
}

.about-the-artwork-2 .name-5 {
  height: 50px;
  left: 625px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 3712px;
  white-space: nowrap;
  width: 942px;
}

.about-the-artwork-2 .ellipse-51-1 {
  background-color: var(--chicago);
  border-radius: 447px/277.5px;
  height: 555px;
  left: 1022px;
  position: absolute;
  top: 1818px;
  width: 894px;
}

.about-the-artwork-2 .whats-app-image-2022-01-11-at-91544-am-1 {
  height: 769px;
  left: 977px;
  object-fit: cover;
  position: absolute;
  top: 2247px;
  width: 758px;
}

.about-the-artwork-2 .becky-bolton-and-lou-1 {
  height: 440px;
  left: 1086px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: right;
  top: 2020px;
  width: 622px;
}

.about-the-artwork-2 .goodwives-and-warriors-1 {
  height: 95px;
  left: 1387px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: right;
  top: 1916px;
  width: 321px;
}

.about-the-artwork-2 .ellipse-52-1 {
  background-color: var(--sonic-silver);
  border-radius: 440.91px/240.41px;
  height: 481px;
  left: 681px;
  position: absolute;
  top: 2728px;
  width: 882px;
}

.about-the-artwork-2 .blood-oil-1 {
  height: 632px;
  left: 492px;
  object-fit: cover;
  position: absolute;
  top: 2384px;
  width: 448px;
}

.about-the-artwork-2 .joo-queiroz-is-a-br-1 {
  height: 613px;
  left: 958px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 2823px;
  width: 397px;
}

.about-the-artwork-2 .group-151 {
  display: flex;
  height: 48px;
  left: 890px;
  position: absolute;
  top: 2775px;
  width: 413px;
}

.about-the-artwork-2 .joo-queiroz-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 200px;
  margin-bottom: 75.5px;
  margin-right: -2px;
  margin-top: -77.5px;
  text-align: center;
  white-space: nowrap;
  width: 412.63px;
}

.about-the-artwork-2 .text-2 {
  color: var(--carnation-pink);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  left: 1006px;
  letter-spacing: 0;
  line-height: 124px;
  position: absolute;
  text-align: center;
  top: 2713px;
  white-space: nowrap;
}

.about-the-artwork-2 .ellipse-54-1 {
  background-color: var(--sonic-silver);
  border-radius: 448px/277px;
  height: 554px;
  left: 395px;
  position: absolute;
  top: 4760px;
  width: 896px;
}

.about-the-artwork-2 .hal-hefner-is-an-ill-1 {
  height: 440px;
  left: 513px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: right;
  top: 4910px;
  width: 466px;
}

.about-the-artwork-2 .name-6 {
  height: 116px;
  left: 745px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  top: 4854px;
  width: 321px;
}

.about-the-artwork-2 .ellipse-55-1 {
  background-color: var(--chicago);
  border-radius: 447px/276.5px;
  height: 553px;
  left: 716px;
  position: absolute;
  top: 5348px;
  width: 894px;
}

.about-the-artwork-2 .nico-lob-is-a-south-1 {
  height: 440px;
  left: 768px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: right;
  top: 5505px;
  width: 466px;
}

.about-the-artwork-2 .name-7 {
  height: 59px;
  left: 1000px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  top: 5448px;
  width: 197px;
}

.about-the-artwork-2 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1527px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 453px;
}

.about-the-artwork-2 .group-42-1 {
  display: flex;
  height: 101px;
  width: 99px;
}

.about-the-artwork-2 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.about-the-artwork-2 .overlap-group-2 {
  height: 101px;
  position: relative;
  width: 99px;
}

.about-the-artwork-2 .path-4-1 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.about-the-artwork-2 .group-38-2 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.about-the-artwork-2 .group-39-1 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.about-the-artwork-2 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 16.9px 0;
  width: 99.47px;
}

.about-the-artwork-2 .group-2-2-1 {
  background-image: url(../img/path-5-2-58@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.about-the-artwork-2 .er_-illustration2_d-jacobus-small-1-1 {
  cursor: pointer;
  height: 711px;
  left: 532px;
  object-fit: cover;
  position: absolute;
  top: 4049px;
  width: 1126px;
}

.about-the-artwork-2 .rectangle-68 {
  background-color: var(--fuscous-gray);
  height: 457px;
  left: 1050px;
  position: absolute;
  top: 4854px;
  width: 422px;
}

.about-the-artwork-2 .artwork-comingsoon-2 {
  height: 183px;
  left: 1095px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  top: 4878px;
  width: 321px;
}

.about-the-artwork-2 .rectangle-69 {
  background-color: var(--fuscous-gray);
  height: 457px;
  left: 1262px;
  position: absolute;
  top: 5444px;
  width: 422px;
}

.about-the-artwork-2 .artwork-comingsoon-3 {
  height: 183px;
  left: 1329px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: right;
  top: 5492px;
  width: 321px;
}

.about-the-artwork-2 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 622px;
  min-width: 132px;
  position: absolute;
  top: 531px;
}

.about-the-artwork-2 .overlap-group1-1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.about-the-artwork-2 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.about-the-artwork-2 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.about-the-artwork-2 .component-7-159 {
  display: flex;
  height: 45px;
  left: 500px;
  position: absolute;
  top: 535px;
  width: 86px;
}

.about-the-artwork-2 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.about-the-artwork-2 .component-8-193 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1038px;
  position: absolute;
  top: 536px;
  width: 103px;
}

.about-the-artwork-2 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}

.about-the-artwork-2 .component-9-158 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 888px;
  position: absolute;
  top: 536px;
  width: 110px;
}

.about-the-artwork-2 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.about-the-artwork-2 .component-3-157 {
  display: flex;
  height: 46px;
  left: 748px;
  position: absolute;
  top: 535px;
  width: 172px;
}

.about-the-artwork-2 .stories-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}
/* screen - about-the-artwork-3 */

.about-the-artwork-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3606px;
  overflow: hidden;
  width: 834px;
}

.about-the-artwork-3 .overlap-group2-2 {
  height: 3791px;
  margin-left: -487px;
  margin-top: -185.33px;
  position: relative;
  width: 1483px;
}

.about-the-artwork-3 .rectangle-63-2 {
  background-color: var(--cape-cod);
  height: 3606px;
  left: 483px;
  position: absolute;
  top: 185px;
  width: 843px;
}

.about-the-artwork-3 .ellipse-56-2 {
  background-color: var(--perano-2);
  border-radius: 391.13px/297.29px;
  height: 595px;
  left: 0;
  position: absolute;
  top: 0;
  width: 782px;
}

.about-the-artwork-3 .ellipse-40-2 {
  background-color: var(--jordy-blue);
  border-radius: 329.18px/182.61px;
  height: 365px;
  left: 460px;
  position: absolute;
  top: 265px;
  width: 658px;
}

.about-the-artwork-3 .the-artwork-2 {
  color: var(--carnation-pink);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 50px;
  font-weight: 400;
  height: 299px;
  left: 1048px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 483px;
  width: 289px;
}

.about-the-artwork-3 .group-90 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-101@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 119px;
  justify-content: flex-end;
  left: 1176px;
  min-width: 159px;
  padding: 13.7px 40.8px;
  position: absolute;
  top: 160px;
}

.about-the-artwork-3 .group-42-2 {
  display: flex;
  height: 66px;
  width: 66px;
}

.about-the-artwork-3 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 65.52px;
}

.about-the-artwork-3 .overlap-group-3 {
  height: 66px;
  position: relative;
  width: 66px;
}

.about-the-artwork-3 .path-4-2 {
  height: 17px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 61px;
}

.about-the-artwork-3 .group-38-4 {
  display: flex;
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 66px;
}

.about-the-artwork-3 .group-39-2 {
  display: flex;
  flex: 1;
  width: 65.52px;
}

.about-the-artwork-3 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 11.1px 0;
  width: 65.52px;
}

.about-the-artwork-3 .group-2-2-2 {
  background-image: url(../img/path-5-2-78@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 17px;
  width: 61px;
}

.about-the-artwork-3 .ellipse-41-2 {
  background-color: var(--chicago);
  border-radius: 253.5px/211px;
  height: 422px;
  left: 788px;
  position: absolute;
  top: 610px;
  width: 507px;
}

.about-the-artwork-3 .name-8 {
  height: 33px;
  left: 924px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 576px;
  white-space: nowrap;
  width: 114px;
}

.about-the-artwork-3 .image-1-2 {
  height: 397px;
  left: 1048px;
  object-fit: cover;
  position: absolute;
  top: 647px;
  width: 256px;
}

.about-the-artwork-3 .rita-fei-is-an-illus-2 {
  height: 332px;
  left: 847px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: right;
  top: 696px;
  width: 191px;
}

.about-the-artwork-3 .group-148-2 {
  background-image: url(../img/group-116-5@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 213px;
  left: 493px;
  position: absolute;
  top: 260px;
  width: 221px;
}

.about-the-artwork-3 .nikunj-is-an-aspir-2 {
  height: 243px;
  left: 673px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 363px;
  width: 196px;
}

.about-the-artwork-3 .nikunj-1 {
  height: 33px;
  left: 725px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 228px;
  white-space: nowrap;
  width: 114px;
}

.about-the-artwork-3 .mask-group-3-2 {
  display: flex;
  height: 365px;
  justify-content: flex-end;
  left: 460px;
  position: absolute;
  top: 265px;
  width: 658px;
}

.about-the-artwork-3 .group-30-1 {
  margin-bottom: 14.6px;
  margin-right: 67.4px;
  margin-top: 51.0px;
  object-fit: cover;
  width: 209.81px;
}

.about-the-artwork-3 .path-4022-2 {
  height: 428px;
  left: 391px;
  object-fit: cover;
  position: absolute;
  top: 647px;
  width: 383px;
}

.about-the-artwork-3 .mori-is-a-digital-2 {
  height: 342px;
  left: 511px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 746px;
  width: 238px;
}

.about-the-artwork-3 .place-6 {
  height: 34px;
  left: 511px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 622px;
  white-space: nowrap;
  width: 161px;
}

.about-the-artwork-3 .ellipse-53-2 {
  background-color: var(--chicago);
  border-radius: 293.5px/355px;
  height: 710px;
  left: 610px;
  position: absolute;
  top: 2059px;
  width: 587px;
}

.about-the-artwork-3 .dustin-jacobus-is-a-2 {
  height: 279px;
  left: 675px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 2375px;
  width: 461px;
}

.about-the-artwork-3 .whats-app-image-2021-12-24-at-94502-am-2 {
  height: 288px;
  left: 740px;
  object-fit: cover;
  position: absolute;
  top: 2043px;
  width: 329px;
}

.about-the-artwork-3 .name-9 {
  height: 34px;
  left: 595px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 2254px;
  white-space: nowrap;
  width: 620px;
}

.about-the-artwork-3 .ellipse-51-2 {
  background-color: var(--chicago);
  border-radius: 293.5px/182.5px;
  height: 365px;
  left: 896px;
  position: absolute;
  top: 1055px;
  width: 587px;
}

.about-the-artwork-3 .whats-app-image-2022-01-11-at-91544-am-2 {
  height: 516px;
  left: 817px;
  object-fit: cover;
  position: absolute;
  top: 1318px;
  width: 509px;
}

.about-the-artwork-3 .becky-bolton-and-lou-2 {
  height: 290px;
  left: 954px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: right;
  top: 1147px;
  width: 352px;
}

.about-the-artwork-3 .goodwives-and-warriors-2 {
  height: 77px;
  left: 1067px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  text-align: right;
  top: 1072px;
  width: 239px;
}

.about-the-artwork-3 .ellipse-52-2 {
  background-color: var(--sonic-silver);
  border-radius: 282.44px/169.79px;
  height: 340px;
  left: 632px;
  position: absolute;
  top: 1660px;
  width: 565px;
}

.about-the-artwork-3 .blood-oil-2 {
  height: 372px;
  left: 590px;
  object-fit: cover;
  position: absolute;
  top: 1576px;
  width: 264px;
}

.about-the-artwork-3 .joo-queiroz-is-a-br-2 {
  height: 403px;
  left: 872px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 1742px;
  width: 262px;
}

.about-the-artwork-3 .group-151-1 {
  display: flex;
  height: 32px;
  left: 844px;
  position: absolute;
  top: 1710px;
  width: 272px;
}

.about-the-artwork-3 .joo-queiroz-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 200px;
  margin-bottom: 81.5px;
  margin-right: -2px;
  margin-top: -83.5px;
  text-align: center;
  white-space: nowrap;
  width: 271.78px;
}

.about-the-artwork-3 .text-3 {
  color: var(--carnation-pink);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 15px;
  font-weight: 400;
  left: 916px;
  letter-spacing: 0;
  line-height: 74px;
  position: absolute;
  text-align: center;
  top: 1673px;
  white-space: nowrap;
}

.about-the-artwork-3 .ellipse-54-2 {
  background-color: var(--sonic-silver);
  border-radius: 307.5px/182px;
  height: 364px;
  left: 446px;
  position: absolute;
  top: 3014px;
  width: 615px;
}

.about-the-artwork-3 .hal-hefner-is-an-ill-2 {
  height: 290px;
  left: 523px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: right;
  top: 3112px;
  width: 307px;
}

.about-the-artwork-3 .name-10 {
  height: 77px;
  left: 675px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 3075px;
  width: 211px;
}

.about-the-artwork-3 .ellipse-55-2 {
  background-color: var(--chicago);
  border-radius: 294px/181.5px;
  height: 363px;
  left: 674px;
  position: absolute;
  top: 3380px;
  width: 588px;
}

.about-the-artwork-3 .nico-lob-is-a-south-2 {
  height: 290px;
  left: 709px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: right;
  top: 3483px;
  width: 307px;
}

.about-the-artwork-3 .name-11 {
  height: 34px;
  left: 861px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  text-align: right;
  top: 3443px;
  white-space: nowrap;
  width: 155px;
}

.about-the-artwork-3 .er_-illustration2_d-jacobus-small-1-2 {
  cursor: pointer;
  height: 487px;
  left: 519px;
  object-fit: cover;
  position: absolute;
  top: 2513px;
  width: 771px;
}

.about-the-artwork-3 .whats-app-image-2021-12-24-at-94513-am-2 {
  height: 338px;
  left: 511px;
  object-fit: cover;
  position: absolute;
  top: 1012px;
  width: 249px;
}

.about-the-artwork-3 .rectangle-68-1 {
  background-color: var(--fuscous-gray);
  height: 306px;
  left: 904px;
  position: absolute;
  top: 3066px;
  width: 259px;
}

.about-the-artwork-3 .artwork-comingsoon-4 {
  height: 183px;
  left: 923px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  top: 3075px;
  width: 321px;
}

.about-the-artwork-3 .rectangle-69-1 {
  background-color: var(--fuscous-gray);
  height: 353px;
  left: 1048px;
  position: absolute;
  top: 3390px;
  width: 242px;
}

.about-the-artwork-3 .artwork-comingsoon-5 {
  height: 183px;
  left: 943px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: right;
  top: 3421px;
  width: 321px;
}

.about-the-artwork-3 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 654px;
  min-width: 132px;
  position: absolute;
  top: 211px;
}

.about-the-artwork-3 .overlap-group1-2 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.about-the-artwork-3 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.about-the-artwork-3 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.about-the-artwork-3 .component-7-160 {
  display: flex;
  height: 45px;
  left: 532px;
  position: absolute;
  top: 215px;
  width: 86px;
}

.about-the-artwork-3 .place-7 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.about-the-artwork-3 .component-8-194 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1070px;
  position: absolute;
  top: 216px;
  width: 103px;
}

.about-the-artwork-3 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}

.about-the-artwork-3 .component-9-159 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 920px;
  position: absolute;
  top: 216px;
  width: 110px;
}

.about-the-artwork-3 .place-8 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.about-the-artwork-3 .component-3-158 {
  display: flex;
  height: 46px;
  left: 780px;
  position: absolute;
  top: 215px;
  width: 172px;
}

.about-the-artwork-3 .stories-2 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}
@media screen and (max-width: 1279px) {
  .screen.about-the-artwork-1 { 
    display: none;
   }
  .screen.about-the-artwork-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.about-the-artwork-1 { 
    display: none;
   }
  .screen.about-the-artwork-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.about-the-artwork-2 { 
    display: none;
   }
  .screen.about-the-artwork-3 { 
    display: none;
   }
}