/* screen - about-the-prizes-1 */

.about-the-prizes-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2841px;
  overflow: hidden;
  width: 1920px;
}

.about-the-prizes-1 .overlap-group2 {
  height: 2916px;
  margin-top: -75.0px;
  position: relative;
  width: 2269px;
}

.about-the-prizes-1 .rectangle-40 {
  background-color: var(--hopbush);
  height: 2841px;
  left: 0;
  position: absolute;
  top: 75px;
  width: 1920px;
}

.about-the-prizes-1 .ellipse-26 {
  background-color: var(--lightning-yellow-2);
  border-radius: 1109px/581px;
  height: 1162px;
  left: 51px;
  position: absolute;
  top: 131px;
  width: 2218px;
}

.about-the-prizes-1 .about-the-prizes {
  color: var(--glossy-grape);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 90px;
  font-weight: 400;
  height: 158px;
  left: 700px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 179px;
  white-space: nowrap;
  width: 721px;
}

.about-the-prizes-1 .the-winning-stories {
  height: 786px;
  left: 700px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 371px;
  width: 1137px;
}

.about-the-prizes-1 .orchid {
  background-image: url(../img/orchid@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 743px;
  left: 0;
  position: absolute;
  top: 274px;
  width: 700px;
}

.about-the-prizes-1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 1605px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 0;
}

.about-the-prizes-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.about-the-prizes-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.about-the-prizes-1 .overlap-group {
  height: 151px;
  position: relative;
  width: 149px;
}

.about-the-prizes-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.about-the-prizes-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.about-the-prizes-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.about-the-prizes-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0.0px;
  width: 149.11px;
}

.about-the-prizes-1 .group-2-2 {
  background-image: url(../img/path-5-2-23@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.about-the-prizes-1 .screenshot-2022-01-28-at-184240 {
  height: 333px;
  left: 134px;
  object-fit: cover;
  position: absolute;
  top: 1168px;
  width: 328px;
}

.about-the-prizes-1 .screenshot-2022-01-28-at-184334 {
  height: 333px;
  left: 1003px;
  object-fit: cover;
  position: absolute;
  top: 1168px;
  width: 331px;
}

.about-the-prizes-1 .image-4 {
  height: 334px;
  left: 989px;
  object-fit: cover;
  position: absolute;
  top: 1569px;
  width: 345px;
}

.about-the-prizes-1 .image-1 {
  height: 331px;
  left: 134px;
  object-fit: cover;
  position: absolute;
  top: 1571px;
  width: 332px;
}

.about-the-prizes-1 .image-6 {
  height: 332px;
  left: 569px;
  object-fit: cover;
  position: absolute;
  top: 1168px;
  width: 332px;
}

.about-the-prizes-1 .image-2 {
  height: 331px;
  left: 569px;
  object-fit: cover;
  position: absolute;
  top: 1571px;
  width: 332px;
}

.about-the-prizes-1 .image-6-1 {
  height: 356px;
  left: 557px;
  object-fit: cover;
  position: absolute;
  top: 1973px;
  width: 356px;
}

.about-the-prizes-1 .screenshot-2022-01-28-at-183842 {
  height: 357px;
  left: 134px;
  object-fit: cover;
  position: absolute;
  top: 1973px;
  width: 329px;
}

.about-the-prizes-1 .image-5 {
  height: 356px;
  left: 978px;
  object-fit: cover;
  position: absolute;
  top: 1973px;
  width: 356px;
}

.about-the-prizes-1 .image-3 {
  height: 345px;
  left: 134px;
  object-fit: cover;
  position: absolute;
  top: 2404px;
  width: 346px;
}

.about-the-prizes-1 .image-7 {
  height: 345px;
  left: 989px;
  object-fit: cover;
  position: absolute;
  top: 2404px;
  width: 345px;
}

.about-the-prizes-1 .mask-group-7 {
  height: 345px;
  left: 1441px;
  object-fit: cover;
  position: absolute;
  top: 2404px;
  width: 346px;
}

.about-the-prizes-1 .mask-group-5 {
  height: 349px;
  left: 1438px;
  object-fit: cover;
  position: absolute;
  top: 1571px;
  width: 349px;
}

.about-the-prizes-1 .mask-group-6 {
  height: 333px;
  left: 1454px;
  object-fit: cover;
  position: absolute;
  top: 1168px;
  width: 333px;
}

.about-the-prizes-1 .mask-group-4 {
  height: 345px;
  left: 1442px;
  object-fit: cover;
  position: absolute;
  top: 1989px;
  width: 345px;
}

.about-the-prizes-1 .whats-app-image-2022-01-29-at-22015-pm {
  height: 341px;
  left: 551px;
  object-fit: cover;
  position: absolute;
  top: 2408px;
  width: 367px;
}

.about-the-prizes-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 167px;
  min-width: 132px;
  position: absolute;
  top: 101px;
}

.about-the-prizes-1 .overlap-group1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.about-the-prizes-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.about-the-prizes-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.about-the-prizes-1 .component-7-162 {
  display: flex;
  height: 45px;
  left: 45px;
  position: absolute;
  top: 105px;
  width: 86px;
}

.about-the-prizes-1 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.about-the-prizes-1 .component-9-161 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 433px;
  position: absolute;
  top: 106px;
  width: 110px;
}

.about-the-prizes-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.about-the-prizes-1 .component-3-160 {
  display: flex;
  height: 46px;
  left: 293px;
  position: absolute;
  top: 105px;
  width: 172px;
}

.about-the-prizes-1 .stories {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.about-the-prizes-1 .component-8-196 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 583px;
  position: absolute;
  top: 106px;
  width: 103px;
}

.about-the-prizes-1 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - about-the-prizes-2 */

.about-the-prizes-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1814px;
  overflow: hidden;
  width: 1280px;
}

.about-the-prizes-2 .overlap-group2-1 {
  height: 1868px;
  margin-top: -35.0px;
  position: relative;
  width: 1517px;
}

.about-the-prizes-2 .rectangle-40-1 {
  background-color: var(--hopbush);
  height: 1833px;
  left: 0;
  position: absolute;
  top: 35px;
  width: 1280px;
}

.about-the-prizes-2 .ellipse-38 {
  background-color: var(--lightning-yellow-2);
  border-radius: 740.5px/388px;
  height: 776px;
  left: 36px;
  position: absolute;
  top: 111px;
  width: 1481px;
}

.about-the-prizes-2 .orchid-1 {
  background-image: url(../img/orchid-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 413px;
  left: 0;
  position: absolute;
  top: 340px;
  width: 389px;
}

.about-the-prizes-2 .about-the-prizes-3 {
  color: var(--glossy-grape);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 69px;
  font-weight: 400;
  height: 106px;
  left: 401px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 87px;
  white-space: nowrap;
  width: 645px;
}

.about-the-prizes-2 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1072px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 0;
}

.about-the-prizes-2 .group-42-1 {
  display: flex;
  height: 101px;
  width: 99px;
}

.about-the-prizes-2 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.about-the-prizes-2 .overlap-group-1 {
  height: 101px;
  position: relative;
  width: 99px;
}

.about-the-prizes-2 .path-4-1 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.about-the-prizes-2 .group-38-2 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.about-the-prizes-2 .group-39-1 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.about-the-prizes-2 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 16.9px 0.0px;
  width: 99.47px;
}

.about-the-prizes-2 .group-2-2-1 {
  background-image: url(../img/path-5-2-40@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.about-the-prizes-2 .screenshot-2022-01-28-at-184240-1 {
  height: 206px;
  left: 143px;
  object-fit: cover;
  position: absolute;
  top: 754px;
  width: 203px;
}

.about-the-prizes-2 .screenshot-2022-01-28-at-184334-1 {
  height: 206px;
  left: 682px;
  object-fit: cover;
  position: absolute;
  top: 754px;
  width: 205px;
}

.about-the-prizes-2 .image-4-1 {
  height: 206px;
  left: 673px;
  object-fit: cover;
  position: absolute;
  top: 1003px;
  width: 214px;
}

.about-the-prizes-2 .image-1-1 {
  height: 206px;
  left: 143px;
  object-fit: cover;
  position: absolute;
  top: 1004px;
  width: 206px;
}

.about-the-prizes-2 .image-6-2 {
  height: 206px;
  left: 413px;
  object-fit: cover;
  position: absolute;
  top: 754px;
  width: 205px;
}

.about-the-prizes-2 .image-2-1 {
  height: 206px;
  left: 413px;
  object-fit: cover;
  position: absolute;
  top: 1004px;
  width: 205px;
}

.about-the-prizes-2 .image-6-3 {
  height: 221px;
  left: 405px;
  object-fit: cover;
  position: absolute;
  top: 1253px;
  width: 221px;
}

.about-the-prizes-2 .screenshot-2022-01-28-at-183842-1 {
  height: 222px;
  left: 143px;
  object-fit: cover;
  position: absolute;
  top: 1253px;
  width: 204px;
}

.about-the-prizes-2 .image-5-1 {
  height: 221px;
  left: 666px;
  object-fit: cover;
  position: absolute;
  top: 1253px;
  width: 221px;
}

.about-the-prizes-2 .image-3-1 {
  height: 214px;
  left: 143px;
  object-fit: cover;
  position: absolute;
  top: 1520px;
  width: 214px;
}

.about-the-prizes-2 .image-7-1 {
  height: 214px;
  left: 673px;
  object-fit: cover;
  position: absolute;
  top: 1520px;
  width: 214px;
}

.about-the-prizes-2 .whats-app-image-2022-01-29-at-22015-pm-1 {
  height: 211px;
  left: 401px;
  object-fit: cover;
  position: absolute;
  top: 1522px;
  width: 228px;
}

.about-the-prizes-2 .mask-group-7-1 {
  height: 214px;
  left: 953px;
  object-fit: cover;
  position: absolute;
  top: 1520px;
  width: 214px;
}

.about-the-prizes-2 .mask-group-5-1 {
  height: 216px;
  left: 951px;
  object-fit: cover;
  position: absolute;
  top: 1004px;
  width: 216px;
}

.about-the-prizes-2 .mask-group-6-1 {
  height: 206px;
  left: 961px;
  object-fit: cover;
  position: absolute;
  top: 754px;
  width: 206px;
}

.about-the-prizes-2 .mask-group-4-1 {
  height: 214px;
  left: 954px;
  object-fit: cover;
  position: absolute;
  top: 1263px;
  width: 213px;
}

.about-the-prizes-2 .the-winning-stories-1 {
  height: 786px;
  left: 401px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 237px;
  width: 817px;
}

.about-the-prizes-2 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 167px;
  min-width: 132px;
  position: absolute;
  top: 61px;
}

.about-the-prizes-2 .overlap-group1-1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.about-the-prizes-2 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.about-the-prizes-2 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.about-the-prizes-2 .component-7-163 {
  display: flex;
  height: 45px;
  left: 45px;
  position: absolute;
  top: 65px;
  width: 86px;
}

.about-the-prizes-2 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.about-the-prizes-2 .component-9-162 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 433px;
  position: absolute;
  top: 66px;
  width: 110px;
}

.about-the-prizes-2 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.about-the-prizes-2 .component-3-161 {
  display: flex;
  height: 46px;
  left: 293px;
  position: absolute;
  top: 65px;
  width: 172px;
}

.about-the-prizes-2 .stories-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.about-the-prizes-2 .component-8-197 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 583px;
  position: absolute;
  top: 66px;
  width: 103px;
}

.about-the-prizes-2 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - about-the-prizes-3 */

.about-the-prizes-3-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1518px;
  overflow: hidden;
  width: 834px;
}

.about-the-prizes-3-1 .overlap-group2-2 {
  height: 1747px;
  margin-left: -57px;
  margin-top: -25.0px;
  position: relative;
  width: 1582px;
}

.about-the-prizes-3-1 .rectangle-60 {
  background-color: var(--hopbush);
  height: 1724px;
  left: 57px;
  position: absolute;
  top: 23px;
  width: 834px;
}

.about-the-prizes-3-1 .ellipse-38-1 {
  background-color: var(--lightning-yellow-2);
  border-radius: 765.72px/498.3px;
  height: 997px;
  left: 25px;
  position: absolute;
  top: 117px;
  transform: rotate(3.00deg);
  width: 1531px;
}

.about-the-prizes-3-1 .orchid-2 {
  background-image: url(../img/orchid-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 416px;
  left: 41px;
  position: absolute;
  top: 165px;
  width: 392px;
}

.about-the-prizes-3-1 .about-the-prizes-4 {
  color: var(--glossy-grape);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 106px;
  left: 474px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 98px;
  white-space: nowrap;
  width: 317px;
}

.about-the-prizes-3-1 .group-153 {
  align-items: flex-start;
  display: flex;
  height: 639px;
  left: 140px;
  min-width: 668px;
  position: absolute;
  top: 818px;
}

.about-the-prizes-3-1 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 639px;
  min-width: 485px;
}

.about-the-prizes-3-1 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 639px;
  width: 140px;
}

.about-the-prizes-3-1 .screenshot-2022-01-28-at-184240-2 {
  height: 134px;
  object-fit: cover;
  width: 132px;
}

.about-the-prizes-3-1 .image-1-2 {
  height: 134px;
  margin-top: 29px;
  object-fit: cover;
  width: 134px;
}

.about-the-prizes-3-1 .screenshot-2022-01-28-at-183842-2 {
  height: 144px;
  margin-top: 29px;
  object-fit: cover;
  width: 133px;
}

.about-the-prizes-3-1 .image-3-2 {
  height: 139px;
  margin-top: 30px;
  object-fit: cover;
  width: 140px;
}

.about-the-prizes-3-1 .image-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 28px;
  min-height: 639px;
  width: 149px;
}

.about-the-prizes-3-1 .image-6-4 {
  height: 134px;
  margin-left: 1.0px;
  object-fit: cover;
  width: 134px;
}

.about-the-prizes-3-1 .image-2-2 {
  height: 134px;
  margin-left: 1.0px;
  margin-top: 29px;
  object-fit: cover;
  width: 134px;
}

.about-the-prizes-3-1 .image-6-5 {
  height: 144px;
  margin-left: 1.0px;
  margin-top: 29px;
  object-fit: cover;
  width: 144px;
}

.about-the-prizes-3-1 .whats-app-image-2022-01-29-at-22015-pm-2 {
  height: 138px;
  margin-top: 31px;
  object-fit: cover;
  width: 149px;
}

.about-the-prizes-3-1 .flex-col-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 639px;
  width: 144px;
}

.about-the-prizes-3-1 .screenshot-2022-01-28-at-184334-2 {
  height: 134px;
  object-fit: cover;
  width: 133px;
}

.about-the-prizes-3-1 .image-4-2 {
  height: 136px;
  margin-top: 28px;
  object-fit: cover;
  width: 139px;
}

.about-the-prizes-3-1 .image-5-2 {
  height: 144px;
  margin-top: 28px;
  object-fit: cover;
  width: 144px;
}

.about-the-prizes-3-1 .image-7-2 {
  height: 139px;
  margin-top: 30px;
  object-fit: cover;
  width: 139px;
}

.about-the-prizes-3-1 .mask-group-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 42px;
  min-height: 639px;
  width: 141px;
}

.about-the-prizes-3-1 .mask-group-6-2 {
  height: 134px;
  object-fit: cover;
  width: 134px;
}

.about-the-prizes-3-1 .mask-group-5-2 {
  height: 141px;
  margin-top: 29px;
  object-fit: cover;
  width: 141px;
}

.about-the-prizes-3-1 .mask-group-4-2 {
  height: 140px;
  margin-top: 28px;
  object-fit: cover;
  width: 139px;
}

.about-the-prizes-3-1 .mask-group-7-2 {
  height: 139px;
  margin-top: 28px;
  object-fit: cover;
  width: 140px;
}

.about-the-prizes-3-1 .the-winning-stories-2 {
  height: 288px;
  left: 474px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 253px;
  width: 341px;
}

.about-the-prizes-3-1 .our-other-2021-prize {
  left: 386px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 480px;
  width: 450px;
}

.about-the-prizes-3-1 .group-90 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-101@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 119px;
  justify-content: flex-end;
  left: 746px;
  min-width: 159px;
  padding: 13.7px 40.8px;
  position: absolute;
  top: 0;
}

.about-the-prizes-3-1 .group-42-2 {
  display: flex;
  height: 66px;
  width: 66px;
}

.about-the-prizes-3-1 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 65.52px;
}

.about-the-prizes-3-1 .overlap-group-2 {
  height: 66px;
  position: relative;
  width: 66px;
}

.about-the-prizes-3-1 .path-4-2 {
  height: 17px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 61px;
}

.about-the-prizes-3-1 .group-38-4 {
  display: flex;
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 66px;
}

.about-the-prizes-3-1 .group-39-2 {
  display: flex;
  flex: 1;
  width: 65.52px;
}

.about-the-prizes-3-1 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 11.1px 0;
  width: 65.52px;
}

.about-the-prizes-3-1 .group-2-2-2 {
  background-image: url(../img/path-5-2-78@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 17px;
  width: 61px;
}

.about-the-prizes-3-1 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 224px;
  min-width: 132px;
  position: absolute;
  top: 51px;
}

.about-the-prizes-3-1 .overlap-group1-2 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.about-the-prizes-3-1 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.about-the-prizes-3-1 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.about-the-prizes-3-1 .component-7-164 {
  display: flex;
  height: 45px;
  left: 102px;
  position: absolute;
  top: 55px;
  width: 86px;
}

.about-the-prizes-3-1 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.about-the-prizes-3-1 .component-9-163 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 490px;
  position: absolute;
  top: 56px;
  width: 110px;
}

.about-the-prizes-3-1 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.about-the-prizes-3-1 .component-3-162 {
  display: flex;
  height: 46px;
  left: 350px;
  position: absolute;
  top: 55px;
  width: 172px;
}

.about-the-prizes-3-1 .stories-2 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.about-the-prizes-3-1 .component-8-198 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 640px;
  position: absolute;
  top: 56px;
  width: 103px;
}

.about-the-prizes-3-1 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
@media screen and (max-width: 1279px) {
  .screen.about-the-prizes-1 { 
    display: none;
   }
  .screen.about-the-prizes-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.about-the-prizes-1 { 
    display: none;
   }
  .screen.about-the-prizes-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.about-the-prizes-2 { 
    display: none;
   }
  .screen.about-the-prizes-3 { 
    display: none;
   }
}