/* screen - donate-1 */

.donate-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.donate-1 .overlap-group2 {
  height: 1703px;
  margin-top: -623px;
  position: relative;
  width: 2283px;
}

.donate-1 .rectangle-41 {
  background-color: var(--jordy-blue);
  height: 1080px;
  left: 0;
  position: absolute;
  top: 623px;
  width: 1920px;
}

.donate-1 .path-4024 {
  height: 1626px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2211px;
}

.donate-1 .donate {
  color: var(--hopbush);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 139px;
  font-weight: 400;
  height: 161px;
  left: 1004px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: right;
  top: 782px;
  white-space: nowrap;
  width: 603px;
}

.donate-1 .bee_side-recovered {
  height: 759px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 784px;
  width: 738px;
}

.donate-1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 1605px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 548px;
}

.donate-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.donate-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.donate-1 .overlap-group {
  height: 151px;
  position: relative;
  width: 149px;
}

.donate-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.donate-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.donate-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.donate-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0.0px;
  width: 149.11px;
}

.donate-1 .group-2-2 {
  background-image: url(../img/path-5-2-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.donate-1 .the-2021-solarpunk-s {
  height: 389px;
  left: 712px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  text-align: right;
  top: 1011px;
  width: 1137px;
}

.donate-1 .please-click-here-to {
  color: var(--black);
  cursor: pointer;
  font-family: var(--font-family-crimson_text);
  font-size: 45px;
  font-weight: 400;
  height: 119px;
  left: 729px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 1430px;
  width: 970px;
}

.donate-1 .span1 {
  color: var(--razzmatazz);
  text-decoration: underline;
}

.donate-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 167px;
  min-width: 132px;
  position: absolute;
  top: 649px;
}

.donate-1 .overlap-group1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.donate-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.donate-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.donate-1 .component-7-168 {
  display: flex;
  height: 45px;
  left: 45px;
  position: absolute;
  top: 653px;
  width: 86px;
}

.donate-1 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.donate-1 .component-9-167 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 433px;
  position: absolute;
  top: 654px;
  width: 110px;
}

.donate-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.donate-1 .component-3-166 {
  display: flex;
  height: 46px;
  left: 293px;
  position: absolute;
  top: 653px;
  width: 172px;
}

.donate-1 .stories {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.donate-1 .component-8-202 {
  display: flex;
  height: 45px;
  left: 583px;
  position: absolute;
  top: 654px;
  width: 103px;
}

.donate-1 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - donate-2 */

.donate-2-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 800px;
  overflow: hidden;
  width: 1280px;
}

.donate-2-1 .overlap-group2-1 {
  height: 1179px;
  margin-top: -377px;
  position: relative;
  width: 1896px;
}

.donate-2-1 .rectangle-41-1 {
  background-color: var(--jordy-blue);
  height: 800px;
  left: 0;
  position: absolute;
  top: 377px;
  width: 1280px;
}

.donate-2-1 .ellipse-20 {
  background-color: var(--cream-brulee);
  border-radius: 919px/557.5px;
  height: 1115px;
  left: 58px;
  opacity: 1.0;
  position: absolute;
  top: 0;
  width: 1838px;
}

.donate-2-1 .donate-3 {
  color: var(--hopbush);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 109px;
  font-weight: 400;
  height: 161px;
  left: 699px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 398px;
  white-space: nowrap;
  width: 375px;
}

.donate-2-1 .bee_side-recovered-1 {
  height: 511px;
  left: 54px;
  object-fit: cover;
  position: absolute;
  top: 522px;
  width: 497px;
}

.donate-2-1 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1072px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 325px;
}

.donate-2-1 .group-42-1 {
  display: flex;
  height: 101px;
  width: 99px;
}

.donate-2-1 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.donate-2-1 .overlap-group-1 {
  height: 101px;
  position: relative;
  width: 99px;
}

.donate-2-1 .path-4-1 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.donate-2-1 .group-38-2 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.donate-2-1 .group-39-1 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.donate-2-1 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 16.9px 0.0px;
  width: 99.47px;
}

.donate-2-1 .group-2-2-1 {
  background-image: url(../img/path-5-2-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.donate-2-1 .the-2021-solarpunk-s-1 {
  height: 586px;
  left: 551px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: right;
  top: 593px;
  width: 673px;
}

.donate-2-1 .please-click-here {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: 30px;
  font-weight: 400;
  left: 254px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: right;
  top: 929px;
  width: 970px;
}

.donate-2-1 .span2 {
  text-decoration: underline;
}

.donate-2-1 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 167px;
  min-width: 132px;
  position: absolute;
  top: 403px;
}

.donate-2-1 .overlap-group1-1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.donate-2-1 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.donate-2-1 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.donate-2-1 .component-7-169 {
  display: flex;
  height: 45px;
  left: 45px;
  position: absolute;
  top: 407px;
  width: 86px;
}

.donate-2-1 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.donate-2-1 .component-9-168 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 433px;
  position: absolute;
  top: 408px;
  width: 110px;
}

.donate-2-1 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.donate-2-1 .component-3-167 {
  display: flex;
  height: 46px;
  left: 293px;
  position: absolute;
  top: 407px;
  width: 172px;
}

.donate-2-1 .stories-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.donate-2-1 .component-8-203 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 583px;
  position: absolute;
  top: 408px;
  width: 103px;
}

.donate-2-1 .donate-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - donate-3 */

.donate-3-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1194px;
  overflow: hidden;
  width: 834px;
}

.donate-3-1 .overlap-group2-2 {
  height: 1896px;
  margin-top: -701.76px;
  position: relative;
  width: 1128px;
}

.donate-3-1 .rectangle-41-2 {
  background-color: var(--jordy-blue);
  height: 834px;
  left: -180px;
  position: absolute;
  top: 882px;
  transform: rotate(90deg);
  width: 1194px;
}

.donate-3-1 .ellipse-20-1 {
  background-color: var(--cream-brulee);
  border-radius: 929.26px/563.89px;
  height: 1128px;
  left: -365px;
  opacity: 1.0;
  position: absolute;
  top: 365px;
  transform: rotate(90deg);
  width: 1859px;
}

.donate-3-1 .donate-5 {
  color: var(--hopbush);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 109px;
  font-weight: 400;
  height: 161px;
  left: 318px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 804px;
  white-space: nowrap;
  width: 375px;
}

.donate-3-1 .bee_side-recovered-2 {
  height: 512px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 1244px;
  width: 498px;
}

.donate-3-1 .group-122 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-106@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 119px;
  justify-content: flex-end;
  left: 691px;
  min-width: 158px;
  padding: 14.8px 40.3px;
  position: absolute;
  top: 677px;
}

.donate-3-1 .group-42-2 {
  display: flex;
  height: 66px;
  width: 65px;
}

.donate-3-1 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 64.9px;
}

.donate-3-1 .overlap-group-2 {
  height: 66px;
  position: relative;
  width: 65px;
}

.donate-3-1 .path-4-2 {
  height: 16px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 49px;
  width: 60px;
}

.donate-3-1 .group-38-4 {
  display: flex;
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 65px;
}

.donate-3-1 .group-39-2 {
  display: flex;
  flex: 1;
  width: 64.9px;
}

.donate-3-1 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 11.0px 0;
  width: 64.9px;
}

.donate-3-1 .group-2-2-2 {
  background-image: url(../img/path-5-2-108@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  width: 60px;
}

.donate-3-1 .the-2021-solarpunk-s-2 {
  height: 586px;
  left: 193px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: right;
  top: 1009px;
  width: 579px;
}

.donate-3-1 .please-click-here-1 {
  left: 480px;
  letter-spacing: 0;
  line-height: 45px;
  position: absolute;
  text-align: center;
  top: 1333px;
  width: 286px;
}

.donate-3-1 .span2-1 {
  text-decoration: underline;
}

.donate-3-1 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 167px;
  min-width: 132px;
  position: absolute;
  top: 728px;
}

.donate-3-1 .overlap-group1-2 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.donate-3-1 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.donate-3-1 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.donate-3-1 .component-7-170 {
  display: flex;
  height: 45px;
  left: 45px;
  position: absolute;
  top: 732px;
  width: 86px;
}

.donate-3-1 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.donate-3-1 .component-9-169 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 433px;
  position: absolute;
  top: 733px;
  width: 110px;
}

.donate-3-1 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.donate-3-1 .component-3-168 {
  display: flex;
  height: 46px;
  left: 293px;
  position: absolute;
  top: 732px;
  width: 172px;
}

.donate-3-1 .stories-2 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.donate-3-1 .component-8-204 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 583px;
  position: absolute;
  top: 733px;
  width: 103px;
}

.donate-3-1 .donate-6 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
@media screen and (max-width: 1279px) {
  .screen.donate-1 { 
    display: none;
   }
  .screen.donate-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.donate-1 { 
    display: none;
   }
  .screen.donate-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.donate-2 { 
    display: none;
   }
  .screen.donate-3 { 
    display: none;
   }
}