/* screen - flowers-1 */

.flowers-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 5697px;
  overflow: hidden;
  width: 1920px;
}

.flowers-1 .overlap-group2 {
  height: 5772px;
  margin-left: -614px;
  margin-top: -75.0px;
  position: relative;
  width: 3148px;
}

.flowers-1 .rectangle-42 {
  background-color: var(--mandy);
  height: 1080px;
  left: 614px;
  position: absolute;
  top: 75px;
  width: 1920px;
}

.flowers-1 .ellipse-21 {
  background-color: var(--peach-yellow);
  border-radius: 1574.18px/1261px;
  height: 2522px;
  left: 0;
  position: absolute;
  top: 299px;
  width: 3148px;
}

.flowers-1 .surname {
  height: 121px;
  left: 955px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 125px;
  white-space: nowrap;
  width: 1240px;
}

.flowers-1 .by-septimus-crowe {
  color: #100909;
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 49px;
  left: 1707px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 216px;
  width: 334px;
}

.flowers-1 .rectangle-55 {
  background-color: var(--peach-yellow);
  height: 4788px;
  left: 614px;
  position: absolute;
  top: 984px;
  width: 2037px;
}

.flowers-1 .never-do-this-im-n {
  left: 945px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 443px;
  width: 1378px;
}

.flowers-1 .rectangle-43 {
  height: 60px;
  left: 1233px;
  object-fit: cover;
  position: absolute;
  top: 352px;
  width: 799px;
}

.flowers-1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 2219px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 0;
}

.flowers-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.flowers-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.flowers-1 .overlap-group {
  height: 151px;
  position: relative;
  width: 149px;
}

.flowers-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.flowers-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.flowers-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.flowers-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0;
  width: 149.11px;
}

.flowers-1 .group-2-2 {
  background-image: url(../img/path-5-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.flowers-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 781px;
  min-width: 132px;
  position: absolute;
  top: 101px;
}

.flowers-1 .overlap-group1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.flowers-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.flowers-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.flowers-1 .component-7-241 {
  display: flex;
  height: 45px;
  left: 659px;
  position: absolute;
  top: 105px;
  width: 86px;
}

.flowers-1 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.flowers-1 .component-9-240 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1047px;
  position: absolute;
  top: 106px;
  width: 110px;
}

.flowers-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.flowers-1 .component-3-239 {
  display: flex;
  height: 46px;
  left: 907px;
  position: absolute;
  top: 105px;
  width: 172px;
}

.flowers-1 .stories {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.flowers-1 .component-8-275 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1197px;
  position: absolute;
  top: 106px;
  width: 103px;
}

.flowers-1 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - flowers-2 */

.flowers-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3677px;
  justify-content: center;
  overflow: hidden;
  width: 1280px;
}

.flowers-2 .overlap-group2-1 {
  height: 3729px;
  margin-top: -52.0px;
  position: relative;
  width: 1984px;
}

.flowers-2 .rectangle-42-1 {
  background-color: var(--mandy);
  height: 679px;
  left: 350px;
  position: absolute;
  top: 52px;
  width: 1283px;
}

.flowers-2 .ellipse-21-1 {
  background-color: var(--peach-yellow);
  border-radius: 991.81px/562px;
  height: 1124px;
  left: 0;
  position: absolute;
  top: 245px;
  width: 1984px;
}

.flowers-2 .surname-1 {
  height: 77px;
  left: 564px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 102px;
  white-space: nowrap;
  width: 781px;
}

.flowers-2 .by-septimus-crowe-1 {
  color: #120909;
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  height: 31px;
  left: 1138px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 204px;
  width: 212px;
}

.flowers-2 .rectangle-55-1 {
  background-color: var(--peach-yellow);
  height: 3105px;
  left: 350px;
  position: absolute;
  top: 624px;
  width: 1283px;
}

.flowers-2 .never-do-this-im-n-1 {
  left: 558px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 332px;
  width: 869px;
}

.flowers-2 .rectangle-43-1 {
  height: 38px;
  left: 740px;
  object-fit: cover;
  position: absolute;
  top: 275px;
  width: 504px;
}

.flowers-2 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1424px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 0;
}

.flowers-2 .group-42-1 {
  display: flex;
  height: 101px;
  width: 99px;
}

.flowers-2 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.flowers-2 .overlap-group-1 {
  height: 101px;
  position: relative;
  width: 99px;
}

.flowers-2 .path-4-1 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.flowers-2 .group-38-2 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.flowers-2 .group-39-1 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.flowers-2 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 16.9px 0;
  width: 99.47px;
}

.flowers-2 .group-2-2-1 {
  background-image: url(../img/path-5-2-48@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.flowers-2 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 519px;
  min-width: 132px;
  position: absolute;
  top: 78px;
}

.flowers-2 .overlap-group1-1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.flowers-2 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.flowers-2 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.flowers-2 .component-7-242 {
  display: flex;
  height: 45px;
  left: 397px;
  position: absolute;
  top: 82px;
  width: 86px;
}

.flowers-2 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.flowers-2 .component-9-241 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 785px;
  position: absolute;
  top: 83px;
  width: 110px;
}

.flowers-2 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.flowers-2 .component-3-240 {
  display: flex;
  height: 46px;
  left: 645px;
  position: absolute;
  top: 82px;
  width: 172px;
}

.flowers-2 .stories-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.flowers-2 .component-8-276 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 935px;
  position: absolute;
  top: 83px;
  width: 103px;
}

.flowers-2 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - flowers-3 */

.flowers-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3295px;
  justify-content: center;
  overflow: hidden;
  width: 834px;
}

.flowers-3 .overlap-group2-2 {
  height: 3317px;
  margin-top: -21.53px;
  position: relative;
  width: 1299px;
}

.flowers-3 .rectangle-42-2 {
  background-color: var(--mandy);
  height: 445px;
  left: 229px;
  position: absolute;
  top: 19px;
  width: 840px;
}

.flowers-3 .ellipse-21-2 {
  background-color: var(--peach-yellow);
  border-radius: 649.5px/371.28px;
  height: 743px;
  left: 0;
  position: absolute;
  top: 171px;
  width: 1299px;
}

.flowers-3 .surname-2 {
  height: 51px;
  left: 366px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 37px;
  white-space: nowrap;
  width: 512px;
}

.flowers-3 .by-septimus-crowe-2 {
  color: #120909;
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxxs);
  font-weight: 400;
  height: 24px;
  left: 774px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 137px;
  width: 181px;
}

.flowers-3 .rectangle-55-2 {
  background-color: var(--peach-yellow);
  height: 2751px;
  left: 229px;
  position: absolute;
  top: 565px;
  width: 840px;
}

.flowers-3 .never-do-this-im-n-2 {
  left: 366px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 224px;
  width: 569px;
}

.flowers-3 .group-124 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-109@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 112px;
  justify-content: flex-end;
  left: 928px;
  min-width: 149px;
  padding: 14.2px 38.5px;
  position: absolute;
  top: 0;
}

.flowers-3 .group-42-2 {
  display: flex;
  height: 62px;
  width: 61px;
}

.flowers-3 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 61.03px;
}

.flowers-3 .overlap-group-2 {
  height: 62px;
  position: relative;
  width: 61px;
}

.flowers-3 .path-4-2 {
  height: 15px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 56px;
}

.flowers-3 .group-38-4 {
  display: flex;
  height: 62px;
  left: 0;
  position: absolute;
  top: 0;
  width: 61px;
}

.flowers-3 .group-39-2 {
  display: flex;
  flex: 1;
  width: 61.03px;
}

.flowers-3 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 10.4px 0;
  width: 61.03px;
}

.flowers-3 .group-2-2-2 {
  background-image: url(../img/path-5-2-114@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 15px;
  width: 56px;
}

.flowers-3 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 399px;
  min-width: 132px;
  position: absolute;
  top: 48px;
}

.flowers-3 .overlap-group1-2 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.flowers-3 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.flowers-3 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.flowers-3 .component-7-243 {
  display: flex;
  height: 45px;
  left: 277px;
  position: absolute;
  top: 52px;
  width: 86px;
}

.flowers-3 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.flowers-3 .component-9-242 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 665px;
  position: absolute;
  top: 53px;
  width: 110px;
}

.flowers-3 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.flowers-3 .component-3-241 {
  display: flex;
  height: 46px;
  left: 525px;
  position: absolute;
  top: 52px;
  width: 172px;
}

.flowers-3 .stories-2 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.flowers-3 .component-8-277 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 815px;
  position: absolute;
  top: 53px;
  width: 103px;
}

.flowers-3 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
@media screen and (max-width: 1279px) {
  .screen.flowers-1 { 
    display: none;
   }
  .screen.flowers-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.flowers-1 { 
    display: none;
   }
  .screen.flowers-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.flowers-2 { 
    display: none;
   }
  .screen.flowers-3 { 
    display: none;
   }
}