/* screen - green-witch-1 */

.green-witch-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 5313px;
  overflow: hidden;
  width: 1920px;
}

.green-witch-1 .overlap-group2 {
  height: 5388px;
  margin-left: -556px;
  margin-top: -75.0px;
  position: relative;
  width: 3148px;
}

.green-witch-1 .rectangle-42 {
  background-color: var(--mandy);
  height: 1080px;
  left: 556px;
  position: absolute;
  top: 75px;
  width: 1920px;
}

.green-witch-1 .ellipse-21 {
  background-color: var(--peach-yellow);
  border-radius: 1574.18px/1009px;
  height: 2018px;
  left: 0;
  position: absolute;
  top: 310px;
  width: 3148px;
}

.green-witch-1 .surname {
  height: 121px;
  left: 828px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 136px;
  white-space: nowrap;
  width: 1240px;
}

.green-witch-1 .by-amy-townsend {
  height: 49px;
  left: 1383px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 236px;
  width: 334px;
}

.green-witch-1 .rectangle-55 {
  background-color: var(--peach-yellow);
  height: 4404px;
  left: 556px;
  position: absolute;
  top: 984px;
  width: 1969px;
}

.green-witch-1 .between-sunset-and-s {
  left: 828px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 458px;
  width: 1378px;
}

.green-witch-1 .rectangle-43 {
  height: 60px;
  left: 1175px;
  object-fit: cover;
  position: absolute;
  top: 358px;
  width: 799px;
}

.green-witch-1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 2161px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 0;
}

.green-witch-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.green-witch-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.green-witch-1 .overlap-group {
  height: 151px;
  position: relative;
  width: 149px;
}

.green-witch-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.green-witch-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.green-witch-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.green-witch-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0.0px;
  width: 149.11px;
}

.green-witch-1 .group-2-2 {
  background-image: url(../img/path-5-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.green-witch-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 723px;
  min-width: 132px;
  position: absolute;
  top: 101px;
}

.green-witch-1 .overlap-group1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.green-witch-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.green-witch-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.green-witch-1 .component-7-244 {
  display: flex;
  height: 45px;
  left: 601px;
  position: absolute;
  top: 105px;
  width: 86px;
}

.green-witch-1 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.green-witch-1 .component-9-243 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 989px;
  position: absolute;
  top: 106px;
  width: 110px;
}

.green-witch-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.green-witch-1 .component-3-242 {
  display: flex;
  height: 46px;
  left: 849px;
  position: absolute;
  top: 105px;
  width: 172px;
}

.green-witch-1 .stories {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.green-witch-1 .component-8-278 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1139px;
  position: absolute;
  top: 106px;
  width: 103px;
}

.green-witch-1 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - green-witch-2 */

.green-witch-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3511px;
  overflow: hidden;
  width: 1280px;
}

.green-witch-2 .overlap-group2-1 {
  height: 3563px;
  margin-left: -348px;
  margin-top: -52.0px;
  position: relative;
  width: 1977px;
}

.green-witch-2 .rectangle-42-1 {
  background-color: var(--mandy);
  height: 678px;
  left: 349px;
  position: absolute;
  top: 50px;
  width: 1279px;
}

.green-witch-2 .ellipse-21-1 {
  background-color: var(--peach-yellow);
  border-radius: 988.27px/468.15px;
  height: 936px;
  left: 0;
  position: absolute;
  top: 259px;
  width: 1977px;
}

.green-witch-2 .surname-1 {
  height: 77px;
  left: 550px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 105px;
  white-space: nowrap;
  width: 779px;
}

.green-witch-2 .by-amy-townsend-1 {
  color: #0f0505;
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 46px;
  left: 984px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 200px;
  white-space: nowrap;
  width: 317px;
}

.green-witch-2 .rectangle-55-1 {
  background-color: var(--peach-yellow);
  height: 2943px;
  left: 349px;
  position: absolute;
  top: 620px;
  width: 1279px;
}

.green-witch-2 .between-sunset-and-s-1 {
  left: 564px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 355px;
  width: 865px;
}

.green-witch-2 .rectangle-43-1 {
  height: 38px;
  left: 733px;
  object-fit: cover;
  position: absolute;
  top: 293px;
  width: 502px;
}

.green-witch-2 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1420px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 0;
}

.green-witch-2 .group-42-1 {
  display: flex;
  height: 101px;
  width: 99px;
}

.green-witch-2 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.green-witch-2 .overlap-group-1 {
  height: 101px;
  position: relative;
  width: 99px;
}

.green-witch-2 .path-4-1 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.green-witch-2 .group-38-2 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.green-witch-2 .group-39-1 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.green-witch-2 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 16.9px 0;
  width: 99.47px;
}

.green-witch-2 .group-2-2-1 {
  background-image: url(../img/path-5-2-48@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.green-witch-2 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 515px;
  min-width: 132px;
  position: absolute;
  top: 78px;
}

.green-witch-2 .overlap-group1-1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.green-witch-2 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.green-witch-2 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.green-witch-2 .component-7-245 {
  display: flex;
  height: 45px;
  left: 393px;
  position: absolute;
  top: 82px;
  width: 86px;
}

.green-witch-2 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.green-witch-2 .component-9-244 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 781px;
  position: absolute;
  top: 83px;
  width: 110px;
}

.green-witch-2 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.green-witch-2 .component-3-243 {
  display: flex;
  height: 46px;
  left: 641px;
  position: absolute;
  top: 82px;
  width: 172px;
}

.green-witch-2 .stories-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.green-witch-2 .component-8-279 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 931px;
  position: absolute;
  top: 83px;
  width: 103px;
}

.green-witch-2 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - green-witch-3 */

.green-witch-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2845px;
  justify-content: center;
  overflow: hidden;
  width: 834px;
}

.green-witch-3 .overlap-group2-2 {
  height: 2882px;
  margin-top: -37.0px;
  position: relative;
  width: 1294px;
}

.green-witch-3 .rectangle-42-2 {
  background-color: var(--mandy);
  height: 444px;
  left: 229px;
  position: absolute;
  top: 31px;
  width: 837px;
}

.green-witch-3 .ellipse-21-2 {
  background-color: var(--peach-yellow);
  border-radius: 647.08px/266.35px;
  height: 533px;
  left: 0;
  position: absolute;
  top: 218px;
  width: 1294px;
}

.green-witch-3 .surname-2 {
  height: 51px;
  left: 363px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 80px;
  white-space: nowrap;
  width: 511px;
}

.green-witch-3 .by-amy-townsend-2 {
  color: #0f0505;
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxxs);
  font-weight: 400;
  height: 27px;
  left: 665px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 179px;
  width: 157px;
}

.green-witch-3 .rectangle-55-2 {
  background-color: var(--peach-yellow);
  height: 2477px;
  left: 229px;
  position: absolute;
  top: 405px;
  width: 837px;
}

.green-witch-3 .between-sunset-and-s-2 {
  left: 365px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 257px;
  width: 567px;
}

.green-witch-3 .group-90 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-100@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 112px;
  justify-content: flex-end;
  left: 931px;
  min-width: 149px;
  padding: 14.0px 38.4px;
  position: absolute;
  top: 0;
}

.green-witch-3 .group-42-2 {
  display: flex;
  height: 62px;
  width: 61px;
}

.green-witch-3 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 61.3px;
}

.green-witch-3 .overlap-group-2 {
  height: 62px;
  position: relative;
  width: 61px;
}

.green-witch-3 .path-4-2 {
  height: 15px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 57px;
}

.green-witch-3 .group-38-4 {
  display: flex;
  height: 62px;
  left: 0;
  position: absolute;
  top: 0;
  width: 61px;
}

.green-witch-3 .group-39-2 {
  display: flex;
  flex: 1;
  width: 61.3px;
}

.green-witch-3 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 10.4px 0.0px;
  width: 61.3px;
}

.green-witch-3 .group-2-2-2 {
  background-image: url(../img/path-5-2-100@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 15px;
  width: 57px;
}

.green-witch-3 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 397px;
  min-width: 132px;
  position: absolute;
  top: 63px;
}

.green-witch-3 .overlap-group1-2 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.green-witch-3 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.green-witch-3 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.green-witch-3 .component-7-246 {
  display: flex;
  height: 45px;
  left: 275px;
  position: absolute;
  top: 67px;
  width: 86px;
}

.green-witch-3 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.green-witch-3 .component-9-245 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 663px;
  position: absolute;
  top: 68px;
  width: 110px;
}

.green-witch-3 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.green-witch-3 .component-3-244 {
  display: flex;
  height: 46px;
  left: 523px;
  position: absolute;
  top: 67px;
  width: 172px;
}

.green-witch-3 .stories-2 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.green-witch-3 .component-8-280 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 813px;
  position: absolute;
  top: 68px;
  width: 103px;
}

.green-witch-3 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
@media screen and (max-width: 1279px) {
  .screen.green-witch-1 { 
    display: none;
   }
  .screen.green-witch-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.green-witch-1 { 
    display: none;
   }
  .screen.green-witch-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.green-witch-2 { 
    display: none;
   }
  .screen.green-witch-3 { 
    display: none;
   }
}