/* screen - return-1 */

.return-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 14959px;
  overflow: hidden;
  width: 1920px;
}

.return-1 .overlap-group2 {
  height: 15034px;
  margin-left: -614px;
  margin-top: -75.0px;
  position: relative;
  width: 3148px;
}

.return-1 .rectangle-42 {
  background-color: var(--mandy);
  height: 1080px;
  left: 614px;
  position: absolute;
  top: 75px;
  width: 1920px;
}

.return-1 .ellipse-21 {
  background-color: var(--peach-yellow);
  border-radius: 1574.18px/928px;
  height: 1856px;
  left: 0;
  position: absolute;
  top: 286px;
  width: 3148px;
}

.return-1 .return-to-kiribati {
  height: 121px;
  left: 942px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 126px;
  white-space: nowrap;
  width: 1240px;
}

.return-1 .by-alexandra-porter {
  height: 49px;
  left: 1727px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 225px;
  width: 334px;
}

.return-1 .rectangle-55 {
  background-color: var(--peach-yellow);
  height: 14050px;
  left: 614px;
  position: absolute;
  top: 984px;
  width: 2037px;
}

.return-1 .rectangle-43 {
  height: 60px;
  left: 1197px;
  object-fit: cover;
  position: absolute;
  top: 347px;
  width: 799px;
}

.return-1 .only-the-cold-untwi {
  left: 807px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 449px;
  width: 1536px;
}

.return-1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 2219px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 0;
}

.return-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.return-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.return-1 .overlap-group {
  height: 151px;
  position: relative;
  width: 149px;
}

.return-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.return-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.return-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.return-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0;
  width: 149.11px;
}

.return-1 .group-2-2 {
  background-image: url(../img/path-5-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.return-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 781px;
  min-width: 132px;
  position: absolute;
  top: 101px;
}

.return-1 .overlap-group1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.return-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.return-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.return-1 .component-7-238 {
  display: flex;
  height: 45px;
  left: 659px;
  position: absolute;
  top: 105px;
  width: 86px;
}

.return-1 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.return-1 .component-9-237 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1047px;
  position: absolute;
  top: 106px;
  width: 110px;
}

.return-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.return-1 .component-3-236 {
  display: flex;
  height: 46px;
  left: 907px;
  position: absolute;
  top: 105px;
  width: 172px;
}

.return-1 .stories {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.return-1 .component-8-272 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1197px;
  position: absolute;
  top: 106px;
  width: 103px;
}

.return-1 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - return-2 */

.return-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 9971px;
  justify-content: center;
  overflow: hidden;
  width: 1280px;
}

.return-2 .overlap-group2-1 {
  height: 10023px;
  margin-top: -52.0px;
  position: relative;
  width: 1979px;
}

.return-2 .rectangle-42-1 {
  background-color: var(--mandy);
  height: 679px;
  left: 349px;
  position: absolute;
  top: 48px;
  width: 1280px;
}

.return-2 .ellipse-21-1 {
  background-color: var(--peach-yellow);
  border-radius: 989.4px/661.57px;
  height: 1323px;
  left: 0;
  position: absolute;
  top: 238px;
  width: 1979px;
}

.return-2 .return-to-kiribati-1 {
  height: 77px;
  left: 507px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 87px;
  white-space: nowrap;
  width: 780px;
}

.return-2 .by-alexandra-porter-1 {
  color: #050101;
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  height: 31px;
  left: 1129px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 189px;
  width: 211px;
}

.return-2 .rectangle-55-1 {
  background-color: var(--peach-yellow);
  height: 9403px;
  left: 349px;
  position: absolute;
  top: 620px;
  width: 1280px;
}

.return-2 .rectangle-43-1 {
  height: 38px;
  left: 738px;
  object-fit: cover;
  position: absolute;
  top: 279px;
  width: 502px;
}

.return-2 .only-the-cold-untwi-1 {
  left: 507px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 331px;
  width: 966px;
}

.return-2 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1421px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 0;
}

.return-2 .group-42-1 {
  display: flex;
  height: 101px;
  width: 99px;
}

.return-2 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.return-2 .overlap-group-1 {
  height: 101px;
  position: relative;
  width: 99px;
}

.return-2 .path-4-1 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.return-2 .group-38-2 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.return-2 .group-39-1 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.return-2 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 16.9px 0;
  width: 99.47px;
}

.return-2 .group-2-2-1 {
  background-image: url(../img/path-5-2-48@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.return-2 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 516px;
  min-width: 132px;
  position: absolute;
  top: 78px;
}

.return-2 .overlap-group1-1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.return-2 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.return-2 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.return-2 .component-7-239 {
  display: flex;
  height: 45px;
  left: 394px;
  position: absolute;
  top: 82px;
  width: 86px;
}

.return-2 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.return-2 .component-9-238 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 782px;
  position: absolute;
  top: 83px;
  width: 110px;
}

.return-2 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.return-2 .component-3-237 {
  display: flex;
  height: 46px;
  left: 642px;
  position: absolute;
  top: 82px;
  width: 172px;
}

.return-2 .stories-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.return-2 .component-8-273 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 932px;
  position: absolute;
  top: 83px;
  width: 103px;
}

.return-2 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - return-3 */

.return-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 7287px;
  justify-content: center;
  overflow: hidden;
  width: 834px;
}

.return-3 .overlap-group2-2 {
  height: 7312px;
  margin-top: -25.0px;
  position: relative;
  width: 1864px;
}

.return-3 .rectangle-42-2 {
  background-color: var(--mandy);
  height: 445px;
  left: 512px;
  position: absolute;
  top: 23px;
  width: 840px;
}

.return-3 .ellipse-21-2 {
  background-color: var(--peach-yellow);
  border-radius: 932.05px/519.92px;
  height: 1040px;
  left: 0;
  position: absolute;
  top: 187px;
  width: 1864px;
}

.return-3 .return-to-kiribati-2 {
  height: 51px;
  left: 598px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 44px;
  white-space: nowrap;
  width: 512px;
}

.return-3 .by-alexandra-porter-2 {
  color: #050101;
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxxs);
  font-weight: 400;
  height: 28px;
  left: 1040px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 144px;
  width: 178px;
}

.return-3 .rectangle-55-2 {
  background-color: var(--peach-yellow);
  height: 6913px;
  left: 512px;
  position: absolute;
  top: 399px;
  width: 840px;
}

.return-3 .only-the-cold-untwi-2 {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxxxs);
  font-weight: 400;
  left: 598px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 245px;
  width: 671px;
}

.return-3 .group-90 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-101@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 119px;
  justify-content: flex-end;
  left: 1204px;
  min-width: 159px;
  padding: 13.7px 40.8px;
  position: absolute;
  top: 0;
}

.return-3 .group-42-2 {
  display: flex;
  height: 66px;
  width: 66px;
}

.return-3 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 65.52px;
}

.return-3 .overlap-group-2 {
  height: 66px;
  position: relative;
  width: 66px;
}

.return-3 .path-4-2 {
  height: 17px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 61px;
}

.return-3 .group-38-4 {
  display: flex;
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 66px;
}

.return-3 .group-39-2 {
  display: flex;
  flex: 1;
  width: 65.52px;
}

.return-3 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 11.1px 0;
  width: 65.52px;
}

.return-3 .group-2-2-2 {
  background-image: url(../img/path-5-2-101@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 17px;
  width: 61px;
}

.return-3 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 682px;
  min-width: 132px;
  position: absolute;
  top: 51px;
}

.return-3 .overlap-group1-2 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.return-3 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.return-3 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.return-3 .component-7-240 {
  display: flex;
  height: 45px;
  left: 560px;
  position: absolute;
  top: 55px;
  width: 86px;
}

.return-3 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.return-3 .component-9-239 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 948px;
  position: absolute;
  top: 56px;
  width: 110px;
}

.return-3 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.return-3 .component-3-238 {
  display: flex;
  height: 46px;
  left: 808px;
  position: absolute;
  top: 55px;
  width: 172px;
}

.return-3 .stories-2 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.return-3 .component-8-274 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1098px;
  position: absolute;
  top: 56px;
  width: 103px;
}

.return-3 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
@media screen and (max-width: 1279px) {
  .screen.return-1 { 
    display: none;
   }
  .screen.return-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.return-1 { 
    display: none;
   }
  .screen.return-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.return-2 { 
    display: none;
   }
  .screen.return-3 { 
    display: none;
   }
}