:root { 
  --apple: #13aa38;
  --aths-special: #e7edcd;
  --azure: #3760aa;
  --banana-mania: #fce7ae;
  --black: #000000;
  --black-2: #000102;
  --black-3: #020202;
  --cape-cod: #434343;
  --carnation-pink: #ffa5d1;
  --chicago: #5a5a5a;
  --cream-brulee: #ffe49d;
  --dove-gray: #707070;
  --dust-storm: #f4c8c8;
  --festival: #fce86a;
  --festival-2: #f7ee6a;
  --festival-3: #fbe86b;
  --fuscous-gray: #525252;
  --glossy-grape: #b991bc;
  --goldenrod: #ffdc7e;
  --hopbush: #cf6297;
  --hopbush-2: #ce6296;
  --hopbush-3: #d176a2;
  --jagged-ice: #c5e6f2;
  --jordy-blue: #81acf8;
  --lightning-yellow: #ffc11d;
  --lightning-yellow-2: #fec11d;
  --mandy: #df5756;
  --onahau: #d0f0fc;
  --peach-yellow: #f7e3ae;
  --perano: #adc9fc;
  --perano-2: #a8c8ff;
  --picton-blue: #3fb3dd;
  --razzmatazz: #e32682;
  --red-violet: #c80a82;
  --sky-blue: #76d0f1;
  --sonic-silver: #777676;
  --tango: #f0712a;
  --thistle: #d6bfd8;
  --tundora: #434141;
  --vivid-violet: #975c9b;
  --white: #ffffff;
  --yellow-green: #bed276;
 
  --font-size-m: 39px;
  --font-size-s: 35px;
  --font-size-xs: 33px;
  --font-size-xxs: 25px;
  --font-size-xxxs: 19px;
  --font-size-xxxxs: 17px;
  --font-size-xxxxxs: 16px;
 
  --font-family-crimson_text: "Crimson Text", Helvetica;
  --font-family-fucxedcaps-regular: "FUCXEDCAPS-Regular", Helvetica;
}
.crimsontext-normal-black-35px {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-festival-20px {
  color: var(--festival);
  font-family: var(--font-family-crimson_text);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-black-35px-2 {
  color: var(--black-2);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-black-19px {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-black-39px {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-black-25px {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-black-63px {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: 63px;
}

.crimsontext-normal-black-63px-2 {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: 63px;
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-black-40px {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-black-29px {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-black-53px {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: 53px;
}

.crimsontext-normal-black-53px-2 {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: 53px;
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-black-39px-2 {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-m);
}

.crimsontext-normal-dove-gray-39px {
  color: var(--dove-gray);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-festival-20px-2 {
  color: var(--festival-3);
  font-family: var(--font-family-crimson_text);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-tundora-39px {
  color: var(--tundora);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-white-33px {
  color: var(--white);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-dove-gray-25px {
  color: var(--dove-gray);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-dove-gray-19px {
  color: var(--dove-gray);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-jagged-ice-39px {
  color: var(--jagged-ice);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-goldenrod-90px {
  color: var(--goldenrod);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-tundora-25px {
  color: var(--tundora);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-black-27px {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-white-22px {
  color: var(--white);
  font-family: var(--font-family-crimson_text);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-crimson_text);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-hopbush-90px {
  color: var(--hopbush-2);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-black-33px {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-jagged-ice-33px {
  color: var(--jagged-ice);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-jagged-ice-16px {
  color: var(--jagged-ice);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-jordy-blue-45px {
  color: var(--jordy-blue);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-black-55px {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: 55px;
}

.crimsontext-normal-black-55px-2 {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-goldenrod-50px {
  color: var(--goldenrod);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-festival-90px {
  color: var(--festival-2);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-red-violet-90px {
  color: var(--red-violet);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-azure-90px {
  color: var(--azure);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-hopbush-70px {
  color: var(--hopbush);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-carnation-pink-70px {
  color: var(--carnation-pink);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-goldenrod-70px {
  color: var(--goldenrod);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-hopbush-50px {
  color: var(--hopbush-2);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-mandy-90px {
  color: var(--mandy);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-hopbush-45px {
  color: var(--hopbush);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-carnation-pink-45px {
  color: var(--carnation-pink);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-hopbush-70px-2 {
  color: var(--hopbush-2);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-razzmatazz-39px {
  color: var(--razzmatazz);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-hopbush-33px {
  color: var(--hopbush);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-carnation-pink-33px {
  color: var(--carnation-pink);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.crimsontext-bold-black-39px {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.fucxedcaps-regular-normal-festival-39px {
  color: var(--festival-2);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-mandy-70px {
  color: var(--mandy);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
}

.fucxedcaps-regular-normal-red-violet-60px {
  color: var(--red-violet);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}

.crimsontext-bold-black-25px {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.fucxedcaps-regular-normal-mandy-50px {
  color: var(--mandy);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}

.crimsontext-normal-tundora-19px {
  color: var(--tundora);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.crimsontext-bold-black-16px {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 700;
}

.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}
