{{ define "main" }}
	<main>
		<!-- <div class="ellipse-content"></div> -->
		<article>
			<div id="content-container">
			<h1>{{ .Title }}</h1>
			<h2>{{ .Params.author }}</h2>
			<img src={{.Params.image}} class={{.Params.imageType}} alt={{.Params.altimage}} >
				<div class="storyCaption">{{ .Params.imageCredit}} </div>
			<div class="story-text">
				{{ .Content }}
				<br><br><br><br><br>
				<img src="/images/rectangle-43-19@1x.png" class="pencil">
				<br><br><br><br><br>
			</div>
	
			</div>
		</article>
	</main>

	<style>
		body {
			background-color: var(--{{ .Params.backgroundColor }});
			background-image: url({{ .Params.ellipse }});
			background-repeat: no-repeat;
			background-position: 50% {{ .Params.ellipseypos }}; /* CHANGES POSITION OF SHAPE */
			background-size: 200% auto;
		}

		.ellipse-content {
    		background-color: var(--{{ .Params.ellipseColor }});
		}
		.story-text {
			background-color: var(--{{ .Params.textBackgroundColor }});
		}
		h1{
			color: var(--{{ .Params.titleColor }});
		}
		.dropdown-content {
  			background-color: var(--{{ .Params.backgroundColor }});
		}

		.ellipse-content {

    		top: {{ .Params.ellipseYPos}} !important;

  		}

		a{
  			color: var(--{{ .Params.titleColor }});

		}

		@media (max-width: 800px) {
			body {
    		background-position: -9999px -9999px;
 		 }
		
		}
	</style>
{{ end }}
