/* screen - about-the-xr-wordsmiths-1 */

.about-the-xr-wordsmiths-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.about-the-xr-wordsmiths-1 .overlap-group2 {
  height: 1168px;
  margin-top: -82px;
  position: relative;
  width: 1969px;
}

.about-the-xr-wordsmiths-1 .rectangle-40 {
  background-color: var(--yellow-green);
  height: 1086px;
  left: 0;
  position: absolute;
  top: 82px;
  width: 1920px;
}

.about-the-xr-wordsmiths-1 .ellipse-16 {
  background-color: var(--apple);
  border-radius: 581px;
  height: 1162px;
  left: 0;
  opacity: 0.17;
  position: absolute;
  top: 0;
  width: 1162px;
}

.about-the-xr-wordsmiths-1 .about-the-xr-wordsmiths {
  height: 158px;
  left: 219px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 208px;
  white-space: nowrap;
  width: 1256px;
}

.about-the-xr-wordsmiths-1 .we-are-a-bandcollec {
  height: 596px;
  left: 222px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 419px;
  width: 831px;
}

.about-the-xr-wordsmiths-1 .group-102 {
  height: 431px;
  left: 1180px;
  object-fit: cover;
  position: absolute;
  top: 500px;
  width: 693px;
}

.about-the-xr-wordsmiths-1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 1605px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 7px;
}

.about-the-xr-wordsmiths-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.about-the-xr-wordsmiths-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.about-the-xr-wordsmiths-1 .overlap-group {
  height: 151px;
  position: relative;
  width: 149px;
}

.about-the-xr-wordsmiths-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.about-the-xr-wordsmiths-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.about-the-xr-wordsmiths-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.about-the-xr-wordsmiths-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0;
  width: 149.11px;
}

.about-the-xr-wordsmiths-1 .group-2-2 {
  background-image: url(../img/path-5-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.about-the-xr-wordsmiths-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 167px;
  min-width: 132px;
  position: absolute;
  top: 108px;
}

.about-the-xr-wordsmiths-1 .overlap-group1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.about-the-xr-wordsmiths-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.about-the-xr-wordsmiths-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.about-the-xr-wordsmiths-1 .component-7-155 {
  display: flex;
  height: 45px;
  left: 45px;
  position: absolute;
  top: 112px;
  width: 86px;
}

.about-the-xr-wordsmiths-1 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.about-the-xr-wordsmiths-1 .component-8-189 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 583px;
  position: absolute;
  top: 113px;
  width: 103px;
}

.about-the-xr-wordsmiths-1 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}

.about-the-xr-wordsmiths-1 .component-9-154 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 433px;
  position: absolute;
  top: 113px;
  width: 110px;
}

.about-the-xr-wordsmiths-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.about-the-xr-wordsmiths-1 .component-3-153 {
  display: flex;
  height: 46px;
  left: 293px;
  position: absolute;
  top: 112px;
  width: 172px;
}

.about-the-xr-wordsmiths-1 .stories {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}
/* screen - about-the-xr-wordsmiths-2 */

.about-the-xr-wordsmiths-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 800px;
  overflow: hidden;
  width: 1280px;
}

.about-the-xr-wordsmiths-2 .overlap-group2-1 {
  height: 856px;
  margin-top: -56px;
  position: relative;
  width: 1314px;
}

.about-the-xr-wordsmiths-2 .rectangle-40-1 {
  background-color: var(--yellow-green);
  height: 801px;
  left: 0;
  position: absolute;
  top: 55px;
  width: 1281px;
}

.about-the-xr-wordsmiths-2 .ellipse-16-1 {
  background-color: var(--apple);
  border-radius: 387.5px;
  height: 775px;
  left: 0;
  opacity: 0.17;
  position: absolute;
  top: 0;
  width: 775px;
}

.about-the-xr-wordsmiths-2 .about-the-xr-wordsmiths-3 {
  color: var(--festival-2);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 80px;
  font-weight: 400;
  height: 107px;
  left: 104px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 126px;
  white-space: nowrap;
  width: 996px;
}

.about-the-xr-wordsmiths-2 .we-are-a-bandcollec-1 {
  height: 473px;
  left: 104px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 304px;
  width: 611px;
}

.about-the-xr-wordsmiths-2 .group-102-1 {
  background-image: url(../img/group-101-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 288px;
  left: 787px;
  position: absolute;
  top: 334px;
  width: 462px;
}

.about-the-xr-wordsmiths-2 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1072px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 4px;
}

.about-the-xr-wordsmiths-2 .group-42-1 {
  display: flex;
  height: 101px;
  width: 99px;
}

.about-the-xr-wordsmiths-2 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.about-the-xr-wordsmiths-2 .overlap-group-1 {
  height: 101px;
  position: relative;
  width: 99px;
}

.about-the-xr-wordsmiths-2 .path-4-1 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.about-the-xr-wordsmiths-2 .group-38-2 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.about-the-xr-wordsmiths-2 .group-39-1 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.about-the-xr-wordsmiths-2 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 16.9px 0;
  width: 99.47px;
}

.about-the-xr-wordsmiths-2 .group-2-2-1 {
  background-image: url(../img/path-5-2-48@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.about-the-xr-wordsmiths-2 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 167px;
  min-width: 132px;
  position: absolute;
  top: 82px;
}

.about-the-xr-wordsmiths-2 .overlap-group1-1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.about-the-xr-wordsmiths-2 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.about-the-xr-wordsmiths-2 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.about-the-xr-wordsmiths-2 .component-7-156 {
  display: flex;
  height: 45px;
  left: 45px;
  position: absolute;
  top: 86px;
  width: 86px;
}

.about-the-xr-wordsmiths-2 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.about-the-xr-wordsmiths-2 .component-8-190 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 583px;
  position: absolute;
  top: 87px;
  width: 103px;
}

.about-the-xr-wordsmiths-2 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}

.about-the-xr-wordsmiths-2 .component-9-155 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 433px;
  position: absolute;
  top: 87px;
  width: 110px;
}

.about-the-xr-wordsmiths-2 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.about-the-xr-wordsmiths-2 .component-3-154 {
  display: flex;
  height: 46px;
  left: 293px;
  position: absolute;
  top: 86px;
  width: 172px;
}

.about-the-xr-wordsmiths-2 .stories-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}
/* screen - about-the-xr-wordsmiths-3 */

.about-the-xr-wordsmiths-3-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1194px;
  overflow: hidden;
  width: 834px;
}

.about-the-xr-wordsmiths-3-1 .overlap-group2-2 {
  height: 1248px;
  margin-left: -83px;
  margin-top: -54px;
  position: relative;
  width: 931px;
}

.about-the-xr-wordsmiths-3-1 .rectangle-40-2 {
  background-color: var(--yellow-green);
  height: 1195px;
  left: 83px;
  position: absolute;
  top: 53px;
  width: 834px;
}

.about-the-xr-wordsmiths-3-1 .ellipse-16-2 {
  background-color: var(--apple);
  border-radius: 432.5px/431.5px;
  height: 863px;
  left: 0;
  opacity: 0.17;
  position: absolute;
  top: 0;
  width: 865px;
}

.about-the-xr-wordsmiths-3-1 .about-the-xr-wordsmiths-4 {
  color: var(--festival-2);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 80px;
  font-weight: 400;
  height: 402px;
  left: 187px;
  letter-spacing: 0;
  line-height: 80px;
  position: absolute;
  top: 184px;
  width: 655px;
}

.about-the-xr-wordsmiths-3-1 .we-are-a-bandcollec-2 {
  height: 648px;
  left: 206px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 384px;
  width: 523px;
}

.about-the-xr-wordsmiths-3-1 .group-102-2 {
  background-image: url(../img/group-101-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 288px;
  left: 366px;
  position: absolute;
  top: 807px;
  width: 462px;
}

.about-the-xr-wordsmiths-3-1 .group-90 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-101@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 119px;
  justify-content: flex-end;
  left: 772px;
  min-width: 159px;
  padding: 13.7px 40.8px;
  position: absolute;
  top: 29px;
}

.about-the-xr-wordsmiths-3-1 .group-42-2 {
  display: flex;
  height: 66px;
  width: 66px;
}

.about-the-xr-wordsmiths-3-1 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 65.52px;
}

.about-the-xr-wordsmiths-3-1 .overlap-group-2 {
  height: 66px;
  position: relative;
  width: 66px;
}

.about-the-xr-wordsmiths-3-1 .path-4-2 {
  height: 17px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 61px;
}

.about-the-xr-wordsmiths-3-1 .group-38-4 {
  display: flex;
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 66px;
}

.about-the-xr-wordsmiths-3-1 .group-39-2 {
  display: flex;
  flex: 1;
  width: 65.52px;
}

.about-the-xr-wordsmiths-3-1 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 11.1px 0;
  width: 65.52px;
}

.about-the-xr-wordsmiths-3-1 .group-2-2-2 {
  background-image: url(../img/path-5-2-78@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 17px;
  width: 61px;
}

.about-the-xr-wordsmiths-3-1 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 250px;
  min-width: 132px;
  position: absolute;
  top: 80px;
}

.about-the-xr-wordsmiths-3-1 .overlap-group1-2 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.about-the-xr-wordsmiths-3-1 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.about-the-xr-wordsmiths-3-1 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.about-the-xr-wordsmiths-3-1 .component-7-157 {
  display: flex;
  height: 45px;
  left: 128px;
  position: absolute;
  top: 84px;
  width: 86px;
}

.about-the-xr-wordsmiths-3-1 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.about-the-xr-wordsmiths-3-1 .component-8-191 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 666px;
  position: absolute;
  top: 85px;
  width: 103px;
}

.about-the-xr-wordsmiths-3-1 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}

.about-the-xr-wordsmiths-3-1 .component-9-156 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 516px;
  position: absolute;
  top: 85px;
  width: 110px;
}

.about-the-xr-wordsmiths-3-1 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.about-the-xr-wordsmiths-3-1 .component-3-155 {
  display: flex;
  height: 46px;
  left: 376px;
  position: absolute;
  top: 84px;
  width: 172px;
}

.about-the-xr-wordsmiths-3-1 .stories-2 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}
@media screen and (max-width: 1279px) {
  .screen.about-the-xr-wordsmiths-1 { 
    display: none;
   }
  .screen.about-the-xr-wordsmiths-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.about-the-xr-wordsmiths-1 { 
    display: none;
   }
  .screen.about-the-xr-wordsmiths-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.about-the-xr-wordsmiths-2 { 
    display: none;
   }
  .screen.about-the-xr-wordsmiths-3 { 
    display: none;
   }
}