/* screen - about-the-judges-1 */

.about-the-judges-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 4005px;
  overflow: hidden;
  width: 1920px;
}

.about-the-judges-1 .overlap-group2 {
  height: 4240px;
  margin-left: -864px;
  margin-top: -233px;
  position: relative;
  width: 2833px;
}

.about-the-judges-1 .rectangle-15 {
  background-color: var(--vivid-violet);
  height: 4007px;
  left: 865px;
  opacity: 0.67;
  position: absolute;
  top: 233px;
  width: 1920px;
}

.about-the-judges-1 .ellipse-34 {
  background-color: var(--jordy-blue);
  border-radius: 1253.5px/368.5px;
  height: 737px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2507px;
}

.about-the-judges-1 .helen-is-a-british-e {
  height: 470px;
  left: 1023px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 2280px;
  width: 1285px;
}

.about-the-judges-1 .group-9 {
  background-image: url(../img/group-8@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 633px;
  left: 1431px;
  position: absolute;
  top: 26px;
  width: 950px;
}

.about-the-judges-1 .about-the-judges {
  color: var(--jagged-ice);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 90px;
  font-weight: 400;
  height: 121px;
  left: 953px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 406px;
  white-space: nowrap;
  width: 906px;
}

.about-the-judges-1 .x4473-kara-large-1 {
  height: 238px;
  left: 1023px;
  object-fit: cover;
  position: absolute;
  top: 2779px;
  width: 230px;
}

.about-the-judges-1 .name {
  height: 74px;
  left: 1011px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 1918px;
  white-space: nowrap;
  width: 257px;
}

.about-the-judges-1 .gregg-kleiner-is-the {
  height: 631px;
  left: 1338px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 1618px;
  width: 1268px;
}

.about-the-judges-1 .gregg {
  height: 238px;
  left: 1023px;
  object-fit: cover;
  position: absolute;
  top: 1730px;
  width: 230px;
}

.about-the-judges-1 .name-1 {
  height: 74px;
  left: 953px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  text-align: center;
  top: 3048px;
  width: 373px;
}

.about-the-judges-1 .aasiya-is-a-teacher {
  height: 340px;
  left: 1338px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 737px;
  width: 1332px;
}

.about-the-judges-1 .whats-app-image-2021-11-29-at-084053 {
  height: 238px;
  left: 1023px;
  object-fit: cover;
  position: absolute;
  top: 743px;
  width: 230px;
}

.about-the-judges-1 .aasia-bora {
  height: 74px;
  left: 1011px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 932px;
  white-space: nowrap;
  width: 257px;
}

.about-the-judges-1 .ellen-studied-englis {
  height: 350px;
  left: 1033px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 1185px;
  width: 1217px;
}

.about-the-judges-1 .name-2 {
  height: 74px;
  left: 2327px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  text-align: center;
  top: 1478px;
  width: 279px;
}

.about-the-judges-1 .dr-kara-laing-is-an {
  height: 423px;
  left: 1387px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 2779px;
  width: 1206px;
}

.about-the-judges-1 .name-3 {
  height: 74px;
  left: 2291px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  text-align: center;
  top: 2613px;
  width: 373px;
}

.about-the-judges-1 .helen-moore-author-image-2019-1 {
  height: 238px;
  left: 2361px;
  object-fit: cover;
  position: absolute;
  top: 2344px;
  width: 230px;
}

.about-the-judges-1 .lovis-geier {
  height: 74px;
  left: 2349px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 3420px;
  white-space: nowrap;
  width: 257px;
}

.about-the-judges-1 .profile-1 {
  height: 238px;
  left: 2361px;
  object-fit: cover;
  position: absolute;
  top: 3231px;
  width: 230px;
}

.about-the-judges-1 .dr-lovis-geier-is-a {
  height: 423px;
  left: 1023px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 3244px;
  width: 1304px;
}

.about-the-judges-1 .zack-is-a-london-ass {
  height: 423px;
  left: 1387px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 3723px;
  width: 1206px;
}

.about-the-judges-1 .screen_-shot_2020-01-28_at_223710-1 {
  height: 238px;
  left: 1023px;
  object-fit: cover;
  position: absolute;
  top: 3738px;
  width: 230px;
}

.about-the-judges-1 .zac-k-polanski {
  height: 74px;
  left: 1000px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 4007px;
  width: 279px;
}

.about-the-judges-1 .whats-app-image-2021-12-19-at-74515-am {
  border-radius: 118px;
  height: 236px;
  left: 2340px;
  object-fit: cover;
  position: absolute;
  top: 1211px;
  width: 251px;
}

.about-the-judges-1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 2469px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 158px;
}

.about-the-judges-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.about-the-judges-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.about-the-judges-1 .overlap-group {
  height: 151px;
  position: relative;
  width: 149px;
}

.about-the-judges-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.about-the-judges-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.about-the-judges-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.about-the-judges-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0.0px;
  width: 149.11px;
}

.about-the-judges-1 .group-2-2 {
  background-image: url(../img/path-5-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.about-the-judges-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 1031px;
  min-width: 132px;
  position: absolute;
  top: 259px;
}

.about-the-judges-1 .overlap-group1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.about-the-judges-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.about-the-judges-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.about-the-judges-1 .component-7-152 {
  display: flex;
  height: 45px;
  left: 909px;
  position: absolute;
  top: 263px;
  width: 86px;
}

.about-the-judges-1 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.about-the-judges-1 .component-8-186 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1447px;
  position: absolute;
  top: 264px;
  width: 103px;
}

.about-the-judges-1 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}

.about-the-judges-1 .component-9-151 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1297px;
  position: absolute;
  top: 264px;
  width: 110px;
}

.about-the-judges-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.about-the-judges-1 .component-3-150 {
  display: flex;
  height: 46px;
  left: 1157px;
  position: absolute;
  top: 263px;
  width: 172px;
}

.about-the-judges-1 .stories {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}
/* screen - about-the-judges-2 */

.about-the-judges-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2857px;
  overflow: hidden;
  width: 1280px;
}

.about-the-judges-2 .overlap-group2-1 {
  height: 3169px;
  margin-left: -756px;
  margin-top: -294px;
  position: relative;
  width: 2070px;
}

.about-the-judges-2 .rectangle-59 {
  background-color: var(--vivid-violet);
  height: 2893px;
  left: 756px;
  opacity: 0.67;
  position: absolute;
  top: 258px;
  width: 1280px;
}

.about-the-judges-2 .ellipse-37 {
  background-color: var(--jordy-blue);
  border-radius: 991px/291.5px;
  height: 583px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1982px;
}

.about-the-judges-2 .group-141 {
  background-image: url(../img/group-8-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 428px;
  left: 1237px;
  position: absolute;
  top: 133px;
  width: 643px;
}

.about-the-judges-2 .about-the-judges-3 {
  color: var(--jagged-ice);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 60px;
  font-weight: 400;
  height: 82px;
  left: 887px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 355px;
  white-space: nowrap;
  width: 614px;
}

.about-the-judges-2 .aasiya-is-a-teacher-1 {
  height: 231px;
  left: 1058px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 625px;
  width: 882px;
}

.about-the-judges-2 .whats-app-image-2021-11-29-at-084053-1 {
  height: 161px;
  left: 863px;
  object-fit: cover;
  position: absolute;
  top: 604px;
  width: 156px;
}

.about-the-judges-2 .aasia-bora-1 {
  height: 51px;
  left: 824px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 702px;
  white-space: nowrap;
  width: 238px;
}

.about-the-judges-2 .ellen-studied-englis-1 {
  height: 237px;
  left: 866px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  text-align: right;
  top: 930px;
  width: 837px;
}

.about-the-judges-2 .whats-app-image-2021-12-19-at-74515-am-1 {
  border-radius: 118px;
  height: 160px;
  left: 1734px;
  object-fit: cover;
  position: absolute;
  top: 920px;
  width: 170px;
}

.about-the-judges-2 .helen-is-a-british-e-1 {
  height: 319px;
  left: 870px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  text-align: right;
  top: 1674px;
  width: 825px;
}

.about-the-judges-2 .x4473-kara-large-1-1 {
  height: 161px;
  left: 863px;
  object-fit: cover;
  position: absolute;
  top: 2075px;
  width: 156px;
}

.about-the-judges-2 .name-4 {
  height: 51px;
  left: 840px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 1370px;
  white-space: nowrap;
  width: 217px;
}

.about-the-judges-2 .gregg-kleiner-is-the-1 {
  height: 428px;
  left: 1070px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 1216px;
  width: 859px;
}

.about-the-judges-2 .gregg-1 {
  height: 161px;
  left: 863px;
  object-fit: cover;
  position: absolute;
  top: 1272px;
  width: 156px;
}

.about-the-judges-2 .name-5 {
  height: 51px;
  left: 815px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  text-align: center;
  top: 2254px;
  width: 253px;
}

.about-the-judges-2 .name-6 {
  height: 51px;
  left: 1726px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  text-align: center;
  top: 1101px;
  width: 190px;
}

.about-the-judges-2 .dr-kara-laing-is-an-1 {
  height: 287px;
  left: 1089px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 2075px;
  width: 817px;
}

.about-the-judges-2 .name-7 {
  height: 51px;
  left: 1701px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  text-align: center;
  top: 1887px;
  width: 253px;
}

.about-the-judges-2 .helen-moore-author-image-2019-1-1 {
  height: 161px;
  left: 1748px;
  object-fit: cover;
  position: absolute;
  top: 1708px;
  width: 156px;
}

.about-the-judges-2 .lovis-geier-1 {
  height: 51px;
  left: 1698px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 2488px;
  white-space: nowrap;
  width: 256px;
}

.about-the-judges-2 .profile-1-1 {
  height: 161px;
  left: 1762px;
  object-fit: cover;
  position: absolute;
  top: 2390px;
  width: 156px;
}

.about-the-judges-2 .dr-lovis-geier-is-a-1 {
  height: 287px;
  left: 880px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  text-align: right;
  top: 2395px;
  width: 837px;
}

.about-the-judges-2 .zack-is-a-london-ass-1 {
  height: 406px;
  left: 1099px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 2763px;
  width: 817px;
}

.about-the-judges-2 .screen_-shot_2020-01-28_at_223710-1-1 {
  height: 161px;
  left: 870px;
  object-fit: cover;
  position: absolute;
  top: 2763px;
  width: 156px;
}

.about-the-judges-2 .zac-k-polanski-1 {
  height: 51px;
  left: 824px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 2945px;
  width: 275px;
}

.about-the-judges-2 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1828px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 242px;
}

.about-the-judges-2 .group-42-1 {
  display: flex;
  height: 101px;
  width: 99px;
}

.about-the-judges-2 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.about-the-judges-2 .overlap-group-1 {
  height: 101px;
  position: relative;
  width: 99px;
}

.about-the-judges-2 .path-4-1 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.about-the-judges-2 .group-38-2 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.about-the-judges-2 .group-39-1 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.about-the-judges-2 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 16.9px 0;
  width: 99.47px;
}

.about-the-judges-2 .group-2-2-1 {
  background-image: url(../img/path-5-2-48@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.about-the-judges-2 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 923px;
  min-width: 132px;
  position: absolute;
  top: 320px;
}

.about-the-judges-2 .overlap-group1-1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.about-the-judges-2 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.about-the-judges-2 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.about-the-judges-2 .component-7-153 {
  display: flex;
  height: 45px;
  left: 801px;
  position: absolute;
  top: 324px;
  width: 86px;
}

.about-the-judges-2 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.about-the-judges-2 .component-8-187 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1339px;
  position: absolute;
  top: 325px;
  width: 103px;
}

.about-the-judges-2 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}

.about-the-judges-2 .component-9-152 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1189px;
  position: absolute;
  top: 325px;
  width: 110px;
}

.about-the-judges-2 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.about-the-judges-2 .component-3-151 {
  display: flex;
  height: 46px;
  left: 1049px;
  position: absolute;
  top: 324px;
  width: 172px;
}

.about-the-judges-2 .stories-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}
/* screen - about-the-judges-3 */

.about-the-judges-3-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2155px;
  overflow: hidden;
  width: 834px;
}

.about-the-judges-3-1 .overlap-group2-2 {
  height: 2297px;
  margin-left: -389px;
  margin-top: -142px;
  position: relative;
  width: 1299px;
}

.about-the-judges-3-1 .rectangle-59-1 {
  background-color: var(--vivid-violet);
  height: 2155px;
  left: 384px;
  opacity: 0.67;
  position: absolute;
  top: 142px;
  width: 839px;
}

.about-the-judges-3-1 .ellipse-37-1 {
  background-color: var(--jordy-blue);
  border-radius: 649.5px/191px;
  height: 382px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1299px;
}

.about-the-judges-3-1 .group-141-1 {
  background-image: url(../img/group-8-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 219px;
  left: 711px;
  position: absolute;
  top: 187px;
  width: 328px;
}

.about-the-judges-3-1 .about-the-judges-4 {
  height: 55px;
  left: 426px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 162px;
  white-space: nowrap;
  width: 403px;
}

.about-the-judges-3-1 .aasiya-is-a-teacher-2 {
  height: 162px;
  left: 586px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 448px;
  width: 579px;
}

.about-the-judges-3-1 .whats-app-image-2021-11-29-at-084053-2 {
  height: 106px;
  left: 456px;
  object-fit: cover;
  position: absolute;
  top: 448px;
  width: 102px;
}

.about-the-judges-3-1 .aasia-bora-2 {
  height: 34px;
  left: 431px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 475px;
  white-space: nowrap;
  width: 157px;
}

.about-the-judges-3-1 .ellen-studied-englis-2 {
  height: 156px;
  left: 463px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  text-align: right;
  top: 676px;
  width: 548px;
}

.about-the-judges-3-1 .whats-app-image-2021-12-19-at-74515-am-2 {
  border-radius: 118px;
  height: 105px;
  left: 1032px;
  object-fit: cover;
  position: absolute;
  top: 671px;
  width: 111px;
}

.about-the-judges-3-1 .helen-is-a-british-e-2 {
  height: 210px;
  left: 475px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  text-align: right;
  top: 1244px;
  width: 542px;
}

.about-the-judges-3-1 .x4473-kara-large-1-2 {
  height: 106px;
  left: 469px;
  object-fit: cover;
  position: absolute;
  top: 1520px;
  width: 102px;
}

.about-the-judges-3-1 .name-8 {
  height: 34px;
  left: 450px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 952px;
  white-space: nowrap;
  width: 143px;
}

.about-the-judges-3-1 .gregg-kleiner-is-the-2 {
  height: 296px;
  left: 591px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 888px;
  width: 573px;
}

.about-the-judges-3-1 .gregg-2 {
  height: 106px;
  left: 465px;
  object-fit: cover;
  position: absolute;
  top: 925px;
  width: 102px;
}

.about-the-judges-3-1 .name-9 {
  height: 34px;
  left: 439px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  text-align: center;
  top: 1627px;
  white-space: nowrap;
  width: 166px;
}

.about-the-judges-3-1 .name-10 {
  height: 34px;
  left: 1027px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 789px;
  width: 125px;
}

.about-the-judges-3-1 .dr-kara-laing-is-an-2 {
  height: 188px;
  left: 617px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 1520px;
  width: 537px;
}

.about-the-judges-3-1 .name-11 {
  height: 34px;
  left: 1019px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  text-align: center;
  top: 1376px;
  white-space: nowrap;
  width: 166px;
}

.about-the-judges-3-1 .helen-moore-author-image-2019-1-2 {
  height: 106px;
  left: 1050px;
  object-fit: cover;
  position: absolute;
  top: 1268px;
  width: 102px;
}

.about-the-judges-3-1 .lovis-geier-2 {
  height: 34px;
  left: 1011px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 1799px;
  white-space: nowrap;
  width: 169px;
}

.about-the-judges-3-1 .profile-1-2 {
  height: 106px;
  left: 1053px;
  object-fit: cover;
  position: absolute;
  top: 1772px;
  width: 102px;
}

.about-the-judges-3-1 .dr-lovis-geier-is-a-2 {
  height: 200px;
  left: 475px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  text-align: right;
  top: 1775px;
  width: 548px;
}

.about-the-judges-3-1 .zack-is-a-london-ass-2 {
  height: 203px;
  left: 628px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 2066px;
  width: 537px;
}

.about-the-judges-3-1 .screen_-shot_2020-01-28_at_223710-1-2 {
  height: 106px;
  left: 479px;
  object-fit: cover;
  position: absolute;
  top: 2067px;
  width: 102px;
}

.about-the-judges-3-1 .zac-k-polanski-2 {
  height: 39px;
  left: 473px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 2185px;
  width: 120px;
}

.about-the-judges-3-1 .group-90 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-101@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 119px;
  justify-content: flex-end;
  left: 1078px;
  min-width: 159px;
  padding: 13.7px 40.8px;
  position: absolute;
  top: 117px;
}

.about-the-judges-3-1 .group-42-2 {
  display: flex;
  height: 66px;
  width: 66px;
}

.about-the-judges-3-1 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 65.52px;
}

.about-the-judges-3-1 .overlap-group-2 {
  height: 66px;
  position: relative;
  width: 66px;
}

.about-the-judges-3-1 .path-4-2 {
  height: 17px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 61px;
}

.about-the-judges-3-1 .group-38-4 {
  display: flex;
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 66px;
}

.about-the-judges-3-1 .group-39-2 {
  display: flex;
  flex: 1;
  width: 65.52px;
}

.about-the-judges-3-1 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 11.1px 0;
  width: 65.52px;
}

.about-the-judges-3-1 .group-2-2-2 {
  background-image: url(../img/path-5-2-78@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 17px;
  width: 61px;
}

.about-the-judges-3-1 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 556px;
  min-width: 132px;
  position: absolute;
  top: 168px;
}

.about-the-judges-3-1 .overlap-group1-2 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.about-the-judges-3-1 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.about-the-judges-3-1 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.about-the-judges-3-1 .component-7-154 {
  display: flex;
  height: 45px;
  left: 434px;
  position: absolute;
  top: 172px;
  width: 86px;
}

.about-the-judges-3-1 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.about-the-judges-3-1 .component-8-188 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 972px;
  position: absolute;
  top: 173px;
  width: 103px;
}

.about-the-judges-3-1 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}

.about-the-judges-3-1 .component-9-153 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 822px;
  position: absolute;
  top: 173px;
  width: 110px;
}

.about-the-judges-3-1 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.about-the-judges-3-1 .component-3-152 {
  display: flex;
  height: 46px;
  left: 682px;
  position: absolute;
  top: 172px;
  width: 172px;
}

.about-the-judges-3-1 .stories-2 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}
@media screen and (max-width: 1279px) {
  .screen.about-the-judges-1 { 
    display: none;
   }
  .screen.about-the-judges-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.about-the-judges-1 { 
    display: none;
   }
  .screen.about-the-judges-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.about-the-judges-2 { 
    display: none;
   }
  .screen.about-the-judges-3 { 
    display: none;
   }
}