/* screen - about-solarpunk-1 */

.about-solarpunk-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3087px;
  overflow: hidden;
  width: 1920px;
}

.about-solarpunk-1 .overlap-group2 {
  height: 3206px;
  margin-left: -219px;
  margin-top: -119px;
  position: relative;
  width: 2188px;
}

.about-solarpunk-1 .rectangle-9 {
  background-color: var(--sky-blue);
  height: 3087px;
  left: 219px;
  position: absolute;
  top: 119px;
  width: 1920px;
}

.about-solarpunk-1 .ellipse-1 {
  background-color: var(--hopbush);
  border-radius: 529.5px/548.5px;
  height: 1097px;
  left: 0;
  opacity: 0.94;
  position: absolute;
  top: 0;
  width: 1059px;
}

.about-solarpunk-1 .about-solarpunk {
  height: 121px;
  left: 1179px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 369px;
  white-space: nowrap;
  width: 906px;
}

.about-solarpunk-1 .a-genre-of-art-and-l {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: 43px;
  font-weight: 400;
  height: 625px;
  left: 1179px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 620px;
  width: 792px;
}

.about-solarpunk-1 .group-117 {
  background-image: url(../img/group-116@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1049px;
  left: 62px;
  position: absolute;
  top: 284px;
  width: 1088px;
}

.about-solarpunk-1 .its-a-name-thats {
  color: var(--black-3);
  font-family: var(--font-family-crimson_text);
  font-size: 43px;
  font-weight: 400;
  height: 1693px;
  left: 487px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 1410px;
  width: 1387px;
}

.about-solarpunk-1 .so-what-is-solarpunk {
  color: var(--festival-2);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 60px;
  font-weight: 400;
  left: 1221px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 1282px;
  width: 708px;
}

.about-solarpunk-1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 1824px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 44px;
}

.about-solarpunk-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.about-solarpunk-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.about-solarpunk-1 .overlap-group {
  height: 151px;
  position: relative;
  width: 149px;
}

.about-solarpunk-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.about-solarpunk-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.about-solarpunk-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.about-solarpunk-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0.0px;
  width: 149.11px;
}

.about-solarpunk-1 .group-2-2 {
  background-image: url(../img/path-5-2-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.about-solarpunk-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 386px;
  min-width: 132px;
  position: absolute;
  top: 145px;
}

.about-solarpunk-1 .overlap-group1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.about-solarpunk-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.about-solarpunk-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.about-solarpunk-1 .component-7-146 {
  display: flex;
  height: 45px;
  left: 264px;
  position: absolute;
  top: 149px;
  width: 86px;
}

.about-solarpunk-1 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.about-solarpunk-1 .component-8-180 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 802px;
  position: absolute;
  top: 150px;
  width: 103px;
}

.about-solarpunk-1 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}

.about-solarpunk-1 .component-9-145 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 652px;
  position: absolute;
  top: 150px;
  width: 110px;
}

.about-solarpunk-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.about-solarpunk-1 .component-3-144 {
  display: flex;
  height: 46px;
  left: 512px;
  position: absolute;
  top: 149px;
  width: 172px;
}

.about-solarpunk-1 .stories {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}
/* screen - about-solarpunk-2 */

.about-solarpunk-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2705px;
  overflow: hidden;
  width: 1280px;
}

.about-solarpunk-2 .overlap-group2-1 {
  height: 2766px;
  margin-left: -145px;
  margin-top: -60px;
  position: relative;
  width: 1459px;
}

.about-solarpunk-2 .rectangle-9-1 {
  background-color: var(--sky-blue);
  height: 2709px;
  left: 145px;
  position: absolute;
  top: 57px;
  width: 1280px;
}

.about-solarpunk-2 .ellipse-1-1 {
  background-color: var(--hopbush);
  border-radius: 353.5px/364px;
  height: 728px;
  left: 0;
  opacity: 0.94;
  position: absolute;
  top: 0;
  width: 707px;
}

.about-solarpunk-2 .about-solarpunk-3 {
  color: var(--festival-2);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 50px;
  font-weight: 400;
  height: 80px;
  left: 785px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 185px;
  white-space: nowrap;
  width: 605px;
}

.about-solarpunk-2 .a-genre-of-art-and-l-1 {
  height: 567px;
  left: 785px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 390px;
  width: 528px;
}

.about-solarpunk-2 .group-117-1 {
  background-image: url(../img/group-116-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 696px;
  left: 40px;
  position: absolute;
  top: 167px;
  width: 726px;
}

.about-solarpunk-2 .its-a-name-thats-1 {
  color: var(--black-3);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xs);
  font-weight: 400;
  height: 1546px;
  left: 353px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 1046px;
  width: 925px;
}

.about-solarpunk-2 .so-what-is-solarpunk-1 {
  left: 719px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 979px;
  white-space: nowrap;
  width: 559px;
}

.about-solarpunk-2 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1217px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 8px;
}

.about-solarpunk-2 .group-42-1 {
  display: flex;
  height: 101px;
  width: 99px;
}

.about-solarpunk-2 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.about-solarpunk-2 .overlap-group-1 {
  height: 101px;
  position: relative;
  width: 99px;
}

.about-solarpunk-2 .path-4-1 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.about-solarpunk-2 .group-38-2 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.about-solarpunk-2 .group-39-1 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.about-solarpunk-2 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 16.9px 0.0px;
  width: 99.47px;
}

.about-solarpunk-2 .group-2-2-1 {
  background-image: url(../img/path-5-2-40@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.about-solarpunk-2 .component-8 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 728px;
  position: absolute;
  top: 91px;
  width: 103px;
}

.about-solarpunk-2 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}

.about-solarpunk-2 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 312px;
  min-width: 132px;
  position: absolute;
  top: 86px;
}

.about-solarpunk-2 .overlap-group1-1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.about-solarpunk-2 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.about-solarpunk-2 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.about-solarpunk-2 .component-7-147 {
  display: flex;
  height: 45px;
  left: 190px;
  position: absolute;
  top: 90px;
  width: 86px;
}

.about-solarpunk-2 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.about-solarpunk-2 .component-9-146 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 578px;
  position: absolute;
  top: 91px;
  width: 110px;
}

.about-solarpunk-2 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.about-solarpunk-2 .component-3-145 {
  display: flex;
  height: 46px;
  left: 438px;
  position: absolute;
  top: 90px;
  width: 172px;
}

.about-solarpunk-2 .stories-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}
/* screen - about-solarpunk-3 */

.about-solarpunk-3-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1532px;
  overflow: hidden;
  width: 834px;
}

.about-solarpunk-3-1 .overlap-group2-2 {
  height: 1595px;
  margin-left: -97px;
  margin-top: -63px;
  position: relative;
  width: 945px;
}

.about-solarpunk-3-1 .rectangle-58 {
  background-color: var(--sky-blue);
  height: 1532px;
  left: 97px;
  position: absolute;
  top: 63px;
  width: 835px;
}

.about-solarpunk-3-1 .ellipse-36 {
  background-color: var(--hopbush);
  border-radius: 231px/237.5px;
  height: 475px;
  left: 0;
  opacity: 0.94;
  position: absolute;
  top: 0;
  width: 462px;
}

.about-solarpunk-3-1 .about-solarpunk-4 {
  height: 53px;
  left: 513px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 106px;
  white-space: nowrap;
  width: 395px;
}

.about-solarpunk-3-1 .a-genre-of-art-and-l-2 {
  height: 370px;
  left: 513px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 271px;
  width: 345px;
}

.about-solarpunk-3-1 .its-a-name-thats-2 {
  color: var(--black-3);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxxs);
  font-weight: 400;
  height: 834px;
  left: 231px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 667px;
  width: 604px;
}

.about-solarpunk-3-1 .so-what-is-solarpunk-2 {
  left: 410px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 600px;
  white-space: nowrap;
  width: 498px;
}

.about-solarpunk-3-1 .group-139 {
  background-image: url(../img/group-116-4@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 454px;
  left: 27px;
  position: absolute;
  top: 126px;
  width: 473px;
}

.about-solarpunk-3-1 .group-90 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-101@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 119px;
  justify-content: flex-end;
  left: 786px;
  min-width: 159px;
  padding: 13.7px 40.8px;
  position: absolute;
  top: 38px;
}

.about-solarpunk-3-1 .group-42-2 {
  display: flex;
  height: 66px;
  width: 66px;
}

.about-solarpunk-3-1 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 65.52px;
}

.about-solarpunk-3-1 .overlap-group-2 {
  height: 66px;
  position: relative;
  width: 66px;
}

.about-solarpunk-3-1 .path-4-2 {
  height: 17px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 61px;
}

.about-solarpunk-3-1 .group-38-4 {
  display: flex;
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 66px;
}

.about-solarpunk-3-1 .group-39-2 {
  display: flex;
  flex: 1;
  width: 65.52px;
}

.about-solarpunk-3-1 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 11.1px 0;
  width: 65.52px;
}

.about-solarpunk-3-1 .group-2-2-2 {
  background-image: url(../img/path-5-2-78@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 17px;
  width: 61px;
}

.about-solarpunk-3-1 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 264px;
  min-width: 132px;
  position: absolute;
  top: 89px;
}

.about-solarpunk-3-1 .overlap-group1-2 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.about-solarpunk-3-1 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.about-solarpunk-3-1 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.about-solarpunk-3-1 .component-7-148 {
  display: flex;
  height: 45px;
  left: 142px;
  position: absolute;
  top: 93px;
  width: 86px;
}

.about-solarpunk-3-1 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.about-solarpunk-3-1 .component-8-182 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 680px;
  position: absolute;
  top: 94px;
  width: 103px;
}

.about-solarpunk-3-1 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}

.about-solarpunk-3-1 .component-9-147 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 530px;
  position: absolute;
  top: 94px;
  width: 110px;
}

.about-solarpunk-3-1 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.about-solarpunk-3-1 .component-3-146 {
  display: flex;
  height: 46px;
  left: 390px;
  position: absolute;
  top: 93px;
  width: 172px;
}

.about-solarpunk-3-1 .stories-2 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}
@media screen and (max-width: 1279px) {
  .screen.about-solarpunk-1 { 
    display: none;
   }
  .screen.about-solarpunk-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.about-solarpunk-1 { 
    display: none;
   }
  .screen.about-solarpunk-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.about-solarpunk-2 { 
    display: none;
   }
  .screen.about-solarpunk-3 { 
    display: none;
   }
}