/* screen - babylon-3 */

.babylon-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 5418px;
  overflow: hidden;
  width: 834px;
}

.babylon-3 .overlap-group2 {
  height: 5443px;
  margin-left: -290px;
  margin-top: -25.0px;
  position: relative;
  width: 1413px;
}

.babylon-3 .rectangle-42 {
  background-color: var(--yellow-green);
  height: 470px;
  left: 288px;
  position: absolute;
  top: 22px;
  width: 836px;
}

.babylon-3 .ellipse-21 {
  background-color: var(--white);
  border-radius: 706.58px/301.95px;
  height: 604px;
  left: 0;
  opacity: 0.67;
  position: absolute;
  top: 197px;
  width: 1413px;
}

.babylon-3 .rectangle-56 {
  background-color: var(--aths-special);
  height: 4951px;
  left: 288px;
  position: absolute;
  top: 492px;
  width: 836px;
}

.babylon-3 .the-hanging-gardens-of-babylon {
  color: var(--hopbush-2);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 40px;
  font-weight: 400;
  height: 54px;
  left: 388px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 53px;
  white-space: nowrap;
  width: 639px;
}

.babylon-3 .what-were-looking {
  left: 415px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 257px;
  width: 586px;
}

.babylon-3 .by-rebekah-neuberger {
  height: 25px;
  left: 836px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 175px;
  width: 173px;
}

.babylon-3 .group-90 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-101@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 119px;
  justify-content: flex-end;
  left: 979px;
  min-width: 159px;
  padding: 13.7px 40.8px;
  position: absolute;
  top: 0;
}

.babylon-3 .group-42 {
  display: flex;
  height: 66px;
  width: 66px;
}

.babylon-3 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 65.52px;
}

.babylon-3 .overlap-group {
  height: 66px;
  position: relative;
  width: 66px;
}

.babylon-3 .path-4 {
  height: 17px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 61px;
}

.babylon-3 .group-38 {
  display: flex;
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 66px;
}

.babylon-3 .group-39 {
  display: flex;
  flex: 1;
  width: 65.52px;
}

.babylon-3 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 11.1px 0;
  width: 65.52px;
}

.babylon-3 .group-2-2 {
  background-image: url(../img/path-5-2-107@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 17px;
  width: 61px;
}

.babylon-3 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 457px;
  min-width: 132px;
  position: absolute;
  top: 51px;
}

.babylon-3 .overlap-group1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.babylon-3 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.babylon-3 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.babylon-3 .component-7-231 {
  display: flex;
  height: 45px;
  left: 335px;
  position: absolute;
  top: 55px;
  width: 86px;
}

.babylon-3 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.babylon-3 .component-9-230 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 723px;
  position: absolute;
  top: 56px;
  width: 110px;
}

.babylon-3 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.babylon-3 .component-3-229 {
  display: flex;
  height: 46px;
  left: 583px;
  position: absolute;
  top: 55px;
  width: 172px;
}

.babylon-3 .stories {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.babylon-3 .component-8-265 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 873px;
  position: absolute;
  top: 56px;
  width: 103px;
}

.babylon-3 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - babylon1 */

.babylon1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 10377px;
  overflow: hidden;
  width: 1920px;
}

.babylon1 .overlap-group2-1 {
  height: 10452px;
  margin-left: -680px;
  margin-top: -75.0px;
  position: relative;
  width: 3250px;
}

.babylon1 .rectangle-42-1 {
  background-color: var(--yellow-green);
  height: 1080px;
  left: 680px;
  position: absolute;
  top: 75px;
  width: 1920px;
}

.babylon1 .ellipse-21-1 {
  background-color: var(--white);
  border-radius: 1625.18px/1017.75px;
  height: 2036px;
  left: 0;
  opacity: 0.67;
  position: absolute;
  top: 347px;
  width: 3250px;
}

.babylon1 .rectangle-56-1 {
  background-color: var(--aths-special);
  height: 9297px;
  left: 680px;
  position: absolute;
  top: 1155px;
  width: 1920px;
}

.babylon1 .the-hanging-gardens-of-babylon-1 {
  height: 121px;
  left: 923px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 140px;
  white-space: nowrap;
  width: 1437px;
}

.babylon1 .rectangle-43 {
  height: 60px;
  left: 1239px;
  object-fit: cover;
  position: absolute;
  top: 414px;
  width: 802px;
}

.babylon1 .what-were-looking-1 {
  left: 969px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 516px;
  width: 1345px;
}

.babylon1 .by-rebekah-neuberger-1 {
  height: 49px;
  left: 1954px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 285px;
  width: 360px;
}

.babylon1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 2285px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 0;
}

.babylon1 .group-42-1 {
  display: flex;
  height: 151px;
  width: 149px;
}

.babylon1 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.babylon1 .overlap-group-1 {
  height: 151px;
  position: relative;
  width: 149px;
}

.babylon1 .path-4-1 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.babylon1 .group-38-2 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.babylon1 .group-39-1 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.babylon1 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0.0px;
  width: 149.11px;
}

.babylon1 .group-2-2-1 {
  background-image: url(../img/path-5-2-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.babylon1 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 847px;
  min-width: 132px;
  position: absolute;
  top: 101px;
}

.babylon1 .overlap-group1-1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.babylon1 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.babylon1 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.babylon1 .component-7-229 {
  display: flex;
  height: 45px;
  left: 725px;
  position: absolute;
  top: 105px;
  width: 86px;
}

.babylon1 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.babylon1 .component-9-228 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1113px;
  position: absolute;
  top: 106px;
  width: 110px;
}

.babylon1 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.babylon1 .component-3-227 {
  display: flex;
  height: 46px;
  left: 973px;
  position: absolute;
  top: 105px;
  width: 172px;
}

.babylon1 .stories-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.babylon1 .component-8-263 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1263px;
  position: absolute;
  top: 106px;
  width: 103px;
}

.babylon1 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - babylon2 */

.babylon2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 6478px;
  overflow: hidden;
  width: 1280px;
}

.babylon2 .overlap-group2-2 {
  height: 6530px;
  margin-left: -446px;
  margin-top: -52.0px;
  position: relative;
  width: 2172px;
}

.babylon2 .rectangle-42-2 {
  background-color: var(--yellow-green);
  height: 722px;
  left: 442px;
  position: absolute;
  top: 50px;
  width: 1285px;
}

.babylon2 .ellipse-21-2 {
  background-color: var(--white);
  border-radius: 1086.19px/622.25px;
  height: 1245px;
  left: 0;
  opacity: 0.67;
  position: absolute;
  top: 279px;
  width: 2172px;
}

.babylon2 .rectangle-56-2 {
  background-color: var(--aths-special);
  height: 5758px;
  left: 442px;
  position: absolute;
  top: 772px;
  width: 1285px;
}

.babylon2 .the-hanging-gardens-of-babylon-2 {
  color: var(--hopbush-2);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 60px;
  font-weight: 400;
  height: 81px;
  left: 599px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 99px;
  white-space: nowrap;
  width: 1163px;
}

.babylon2 .rectangle-43-1 {
  height: 40px;
  left: 800px;
  object-fit: cover;
  position: absolute;
  top: 323px;
  width: 537px;
}

.babylon2 .what-were-looking-2 {
  left: 637px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 378px;
  width: 900px;
}

.babylon2 .by-rebekah-neuberger-2 {
  height: 34px;
  left: 1296px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 232px;
  width: 241px;
}

.babylon2 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1518px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 0;
}

.babylon2 .group-42-2 {
  display: flex;
  height: 101px;
  width: 99px;
}

.babylon2 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.babylon2 .overlap-group-2 {
  height: 101px;
  position: relative;
  width: 99px;
}

.babylon2 .path-4-2 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.babylon2 .group-38-4 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.babylon2 .group-39-2 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.babylon2 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 16.9px 0.0px;
  width: 99.47px;
}

.babylon2 .group-2-2-2 {
  background-image: url(../img/path-5-2-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.babylon2 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 613px;
  min-width: 132px;
  position: absolute;
  top: 78px;
}

.babylon2 .overlap-group1-2 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.babylon2 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.babylon2 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.babylon2 .component-7-230 {
  display: flex;
  height: 45px;
  left: 491px;
  position: absolute;
  top: 82px;
  width: 86px;
}

.babylon2 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.babylon2 .component-9-229 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 879px;
  position: absolute;
  top: 83px;
  width: 110px;
}

.babylon2 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.babylon2 .component-3-228 {
  display: flex;
  height: 46px;
  left: 739px;
  position: absolute;
  top: 82px;
  width: 172px;
}

.babylon2 .stories-2 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.babylon2 .component-8-264 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1029px;
  position: absolute;
  top: 83px;
  width: 103px;
}

.babylon2 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
@media screen and (max-width: 1279px) {
  .screen.babylon1 { 
    display: none;
   }
  .screen.babylon2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.babylon1 { 
    display: none;
   }
  .screen.babylon-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.babylon2 { 
    display: none;
   }
  .screen.babylon-3 { 
    display: none;
   }
}