/* screen - city-1 */

.city-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 13675px;
  overflow: hidden;
  width: 1920px;
}

.city-1 .overlap-group3 {
  height: 13750px;
  margin-left: -665px;
  margin-top: -75.0px;
  position: relative;
  width: 3250px;
}

.city-1 .rectangle-42 {
  background-color: var(--vivid-violet);
  height: 1080px;
  left: 665px;
  opacity: 0.38;
  position: absolute;
  top: 75px;
  width: 1920px;
}

.city-1 .ellipse-21 {
  background-color: var(--white);
  border-radius: 1625.18px/511.5px;
  height: 1023px;
  left: 0;
  opacity: 0.67;
  position: absolute;
  top: 407px;
  width: 3250px;
}

.city-1 .city-starlight-the-cemetery {
  height: 121px;
  left: 997px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 171px;
  white-space: nowrap;
  width: 1258px;
}

.city-1 .by-katrina-eilender {
  height: 64px;
  left: 1568px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 345px;
  width: 813px;
}

.city-1 .rectangle-43 {
  height: 60px;
  left: 1224px;
  object-fit: cover;
  position: absolute;
  top: 455px;
  width: 802px;
}

.city-1 .city-starlight-i-c {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 966px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 515px;
  width: 1352px;
}

.city-1 .rectangle-51 {
  background-color: var(--thistle);
  height: 12595px;
  left: 665px;
  opacity: 0.3;
  position: absolute;
  top: 1155px;
  width: 1920px;
}

.city-1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 2270px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 0;
}

.city-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.city-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.city-1 .overlap-group {
  height: 151px;
  position: relative;
  width: 149px;
}

.city-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.city-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.city-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.city-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0.0px;
  width: 149.11px;
}

.city-1 .group-2-2 {
  background-image: url(../img/path-5-2-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.city-1 .the-prizes {
  left: 742px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 150px;
  white-space: nowrap;
}

.city-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 832px;
  min-width: 132px;
  position: absolute;
  top: 101px;
}

.city-1 .overlap-group1 {
  height: 57px;
  margin-bottom: -2px;
  position: relative;
  width: 132px;
}

.city-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.city-1 .rectangle-49 {
  background-color: var(--picton-blue);
  border-radius: 5px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

.city-1 .xr-wordsmiths {
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.city-1 .the-artwork {
  left: 31px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.city-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.city-1 .overlap-group1-item {
  left: 11px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.city-1 .component-7-200 {
  cursor: pointer;
  display: flex;
  height: 52px;
  left: 710px;
  position: absolute;
  top: 100px;
  width: 98px;
}

.city-1 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -20.5px;
  margin-right: -2px;
  margin-top: 18.5px;
  white-space: nowrap;
  width: 98px;
}

.city-1 .component-9-199 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1098px;
  position: absolute;
  top: 106px;
  width: 110px;
}

.city-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.city-1 .component-3-198 {
  align-items: flex-end;
  display: flex;
  height: 46px;
  left: 958px;
  min-width: 172px;
  position: absolute;
  top: 105px;
}

.city-1 .overlap-group2 {
  height: 47px;
  margin-bottom: -6px;
  position: relative;
  width: 172px;
}

.city-1 .stories {
  left: 2px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.city-1 .rectangle-48 {
  background-color: var(--black);
  border-radius: 4px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 13px;
}

.city-1 .x11-under-winners {
  left: 0;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.city-1 .x19-over-winners {
  left: 28px;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.city-1 .x12-18-winners {
  left: 9px;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.city-1 .honorable-mentions {
  left: 9px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.city-1 .component-8-234 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1248px;
  position: absolute;
  top: 106px;
  width: 103px;
}

.city-1 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - city-2 */

.city-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 9822px;
  overflow: hidden;
  width: 1280px;
}

.city-2 .overlap-group3-1 {
  height: 9874px;
  margin-left: -429px;
  margin-top: -52.0px;
  position: relative;
  width: 2137px;
}

.city-2 .rectangle-42-1 {
  background-color: var(--vivid-violet);
  height: 697px;
  left: 429px;
  opacity: 0.38;
  position: absolute;
  top: 53px;
  width: 1279px;
}

.city-2 .ellipse-21-1 {
  background-color: var(--white);
  border-radius: 1068.57px/482.37px;
  height: 965px;
  left: 0;
  opacity: 0.67;
  position: absolute;
  top: 283px;
  width: 2137px;
}

.city-2 .city-starlight-the-cemetery-1 {
  color: var(--azure);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 60px;
  font-weight: 400;
  height: 79px;
  left: 663px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 80px;
  white-space: nowrap;
  width: 873px;
}

.city-2 .by-katrina-eilender-1 {
  height: 42px;
  left: 760px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 227px;
  white-space: nowrap;
  width: 776px;
}

.city-2 .rectangle-51-1 {
  background-color: var(--thistle);
  height: 9124px;
  left: 429px;
  opacity: 0.3;
  position: absolute;
  top: 750px;
  width: 1279px;
}

.city-2 .city-starlight-i-c-1 {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  left: 633px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 356px;
  width: 873px;
}

.city-2 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1501px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 0;
}

.city-2 .group-42-1 {
  display: flex;
  height: 101px;
  width: 99px;
}

.city-2 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.city-2 .overlap-group-1 {
  height: 101px;
  position: relative;
  width: 99px;
}

.city-2 .path-4-1 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.city-2 .group-38-2 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.city-2 .group-39-1 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.city-2 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 16.9px 0.0px;
  width: 99.47px;
}

.city-2 .group-2-2-1 {
  background-image: url(../img/path-5-2-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.city-2 .rectangle-43-1 {
  height: 29px;
  left: 877px;
  object-fit: cover;
  position: absolute;
  top: 329px;
  width: 385px;
}

.city-2 .the-prizes-1 {
  left: 506px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 127px;
  white-space: nowrap;
}

.city-2 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 596px;
  min-width: 132px;
  position: absolute;
  top: 78px;
}

.city-2 .overlap-group1-1 {
  height: 57px;
  margin-bottom: -2px;
  position: relative;
  width: 132px;
}

.city-2 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.city-2 .rectangle-49-1 {
  background-color: var(--picton-blue);
  border-radius: 5px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

.city-2 .xr-wordsmiths-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.city-2 .the-artwork-1 {
  left: 31px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.city-2 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.city-2 .overlap-group1-item-1 {
  left: 11px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.city-2 .component-7-201 {
  cursor: pointer;
  display: flex;
  height: 52px;
  left: 474px;
  position: absolute;
  top: 77px;
  width: 98px;
}

.city-2 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -20.5px;
  margin-right: -2px;
  margin-top: 18.5px;
  white-space: nowrap;
  width: 98px;
}

.city-2 .component-9-200 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 862px;
  position: absolute;
  top: 83px;
  width: 110px;
}

.city-2 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.city-2 .component-3-199 {
  align-items: flex-end;
  display: flex;
  height: 46px;
  left: 722px;
  min-width: 172px;
  position: absolute;
  top: 82px;
}

.city-2 .overlap-group2-1 {
  height: 47px;
  margin-bottom: -6px;
  position: relative;
  width: 172px;
}

.city-2 .stories-1 {
  left: 2px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.city-2 .rectangle-48-1 {
  background-color: var(--black);
  border-radius: 4px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 13px;
}

.city-2 .x11-under-winners-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.city-2 .x19-over-winners-1 {
  left: 28px;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.city-2 .x12-18-winners-1 {
  left: 9px;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.city-2 .honorable-mentions-1 {
  left: 9px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.city-2 .component-8-235 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1012px;
  position: absolute;
  top: 83px;
  width: 103px;
}

.city-2 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - city-3 */

.city-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 5609px;
  justify-content: center;
  overflow: hidden;
  width: 834px;
}

.city-3 .overlap-group3-2 {
  height: 5633px;
  margin-top: -24.34px;
  position: relative;
  width: 1392px;
}

.city-3 .rectangle-42-2 {
  background-color: var(--vivid-violet);
  height: 454px;
  left: 279px;
  opacity: 0.38;
  position: absolute;
  top: 23px;
  width: 833px;
}

.city-3 .ellipse-21-2 {
  background-color: var(--white);
  border-radius: 695.89px/340.85px;
  height: 682px;
  left: 0;
  opacity: 0.67;
  position: absolute;
  top: 215px;
  width: 1392px;
}

.city-3 .city-starlight-the-cemetery-2 {
  color: var(--azure);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 40px;
  font-weight: 400;
  height: 52px;
  left: 432px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 35px;
  white-space: nowrap;
  width: 569px;
}

.city-3 .by-katrina-eilender-2 {
  color: var(--tundora);
  font-family: var(--font-family-crimson_text);
  font-size: 23px;
  font-weight: 400;
  height: 45px;
  left: 567px;
  letter-spacing: 0;
  line-height: 23px;
  position: absolute;
  top: 180px;
  width: 435px;
}

.city-3 .city-starlight-i-c-2 {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxxxxs);
  font-weight: 700;
  left: 412px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 250px;
  width: 570px;
}

.city-3 .span-3 {
  font-weight: 400;
}

.city-3 .rectangle-51-2 {
  background-color: var(--thistle);
  height: 5156px;
  left: 279px;
  opacity: 0.3;
  position: absolute;
  top: 477px;
  width: 833px;
}

.city-3 .group-90 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-111@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 115px;
  justify-content: flex-end;
  left: 979px;
  min-width: 152px;
  padding: 14.4px 39.4px;
  position: absolute;
  top: 0;
}

.city-3 .group-42-2 {
  display: flex;
  height: 63px;
  width: 63px;
}

.city-3 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 62.64px;
}

.city-3 .overlap-group-2 {
  height: 63px;
  position: relative;
  width: 63px;
}

.city-3 .path-4-2 {
  height: 16px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 47px;
  width: 58px;
}

.city-3 .group-38-4 {
  display: flex;
  height: 63px;
  left: 0;
  position: absolute;
  top: 0;
  width: 63px;
}

.city-3 .group-39-2 {
  display: flex;
  flex: 1;
  width: 62.64px;
}

.city-3 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 10.6px 0.0px;
  width: 62.64px;
}

.city-3 .group-2-2-2 {
  background-image: url(../img/path-5-2-111@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  width: 58px;
}

.city-3 .the-prizes-2 {
  left: 356px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 99px;
  white-space: nowrap;
}

.city-3 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 446px;
  min-width: 132px;
  position: absolute;
  top: 50px;
}

.city-3 .overlap-group1-2 {
  height: 57px;
  margin-bottom: -2px;
  position: relative;
  width: 132px;
}

.city-3 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.city-3 .rectangle-49-2 {
  background-color: var(--picton-blue);
  border-radius: 5px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

.city-3 .xr-wordsmiths-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.city-3 .the-artwork-2 {
  left: 31px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.city-3 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.city-3 .overlap-group1-item-2 {
  left: 11px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.city-3 .component-7-202 {
  cursor: pointer;
  display: flex;
  height: 52px;
  left: 324px;
  position: absolute;
  top: 49px;
  width: 98px;
}

.city-3 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -20.5px;
  margin-right: -2px;
  margin-top: 18.5px;
  white-space: nowrap;
  width: 98px;
}

.city-3 .component-9-201 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 712px;
  position: absolute;
  top: 55px;
  width: 110px;
}

.city-3 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.city-3 .component-3-200 {
  align-items: flex-end;
  display: flex;
  height: 46px;
  left: 572px;
  min-width: 172px;
  position: absolute;
  top: 54px;
}

.city-3 .overlap-group2-2 {
  height: 47px;
  margin-bottom: -6px;
  position: relative;
  width: 172px;
}

.city-3 .stories-2 {
  left: 2px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.city-3 .rectangle-48-2 {
  background-color: var(--black);
  border-radius: 4px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 13px;
}

.city-3 .x11-under-winners-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.city-3 .x19-over-winners-2 {
  left: 28px;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.city-3 .x12-18-winners-2 {
  left: 9px;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.city-3 .honorable-mentions-2 {
  left: 9px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.city-3 .component-8-236 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 862px;
  position: absolute;
  top: 55px;
  width: 103px;
}

.city-3 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
@media screen and (max-width: 1279px) {
  .screen.city-1 { 
    display: none;
   }
  .screen.city-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.city-1 { 
    display: none;
   }
  .screen.city-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.city-2 { 
    display: none;
   }
  .screen.city-3 { 
    display: none;
   }
}