/* screen - gabby-1 */

.gabby-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 10060px;
  overflow: hidden;
  width: 1920px;
}

.gabby-1 .overlap-group2 {
  height: 10230px;
  margin-left: -685px;
  margin-top: -75.0px;
  position: relative;
  width: 3250px;
}

.gabby-1 .rectangle-42 {
  background-color: var(--sky-blue);
  height: 10009px;
  left: 685px;
  position: absolute;
  top: 75px;
  width: 1920px;
}

.gabby-1 .ellipse-21 {
  background-color: var(--white);
  border-radius: 1625.18px/1016px;
  height: 2032px;
  left: 0;
  opacity: 0.67;
  position: absolute;
  top: 393px;
  width: 3250px;
}

.gabby-1 .rectangle-54 {
  background-color: var(--onahau);
  height: 8305px;
  left: 685px;
  position: absolute;
  top: 1925px;
  width: 1920px;
}

.gabby-1 .gabbys-first-kiss {
  height: 121px;
  left: 966px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 219px;
  white-space: nowrap;
  width: 906px;
}

.gabby-1 .by-joe-tankersley-florida-us {
  height: 49px;
  left: 1752px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 310px;
  width: 575px;
}

.gabby-1 .rectangle-43 {
  height: 60px;
  left: 1244px;
  object-fit: cover;
  position: absolute;
  top: 453px;
  width: 802px;
}

.gabby-1 .gabby-nearly-knocke {
  left: 982px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 513px;
  width: 1345px;
}

.gabby-1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 2290px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 0;
}

.gabby-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.gabby-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.gabby-1 .overlap-group {
  height: 151px;
  position: relative;
  width: 149px;
}

.gabby-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.gabby-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.gabby-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.gabby-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0.0px;
  width: 149.11px;
}

.gabby-1 .group-2-2 {
  background-image: url(../img/path-5-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.gabby-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 852px;
  min-width: 132px;
  position: absolute;
  top: 101px;
}

.gabby-1 .overlap-group1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.gabby-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.gabby-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.gabby-1 .component-7-183 {
  display: flex;
  height: 45px;
  left: 730px;
  position: absolute;
  top: 105px;
  width: 86px;
}

.gabby-1 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.gabby-1 .component-9-182 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1118px;
  position: absolute;
  top: 106px;
  width: 110px;
}

.gabby-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.gabby-1 .component-3-181 {
  display: flex;
  height: 46px;
  left: 978px;
  position: absolute;
  top: 105px;
  width: 172px;
}

.gabby-1 .stories {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.gabby-1 .component-8-217 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1268px;
  position: absolute;
  top: 106px;
  width: 103px;
}

.gabby-1 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - gabby2 */

.gabby2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 6292px;
  justify-content: center;
  overflow: hidden;
  width: 1280px;
}

.gabby2 .overlap-group2-1 {
  height: 7098px;
  margin-top: -52.0px;
  position: relative;
  width: 2222px;
}

.gabby2 .rectangle-42-1 {
  background-color: var(--sky-blue);
  height: 6844px;
  left: 443px;
  position: absolute;
  top: 34px;
  width: 1314px;
}

.gabby2 .ellipse-21-1 {
  background-color: var(--white);
  border-radius: 1111.07px/628.29px;
  height: 1257px;
  left: 0;
  opacity: 0.67;
  position: absolute;
  top: 316px;
  width: 2222px;
}

.gabby2 .rectangle-54-1 {
  background-color: var(--onahau);
  height: 5809px;
  left: 443px;
  position: absolute;
  top: 1289px;
  width: 1314px;
}

.gabby2 .gabbys-first-kiss-1 {
  height: 83px;
  left: 641px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 170px;
  white-space: nowrap;
  width: 620px;
}

.gabby2 .by-joe-tankersley-florida-us-1 {
  height: 34px;
  left: 1258px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 271px;
  width: 394px;
}

.gabby2 .rectangle-43-1 {
  height: 41px;
  left: 867px;
  object-fit: cover;
  position: absolute;
  top: 365px;
  width: 548px;
}

.gabby2 .gabby-nearly-knocke-1 {
  left: 641px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 406px;
  width: 921px;
}

.gabby2 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1543px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 0;
}

.gabby2 .group-42-1 {
  display: flex;
  height: 101px;
  width: 99px;
}

.gabby2 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.gabby2 .overlap-group-1 {
  height: 101px;
  position: relative;
  width: 99px;
}

.gabby2 .path-4-1 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.gabby2 .group-38-2 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.gabby2 .group-39-1 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.gabby2 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 16.9px 0.0px;
  width: 99.47px;
}

.gabby2 .group-2-2-1 {
  background-image: url(../img/path-5-2-40@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.gabby2 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 638px;
  min-width: 132px;
  position: absolute;
  top: 78px;
}

.gabby2 .overlap-group1-1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.gabby2 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.gabby2 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.gabby2 .component-7-184 {
  display: flex;
  height: 45px;
  left: 516px;
  position: absolute;
  top: 82px;
  width: 86px;
}

.gabby2 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.gabby2 .component-9-183 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 904px;
  position: absolute;
  top: 83px;
  width: 110px;
}

.gabby2 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.gabby2 .component-3-182 {
  display: flex;
  height: 46px;
  left: 764px;
  position: absolute;
  top: 82px;
  width: 172px;
}

.gabby2 .stories-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.gabby2 .component-8-218 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1054px;
  position: absolute;
  top: 83px;
  width: 103px;
}

.gabby2 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - gabby3 */

.gabby3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 5163px;
  overflow: hidden;
  width: 834px;
}

.gabby3 .overlap-group2-2 {
  height: 5198px;
  margin-left: -301px;
  margin-top: -25.0px;
  position: relative;
  width: 1436px;
}

.gabby3 .rectangle-42-2 {
  background-color: var(--sky-blue);
  height: 4423px;
  left: 303px;
  position: absolute;
  top: 21px;
  width: 849px;
}

.gabby3 .ellipse-21-2 {
  background-color: var(--white);
  border-radius: 717.96px/313.09px;
  height: 626px;
  left: 0;
  opacity: 0.67;
  position: absolute;
  top: 228px;
  width: 1436px;
}

.gabby3 .gabbys-first-kiss-2 {
  height: 54px;
  left: 416px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 67px;
  white-space: nowrap;
  width: 441px;
}

.gabby3 .by-joe-tankersley-florida-us-2 {
  height: 23px;
  left: 794px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 194px;
  width: 256px;
}

.gabby3 .rectangle-54-2 {
  background-color: var(--onahau);
  height: 4534px;
  left: 301px;
  position: absolute;
  top: 664px;
  width: 839px;
}

.gabby3 .gabby-nearly-knocke-2 {
  left: 431px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 242px;
  width: 595px;
}

.gabby3 .group-90 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-101@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 119px;
  justify-content: flex-end;
  left: 990px;
  min-width: 159px;
  padding: 13.7px 40.8px;
  position: absolute;
  top: 0;
}

.gabby3 .group-42-2 {
  display: flex;
  height: 66px;
  width: 66px;
}

.gabby3 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 65.52px;
}

.gabby3 .overlap-group-2 {
  height: 66px;
  position: relative;
  width: 66px;
}

.gabby3 .path-4-2 {
  height: 17px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 61px;
}

.gabby3 .group-38-4 {
  display: flex;
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 66px;
}

.gabby3 .group-39-2 {
  display: flex;
  flex: 1;
  width: 65.52px;
}

.gabby3 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 11.1px 0;
  width: 65.52px;
}

.gabby3 .group-2-2-2 {
  background-image: url(../img/path-5-2-78@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 17px;
  width: 61px;
}

.gabby3 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 468px;
  min-width: 132px;
  position: absolute;
  top: 51px;
}

.gabby3 .overlap-group1-2 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.gabby3 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.gabby3 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.gabby3 .component-7-185 {
  display: flex;
  height: 45px;
  left: 346px;
  position: absolute;
  top: 55px;
  width: 86px;
}

.gabby3 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.gabby3 .component-9-184 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 734px;
  position: absolute;
  top: 56px;
  width: 110px;
}

.gabby3 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.gabby3 .component-3-183 {
  display: flex;
  height: 46px;
  left: 594px;
  position: absolute;
  top: 55px;
  width: 172px;
}

.gabby3 .stories-2 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.gabby3 .component-8-219 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 884px;
  position: absolute;
  top: 56px;
  width: 103px;
}

.gabby3 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
@media screen and (max-width: 1279px) {
  .screen.gabby-1 { 
    display: none;
   }
  .screen.gabby2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.gabby-1 { 
    display: none;
   }
  .screen.gabby3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.gabby2 { 
    display: none;
   }
  .screen.gabby3 { 
    display: none;
   }
}