/* screen - happy-wolf-1 */

.happy-wolf-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2246px;
  overflow: hidden;
  width: 1920px;
}

.happy-wolf-1 .overlap-group3 {
  height: 4041px;
  margin-left: -1235px;
  margin-top: -75.0px;
  position: relative;
  width: 4390px;
}

.happy-wolf-1 .rectangle-42 {
  background-color: var(--lightning-yellow);
  height: 2251px;
  left: 1235px;
  opacity: 0.4;
  position: absolute;
  top: 75px;
  width: 1920px;
}

.happy-wolf-1 .ellipse-32 {
  background-color: var(--white);
  border-radius: 2195.16px/1866.5px;
  height: 3733px;
  left: 0;
  opacity: 0.81;
  position: absolute;
  top: 308px;
  width: 4390px;
}

.happy-wolf-1 .the-happy-wolf {
  height: 121px;
  left: 1524px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 161px;
  white-space: nowrap;
  width: 906px;
}

.happy-wolf-1 .one-day-me-and-ale {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: 44px;
  font-weight: 400;
  left: 1552px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 1292px;
  width: 1345px;
}

.happy-wolf-1 .by-mikhayel-malouf {
  height: 67px;
  left: 2225px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 243px;
  width: 727px;
}

.happy-wolf-1 .i-like-being-a-wolf {
  color: var(--black);
  font-family: var(--font-family-crimson_text);
  font-size: 44px;
  font-weight: 400;
  left: 1552px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 464px;
  width: 426px;
}

.happy-wolf-1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 2840px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 0;
}

.happy-wolf-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.happy-wolf-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.happy-wolf-1 .overlap-group {
  height: 151px;
  position: relative;
  width: 149px;
}

.happy-wolf-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.happy-wolf-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.happy-wolf-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.happy-wolf-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0.0px;
  width: 149.11px;
}

.happy-wolf-1 .group-2-2 {
  background-image: url(../img/path-5-2-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.happy-wolf-1 .whats-app-image-2022-01-11-at-91544-am {
  cursor: pointer;
  height: 1527px;
  left: 1443px;
  object-fit: cover;
  position: absolute;
  top: 373px;
  width: 1505px;
}

.happy-wolf-1 .illustration-by-goodwives-and-warriors {
  color: var(--tundora);
  font-family: var(--font-family-crimson_text);
  font-size: 38px;
  font-weight: 400;
  height: 76px;
  left: 2149px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: right;
  top: 1264px;
  width: 724px;
}

.happy-wolf-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 1402px;
  min-width: 132px;
  position: absolute;
  top: 101px;
}

.happy-wolf-1 .overlap-group1 {
  height: 57px;
  margin-bottom: -2px;
  position: relative;
  width: 132px;
}

.happy-wolf-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.happy-wolf-1 .rectangle-49 {
  background-color: var(--picton-blue);
  border-radius: 5px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

.happy-wolf-1 .xr-wordsmiths {
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.happy-wolf-1 .the-artwork {
  left: 31px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.happy-wolf-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.happy-wolf-1 .overlap-group1-item {
  left: 11px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.happy-wolf-1 .component-7-180 {
  cursor: pointer;
  display: flex;
  height: 52px;
  left: 1280px;
  position: absolute;
  top: 100px;
  width: 98px;
}

.happy-wolf-1 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -20.5px;
  margin-right: -2px;
  margin-top: 18.5px;
  white-space: nowrap;
  width: 98px;
}

.happy-wolf-1 .component-9-179 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1668px;
  position: absolute;
  top: 106px;
  width: 110px;
}

.happy-wolf-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.happy-wolf-1 .component-3-178 {
  align-items: flex-end;
  display: flex;
  height: 46px;
  left: 1528px;
  min-width: 172px;
  position: absolute;
  top: 105px;
}

.happy-wolf-1 .overlap-group2 {
  height: 47px;
  margin-bottom: -6px;
  position: relative;
  width: 172px;
}

.happy-wolf-1 .stories {
  left: 2px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.happy-wolf-1 .rectangle-48 {
  background-color: var(--black);
  border-radius: 4px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 13px;
}

.happy-wolf-1 .x11-under-winners {
  left: 0;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.happy-wolf-1 .x19-over-winners {
  left: 28px;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.happy-wolf-1 .x12-18-winners {
  left: 9px;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.happy-wolf-1 .honorable-mentions {
  left: 9px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.happy-wolf-1 .component-8-214 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1818px;
  position: absolute;
  top: 106px;
  width: 103px;
}

.happy-wolf-1 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - happy-wolf-2 */

.happy-wolf-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2340px;
  justify-content: center;
  overflow: hidden;
  width: 1280px;
}

.happy-wolf-2 .overlap-group3-1 {
  height: 2553px;
  margin-top: -52.0px;
  position: relative;
  width: 2963px;
}

.happy-wolf-2 .rectangle-42-1 {
  background-color: var(--lightning-yellow);
  height: 2340px;
  left: 836px;
  opacity: 0.4;
  position: absolute;
  top: 52px;
  width: 1294px;
}

.happy-wolf-2 .ellipse-32-1 {
  background-color: var(--white);
  border-radius: 1481.36px/1162.57px;
  height: 2325px;
  left: 0;
  opacity: 0.81;
  position: absolute;
  top: 228px;
  width: 2963px;
}

.happy-wolf-2 .the-happy-wolf-1 {
  color: var(--red-violet);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 70px;
  font-weight: 400;
  height: 82px;
  left: 1029px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 82px;
  white-space: nowrap;
  width: 612px;
}

.happy-wolf-2 .now-that-were-not-b {
  left: 1028px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 891px;
  width: 909px;
}

.happy-wolf-2 .by-mikhayel-malouf-1 {
  color: var(--dove-gray);
  font-family: var(--font-family-crimson_text);
  font-size: 20px;
  font-weight: 400;
  height: 46px;
  left: 1589px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 165px;
  width: 492px;
}

.happy-wolf-2 .i-like-being-a-wolf-1 {
  left: 1028px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 451px;
  width: 395px;
}

.happy-wolf-2 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1913px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 0;
}

.happy-wolf-2 .group-42-1 {
  display: flex;
  height: 101px;
  width: 99px;
}

.happy-wolf-2 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.happy-wolf-2 .overlap-group-1 {
  height: 101px;
  position: relative;
  width: 99px;
}

.happy-wolf-2 .path-4-1 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.happy-wolf-2 .group-38-2 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.happy-wolf-2 .group-39-1 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.happy-wolf-2 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 16.9px 0.0px;
  width: 99.47px;
}

.happy-wolf-2 .group-2-2-1 {
  background-image: url(../img/path-5-2-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.happy-wolf-2 .whats-app-image-2022-01-11-at-91544-am-1 {
  cursor: pointer;
  height: 923px;
  left: 1077px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 909px;
}

.happy-wolf-2 .illustration-by-goodwives-and-warriors-1 {
  height: 55px;
  left: 1532px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 821px;
  width: 418px;
}

.happy-wolf-2 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 1008px;
  min-width: 132px;
  position: absolute;
  top: 78px;
}

.happy-wolf-2 .overlap-group1-1 {
  height: 57px;
  margin-bottom: -2px;
  position: relative;
  width: 132px;
}

.happy-wolf-2 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.happy-wolf-2 .rectangle-49-1 {
  background-color: var(--picton-blue);
  border-radius: 5px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

.happy-wolf-2 .xr-wordsmiths-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.happy-wolf-2 .the-artwork-1 {
  left: 31px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.happy-wolf-2 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.happy-wolf-2 .overlap-group1-item-1 {
  left: 11px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.happy-wolf-2 .component-7-181 {
  cursor: pointer;
  display: flex;
  height: 52px;
  left: 886px;
  position: absolute;
  top: 77px;
  width: 98px;
}

.happy-wolf-2 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -20.5px;
  margin-right: -2px;
  margin-top: 18.5px;
  white-space: nowrap;
  width: 98px;
}

.happy-wolf-2 .component-9-180 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1274px;
  position: absolute;
  top: 83px;
  width: 110px;
}

.happy-wolf-2 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.happy-wolf-2 .component-3-179 {
  align-items: flex-end;
  display: flex;
  height: 46px;
  left: 1134px;
  min-width: 172px;
  position: absolute;
  top: 82px;
}

.happy-wolf-2 .overlap-group2-1 {
  height: 47px;
  margin-bottom: -6px;
  position: relative;
  width: 172px;
}

.happy-wolf-2 .stories-1 {
  left: 2px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.happy-wolf-2 .rectangle-48-1 {
  background-color: var(--black);
  border-radius: 4px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 13px;
}

.happy-wolf-2 .x11-under-winners-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.happy-wolf-2 .x19-over-winners-1 {
  left: 28px;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.happy-wolf-2 .x12-18-winners-1 {
  left: 9px;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.happy-wolf-2 .honorable-mentions-1 {
  left: 9px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.happy-wolf-2 .component-8-215 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1424px;
  position: absolute;
  top: 83px;
  width: 103px;
}

.happy-wolf-2 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - happy-wolf-3 */

.happy-wolf-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1067px;
  justify-content: center;
  overflow: hidden;
  width: 834px;
}

.happy-wolf-3 .overlap-group3-2 {
  height: 1828px;
  margin-top: -25.0px;
  position: relative;
  width: 1974px;
}

.happy-wolf-3 .rectangle-42-2 {
  background-color: var(--lightning-yellow);
  height: 1674px;
  left: 568px;
  opacity: 0.4;
  position: absolute;
  top: 24px;
  width: 837px;
}

.happy-wolf-3 .ellipse-32-2 {
  background-color: var(--white);
  border-radius: 987.23px/807.76px;
  height: 1616px;
  left: 0;
  opacity: 0.81;
  position: absolute;
  top: 213px;
  width: 1974px;
}

.happy-wolf-3 .the-happy-wolf-2 {
  color: var(--red-violet);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 50px;
  font-weight: 400;
  height: 54px;
  left: 672px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 44px;
  white-space: nowrap;
  width: 397px;
}

.happy-wolf-3 .one-day-me-and-alex {
  left: 664px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 595px;
  width: 589px;
}

.happy-wolf-3 .by-mikhayel-malouf-2 {
  color: var(--dove-gray);
  font-family: var(--font-family-crimson_text);
  font-size: 20px;
  font-weight: 400;
  height: 86px;
  left: 938px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 171px;
  width: 354px;
}

.happy-wolf-3 .i-like-being-a-wolf-2 {
  left: 667px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 278px;
  width: 266px;
}

.happy-wolf-3 .group-90 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-101@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 119px;
  justify-content: flex-end;
  left: 1259px;
  min-width: 159px;
  padding: 13.7px 40.8px;
  position: absolute;
  top: 0;
}

.happy-wolf-3 .group-42-2 {
  display: flex;
  height: 66px;
  width: 66px;
}

.happy-wolf-3 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 65.52px;
}

.happy-wolf-3 .overlap-group-2 {
  height: 66px;
  position: relative;
  width: 66px;
}

.happy-wolf-3 .path-4-2 {
  height: 17px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 61px;
}

.happy-wolf-3 .group-38-4 {
  display: flex;
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 66px;
}

.happy-wolf-3 .group-39-2 {
  display: flex;
  flex: 1;
  width: 65.52px;
}

.happy-wolf-3 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 11.1px 0;
  width: 65.52px;
}

.happy-wolf-3 .group-2-2-2 {
  background-image: url(../img/path-5-2-77@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 17px;
  width: 61px;
}

.happy-wolf-3 .whats-app-image-2022-01-11-at-91544-am-2 {
  cursor: pointer;
  height: 547px;
  left: 770px;
  object-fit: cover;
  position: absolute;
  top: 255px;
  width: 540px;
}

.happy-wolf-3 .illustration-by-goodwives-and-warriors-2 {
  color: var(--tundora);
  font-family: var(--font-family-crimson_text);
  font-size: 15px;
  font-weight: 400;
  height: 55px;
  left: 965px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: right;
  top: 552px;
  width: 318px;
}

.happy-wolf-3 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 737px;
  min-width: 132px;
  position: absolute;
  top: 51px;
}

.happy-wolf-3 .overlap-group1-2 {
  height: 57px;
  margin-bottom: -2px;
  position: relative;
  width: 132px;
}

.happy-wolf-3 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.happy-wolf-3 .rectangle-49-2 {
  background-color: var(--picton-blue);
  border-radius: 5px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

.happy-wolf-3 .xr-wordsmiths-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.happy-wolf-3 .the-artwork-2 {
  left: 31px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.happy-wolf-3 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.happy-wolf-3 .overlap-group1-item-2 {
  left: 11px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.happy-wolf-3 .component-7-182 {
  cursor: pointer;
  display: flex;
  height: 52px;
  left: 615px;
  position: absolute;
  top: 50px;
  width: 98px;
}

.happy-wolf-3 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -20.5px;
  margin-right: -2px;
  margin-top: 18.5px;
  white-space: nowrap;
  width: 98px;
}

.happy-wolf-3 .component-9-181 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1003px;
  position: absolute;
  top: 56px;
  width: 110px;
}

.happy-wolf-3 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.happy-wolf-3 .component-3-180 {
  align-items: flex-end;
  display: flex;
  height: 46px;
  left: 863px;
  min-width: 172px;
  position: absolute;
  top: 55px;
}

.happy-wolf-3 .overlap-group2-2 {
  height: 47px;
  margin-bottom: -6px;
  position: relative;
  width: 172px;
}

.happy-wolf-3 .stories-2 {
  left: 2px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.happy-wolf-3 .rectangle-48-2 {
  background-color: var(--black);
  border-radius: 4px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 13px;
}

.happy-wolf-3 .x11-under-winners-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.happy-wolf-3 .x19-over-winners-2 {
  left: 28px;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.happy-wolf-3 .x12-18-winners-2 {
  left: 9px;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.happy-wolf-3 .honorable-mentions-2 {
  left: 9px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.happy-wolf-3 .component-8-216 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1153px;
  position: absolute;
  top: 56px;
  width: 103px;
}

.happy-wolf-3 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
@media screen and (max-width: 1279px) {
  .screen.happy-wolf-1 { 
    display: none;
   }
  .screen.happy-wolf-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.happy-wolf-1 { 
    display: none;
   }
  .screen.happy-wolf-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.happy-wolf-2 { 
    display: none;
   }
  .screen.happy-wolf-3 { 
    display: none;
   }
}