/* screen - honorable-1 */

.honorable-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.honorable-1 .overlap-group2 {
  height: 2393px;
  margin-left: -177px;
  margin-top: -75.0px;
  position: relative;
  width: 2275px;
}

.honorable-1 .rectangle-41 {
  background-color: var(--yellow-green);
  height: 1080px;
  left: 177px;
  position: absolute;
  top: 75px;
  width: 1920px;
}

.honorable-1 .ellipse-20 {
  background-color: var(--hopbush-3);
  border-radius: 1137.5px/1131px;
  height: 2262px;
  left: 0;
  opacity: 1.0;
  position: absolute;
  top: 131px;
  width: 2275px;
}

.honorable-1 .honorable-mentions {
  color: var(--jagged-ice);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 90px;
  font-weight: 400;
  height: 121px;
  left: 685px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 218px;
  white-space: nowrap;
  width: 906px;
}

.honorable-1 .group-97 {
  height: 655px;
  left: 835px;
  object-fit: cover;
  position: absolute;
  top: 500px;
  width: 428px;
}

.honorable-1 .utopia-in-the-sewersby-zkan-akman {
  cursor: pointer;
  height: 135px;
  left: 386px;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 444px;
  width: 665px;
}

.honorable-1 .the-green-wallby-clare-harvey {
  cursor: pointer;
  height: 135px;
  left: 371px;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 603px;
  width: 665px;
}

.honorable-1 .the-rooted-ritualby-charlie-mc-kay {
  cursor: pointer;
  height: 135px;
  left: 371px;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 921px;
  width: 665px;
}

.honorable-1 .seaweedby-hazel-morfett {
  cursor: pointer;
  height: 135px;
  left: 1275px;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 444px;
  width: 368px;
}

.honorable-1 .the-hanging-gardens {
  cursor: pointer;
  height: 135px;
  left: 1273px;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 603px;
  width: 737px;
}

.honorable-1 .meeting-at-the-giant {
  cursor: pointer;
  height: 135px;
  left: 1272px;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 762px;
  width: 737px;
}

.honorable-1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 1782px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 0;
}

.honorable-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.honorable-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.honorable-1 .overlap-group {
  height: 151px;
  position: relative;
  width: 149px;
}

.honorable-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.honorable-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.honorable-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.honorable-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0.0px;
  width: 149.11px;
}

.honorable-1 .group-2-2 {
  background-image: url(../img/path-5-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.honorable-1 .the-well-trodden-pathby-tom-jubert {
  cursor: pointer;
  height: 135px;
  left: 371px;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 762px;
  width: 665px;
}

.honorable-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 344px;
  min-width: 132px;
  position: absolute;
  top: 101px;
}

.honorable-1 .overlap-group1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.honorable-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.honorable-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.honorable-1 .component-7-215 {
  display: flex;
  height: 45px;
  left: 222px;
  position: absolute;
  top: 105px;
  width: 86px;
}

.honorable-1 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.honorable-1 .component-9-214 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 610px;
  position: absolute;
  top: 106px;
  width: 110px;
}

.honorable-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.honorable-1 .component-3-213 {
  display: flex;
  height: 46px;
  left: 470px;
  position: absolute;
  top: 105px;
  width: 172px;
}

.honorable-1 .stories {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.honorable-1 .component-8-249 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 760px;
  position: absolute;
  top: 106px;
  width: 103px;
}

.honorable-1 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - honorable-2 */

.honorable-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 800px;
  overflow: hidden;
  width: 1280px;
}

.honorable-2 .overlap-group2-1 {
  height: 1121px;
  margin-left: -125px;
  margin-top: -52.0px;
  position: relative;
  width: 1531px;
}

.honorable-2 .rectangle-41-1 {
  background-color: var(--yellow-green);
  height: 726px;
  left: 119px;
  position: absolute;
  top: 52px;
  width: 1293px;
}

.honorable-2 .ellipse-20-1 {
  background-color: var(--hopbush-3);
  border-radius: 765.5px/483.5px;
  height: 967px;
  left: 0;
  opacity: 1.0;
  position: absolute;
  top: 154px;
  width: 1531px;
}

.honorable-2 .honorable-mentions-1 {
  color: var(--jagged-ice);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 70px;
  font-weight: 400;
  height: 81px;
  left: 300px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 146px;
  white-space: nowrap;
  width: 933px;
}

.honorable-2 .group-97-1 {
  background-image: url(../img/group-96-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 441px;
  left: 538px;
  position: absolute;
  top: 351px;
  width: 288px;
}

.honorable-2 .utopia-in-the-sewersby-zkan-akman-1 {
  cursor: pointer;
  height: 91px;
  left: 208px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 322px;
  width: 448px;
}

.honorable-2 .surname {
  cursor: pointer;
  height: 91px;
  left: 208px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 417px;
  width: 448px;
}

.honorable-2 .the-well-trodden-pathby-tom-jubert-1 {
  cursor: pointer;
  height: 91px;
  left: 208px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 511px;
  width: 448px;
}

.honorable-2 .the-rooted-ritualby-charlie-mc-kay-1 {
  cursor: pointer;
  height: 91px;
  left: 208px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 606px;
  width: 448px;
}

.honorable-2 .seaweedby-hazel-morfett-1 {
  cursor: pointer;
  height: 91px;
  left: 823px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 301px;
  width: 248px;
}

.honorable-2 .the-hanging-gardens-1 {
  cursor: pointer;
  height: 149px;
  left: 826px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 396px;
  width: 551px;
}

.honorable-2 .meeting-at-the-giant-1 {
  cursor: pointer;
  height: 133px;
  left: 826px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 499px;
  width: 551px;
}

.honorable-2 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1197px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 0;
}

.honorable-2 .group-42-1 {
  display: flex;
  height: 101px;
  width: 99px;
}

.honorable-2 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.honorable-2 .overlap-group-1 {
  height: 101px;
  position: relative;
  width: 99px;
}

.honorable-2 .path-4-1 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.honorable-2 .group-38-2 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.honorable-2 .group-39-1 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.honorable-2 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 16.9px 0;
  width: 99.47px;
}

.honorable-2 .group-2-2-1 {
  background-image: url(../img/path-5-2-58@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.honorable-2 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 292px;
  min-width: 132px;
  position: absolute;
  top: 78px;
}

.honorable-2 .overlap-group1-1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.honorable-2 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.honorable-2 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.honorable-2 .component-7-216 {
  display: flex;
  height: 45px;
  left: 170px;
  position: absolute;
  top: 82px;
  width: 86px;
}

.honorable-2 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.honorable-2 .component-9-215 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 558px;
  position: absolute;
  top: 83px;
  width: 110px;
}

.honorable-2 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.honorable-2 .component-3-214 {
  display: flex;
  height: 46px;
  left: 418px;
  position: absolute;
  top: 82px;
  width: 172px;
}

.honorable-2 .stories-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.honorable-2 .component-8-250 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 708px;
  position: absolute;
  top: 83px;
  width: 103px;
}

.honorable-2 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - honorable-3 */

.honorable-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1194px;
  overflow: hidden;
  width: 834px;
}

.honorable-3 .overlap-group2-2 {
  height: 1214px;
  margin-left: -152px;
  margin-top: -19.85px;
  position: relative;
  width: 1531px;
}

.honorable-3 .rectangle-41-2 {
  background-color: var(--yellow-green);
  height: 1194px;
  left: 146px;
  position: absolute;
  top: 20px;
  width: 840px;
}

.honorable-3 .ellipse-20-2 {
  background-color: var(--hopbush-3);
  border-radius: 765.5px/588px;
  height: 1176px;
  left: 0;
  opacity: 1.0;
  position: absolute;
  top: 38px;
  width: 1531px;
}

.honorable-3 .honorable-mentions-2 {
  color: var(--jagged-ice);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 50px;
  font-weight: 400;
  height: 81px;
  left: 426px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 122px;
  white-space: nowrap;
  width: 517px;
}

.honorable-3 .group-97-2 {
  background-image: url(../img/group-96-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 441px;
  left: 622px;
  position: absolute;
  top: 320px;
  width: 288px;
}

.honorable-3 .utopia-in-the-sewersby-zkan-akman-2 {
  cursor: pointer;
  height: 91px;
  left: 286px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 299px;
  width: 448px;
}

.honorable-3 .surname-1 {
  cursor: pointer;
  height: 91px;
  left: 286px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 394px;
  width: 448px;
}

.honorable-3 .the-well-trodden-pathby-tom-jubert-2 {
  cursor: pointer;
  height: 91px;
  left: 286px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 489px;
  width: 448px;
}

.honorable-3 .the-rooted-ritualby-charlie-mc-kay-2 {
  cursor: pointer;
  height: 91px;
  left: 286px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 584px;
  width: 448px;
}

.honorable-3 .seaweedby-hazel-morfett-2 {
  cursor: pointer;
  height: 91px;
  left: 286px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 679px;
  width: 248px;
}

.honorable-3 .the-hanging-gardens-2 {
  cursor: pointer;
  height: 92px;
  left: 286px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 774px;
  width: 551px;
}

.honorable-3 .meeting-at-the-giant-2 {
  cursor: pointer;
  height: 133px;
  left: 286px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 870px;
  width: 551px;
}

.honorable-3 .group-90 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-91@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 112px;
  justify-content: flex-end;
  left: 853px;
  min-width: 148px;
  padding: 13.9px 37.6px;
  position: absolute;
  top: 0;
}

.honorable-3 .group-42-2 {
  display: flex;
  height: 62px;
  width: 61px;
}

.honorable-3 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 61.49px;
}

.honorable-3 .overlap-group-2 {
  height: 62px;
  position: relative;
  width: 61px;
}

.honorable-3 .path-4-2 {
  height: 16px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 47px;
  width: 57px;
}

.honorable-3 .group-38-4 {
  display: flex;
  height: 62px;
  left: 0;
  position: absolute;
  top: 0;
  width: 61px;
}

.honorable-3 .group-39-2 {
  display: flex;
  flex: 1;
  width: 61.49px;
}

.honorable-3 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 10.5px 0;
  width: 61.49px;
}

.honorable-3 .group-2-2-2 {
  background-image: url(../img/path-5-2-97@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  width: 57px;
}

.honorable-3 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 319px;
  min-width: 132px;
  position: absolute;
  top: 46px;
}

.honorable-3 .overlap-group1-2 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.honorable-3 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.honorable-3 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.honorable-3 .component-7-217 {
  display: flex;
  height: 45px;
  left: 197px;
  position: absolute;
  top: 50px;
  width: 86px;
}

.honorable-3 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.honorable-3 .component-9-216 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 585px;
  position: absolute;
  top: 51px;
  width: 110px;
}

.honorable-3 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.honorable-3 .component-3-215 {
  display: flex;
  height: 46px;
  left: 445px;
  position: absolute;
  top: 50px;
  width: 172px;
}

.honorable-3 .stories-2 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.honorable-3 .component-8-251 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 735px;
  position: absolute;
  top: 51px;
  width: 103px;
}

.honorable-3 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
@media screen and (max-width: 1279px) {
  .screen.honorable-1 { 
    display: none;
   }
  .screen.honorable-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.honorable-1 { 
    display: none;
   }
  .screen.honorable-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.honorable-2 { 
    display: none;
   }
  .screen.honorable-3 { 
    display: none;
   }
}