/* screen - meeting-at-1 */

.meeting-at-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 12589px;
  overflow: hidden;
  width: 1920px;
}

.meeting-at-1 .overlap-group2 {
  height: 12664px;
  margin-left: -690px;
  margin-top: -75.0px;
  position: relative;
  width: 3250px;
}

.meeting-at-1 .rectangle-42 {
  background-color: var(--yellow-green);
  height: 1080px;
  left: 690px;
  position: absolute;
  top: 75px;
  width: 1920px;
}

.meeting-at-1 .ellipse-21 {
  background-color: var(--white);
  border-radius: 1625.18px/921px;
  height: 1842px;
  left: 0;
  opacity: 0.67;
  position: absolute;
  top: 324px;
  width: 3250px;
}

.meeting-at-1 .rectangle-56 {
  background-color: var(--aths-special);
  height: 11509px;
  left: 690px;
  position: absolute;
  top: 1155px;
  width: 1920px;
}

.meeting-at-1 .meeting-at-the-giant-mushrooms {
  color: var(--hopbush-2);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 80px;
  font-weight: 400;
  height: 121px;
  left: 979px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 129px;
  white-space: nowrap;
  width: 1244px;
}

.meeting-at-1 .rectangle-43 {
  height: 60px;
  left: 1224px;
  object-fit: cover;
  position: absolute;
  top: 374px;
  width: 802px;
}

.meeting-at-1 .lisa-kendrick-brushe {
  left: 979px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 462px;
  width: 1345px;
}

.meeting-at-1 .by-jeremy-parker {
  height: 49px;
  left: 2076px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.meeting-at-1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 2295px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 0;
}

.meeting-at-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.meeting-at-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.meeting-at-1 .overlap-group {
  height: 151px;
  position: relative;
  width: 149px;
}

.meeting-at-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.meeting-at-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.meeting-at-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.meeting-at-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0.0px;
  width: 149.11px;
}

.meeting-at-1 .group-2-2 {
  background-image: url(../img/path-5-2-23@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.meeting-at-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 857px;
  min-width: 132px;
  position: absolute;
  top: 101px;
}

.meeting-at-1 .overlap-group1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.meeting-at-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.meeting-at-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.meeting-at-1 .component-7-130 {
  display: flex;
  height: 45px;
  left: 735px;
  position: absolute;
  top: 105px;
  width: 86px;
}

.meeting-at-1 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.meeting-at-1 .component-8-165 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1273px;
  position: absolute;
  top: 106px;
  width: 103px;
}

.meeting-at-1 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}

.meeting-at-1 .component-9-130 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1123px;
  position: absolute;
  top: 106px;
  width: 110px;
}

.meeting-at-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.meeting-at-1 .component-3-129 {
  display: flex;
  height: 46px;
  left: 983px;
  position: absolute;
  top: 105px;
  width: 172px;
}

.meeting-at-1 .stories {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}
/* screen - meeting-at-2 */

.meeting-at-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 8168px;
  justify-content: center;
  overflow: hidden;
  width: 1280px;
}

.meeting-at-2 .overlap-group2-1 {
  height: 8220px;
  margin-top: -52.0px;
  position: relative;
  width: 2176px;
}

.meeting-at-2 .rectangle-42-1 {
  background-color: var(--yellow-green);
  height: 724px;
  left: 447px;
  position: absolute;
  top: 52px;
  width: 1285px;
}

.meeting-at-2 .ellipse-21-1 {
  background-color: var(--white);
  border-radius: 1087.97px/446.65px;
  height: 893px;
  left: 0;
  opacity: 0.67;
  position: absolute;
  top: 237px;
  width: 2176px;
}

.meeting-at-2 .rectangle-56-1 {
  background-color: var(--aths-special);
  height: 7444px;
  left: 447px;
  position: absolute;
  top: 776px;
  width: 1285px;
}

.meeting-at-2 .meeting-at-the-giant-mushrooms-1 {
  color: var(--hopbush-2);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 55px;
  font-weight: 400;
  height: 81px;
  left: 637px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 70px;
  white-space: nowrap;
  width: 856px;
}

.meeting-at-2 .rectangle-43-1 {
  height: 40px;
  left: 796px;
  object-fit: cover;
  position: absolute;
  top: 286px;
  width: 536px;
}

.meeting-at-2 .lisa-kendrick-brushe-1 {
  left: 638px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 391px;
  width: 901px;
}

.meeting-at-2 .by-jeremy-parker-1 {
  height: 34px;
  left: 1375px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 206px;
  width: 177px;
}

.meeting-at-2 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1520px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 0;
}

.meeting-at-2 .group-42-1 {
  display: flex;
  height: 101px;
  width: 99px;
}

.meeting-at-2 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.meeting-at-2 .overlap-group-1 {
  height: 101px;
  position: relative;
  width: 99px;
}

.meeting-at-2 .path-4-1 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.meeting-at-2 .group-38-2 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.meeting-at-2 .group-39-1 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.meeting-at-2 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 16.9px 0.0px;
  width: 99.47px;
}

.meeting-at-2 .group-2-2-1 {
  background-image: url(../img/path-5-2-40@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.meeting-at-2 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 615px;
  min-width: 132px;
  position: absolute;
  top: 78px;
}

.meeting-at-2 .overlap-group1-1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.meeting-at-2 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.meeting-at-2 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.meeting-at-2 .component-7-128 {
  display: flex;
  height: 45px;
  left: 493px;
  position: absolute;
  top: 82px;
  width: 86px;
}

.meeting-at-2 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.meeting-at-2 .component-8-163 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1031px;
  position: absolute;
  top: 83px;
  width: 103px;
}

.meeting-at-2 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}

.meeting-at-2 .component-9-128 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 881px;
  position: absolute;
  top: 83px;
  width: 110px;
}

.meeting-at-2 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.meeting-at-2 .component-3-127 {
  display: flex;
  height: 46px;
  left: 741px;
  position: absolute;
  top: 82px;
  width: 172px;
}

.meeting-at-2 .stories-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}
/* screen - meeting-at-3 */

.meeting-at-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 6643px;
  overflow: hidden;
  width: 834px;
}

.meeting-at-3 .overlap-group2-2 {
  height: 6668px;
  margin-left: -292px;
  margin-top: -25.0px;
  position: relative;
  width: 1417px;
}

.meeting-at-3 .rectangle-42-2 {
  background-color: var(--yellow-green);
  height: 472px;
  left: 290px;
  position: absolute;
  top: 24px;
  width: 838px;
}

.meeting-at-3 .ellipse-21-2 {
  background-color: var(--white);
  border-radius: 708.7px/362.22px;
  height: 724px;
  left: 0;
  opacity: 0.67;
  position: absolute;
  top: 194px;
  width: 1417px;
}

.meeting-at-3 .rectangle-56-2 {
  background-color: var(--aths-special);
  height: 6172px;
  left: 290px;
  position: absolute;
  top: 496px;
  width: 838px;
}

.meeting-at-3 .meeting-at-the-giant-mushrooms-2 {
  color: var(--hopbush-2);
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: 54px;
  left: 410px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
  width: 558px;
}

.meeting-at-3 .lisa-kendrick-brushe-2 {
  left: 416px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 241px;
  width: 587px;
}

.meeting-at-3 .by-jeremy-parker-2 {
  height: 21px;
  left: 831px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 175px;
  white-space: nowrap;
  width: 136px;
}

.meeting-at-3 .group-90 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-101@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 119px;
  justify-content: flex-end;
  left: 981px;
  min-width: 159px;
  padding: 13.7px 40.8px;
  position: absolute;
  top: 0;
}

.meeting-at-3 .group-42-2 {
  display: flex;
  height: 66px;
  width: 66px;
}

.meeting-at-3 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 65.52px;
}

.meeting-at-3 .overlap-group-2 {
  height: 66px;
  position: relative;
  width: 66px;
}

.meeting-at-3 .path-4-2 {
  height: 17px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 61px;
}

.meeting-at-3 .group-38-4 {
  display: flex;
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 66px;
}

.meeting-at-3 .group-39-2 {
  display: flex;
  flex: 1;
  width: 65.52px;
}

.meeting-at-3 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 11.1px 0;
  width: 65.52px;
}

.meeting-at-3 .group-2-2-2 {
  background-image: url(../img/path-5-2-101@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 17px;
  width: 61px;
}

.meeting-at-3 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 459px;
  min-width: 132px;
  position: absolute;
  top: 51px;
}

.meeting-at-3 .overlap-group1-2 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.meeting-at-3 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.meeting-at-3 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.meeting-at-3 .component-7-129 {
  display: flex;
  height: 45px;
  left: 337px;
  position: absolute;
  top: 55px;
  width: 86px;
}

.meeting-at-3 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.meeting-at-3 .component-8-164 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 875px;
  position: absolute;
  top: 56px;
  width: 103px;
}

.meeting-at-3 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}

.meeting-at-3 .component-9-129 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 725px;
  position: absolute;
  top: 56px;
  width: 110px;
}

.meeting-at-3 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.meeting-at-3 .component-3-128 {
  display: flex;
  height: 46px;
  left: 585px;
  position: absolute;
  top: 55px;
  width: 172px;
}

.meeting-at-3 .stories-2 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}
@media screen and (max-width: 1279px) {
  .screen.meeting-at-1 { 
    display: none;
   }
  .screen.meeting-at-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.meeting-at-1 { 
    display: none;
   }
  .screen.meeting-at-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.meeting-at-2 { 
    display: none;
   }
  .screen.meeting-at-3 { 
    display: none;
   }
}