/* screen - ru-hosp-in-utopia-1 */

.ru-hosp-in-utopia-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 10448px;
  overflow: hidden;
  width: 1920px;
}

.ru-hosp-in-utopia-1 .overlap-group2 {
  height: 10700px;
  margin-left: -556px;
  margin-top: -75.0px;
  position: relative;
  width: 3148px;
}

.ru-hosp-in-utopia-1 .rectangle-42 {
  background-color: var(--mandy);
  height: 1080px;
  left: 556px;
  position: absolute;
  top: 75px;
  width: 2037px;
}

.ru-hosp-in-utopia-1 .ellipse-21 {
  background-color: var(--peach-yellow);
  border-radius: 1574.18px/1261px;
  height: 2522px;
  left: 0;
  position: absolute;
  top: 327px;
  width: 3148px;
}

.ru-hosp-in-utopia-1 .hospitalized-in-utopia {
  height: 121px;
  left: 887px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 153px;
  white-space: nowrap;
  width: 1240px;
}

.ru-hosp-in-utopia-1 .by-caroline-anthus {
  color: #0f0303;
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 49px;
  left: 1876px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 250px;
  width: 334px;
}

.ru-hosp-in-utopia-1 .rectangle-55 {
  background-color: var(--peach-yellow);
  height: 9716px;
  left: 556px;
  position: absolute;
  top: 984px;
  width: 2037px;
}

.ru-hosp-in-utopia-1 .diana-looked-out-the {
  left: 887px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 511px;
  width: 1378px;
}

.ru-hosp-in-utopia-1 .rectangle-43 {
  height: 60px;
  left: 1175px;
  object-fit: cover;
  position: absolute;
  top: 403px;
  width: 799px;
}

.ru-hosp-in-utopia-1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 2161px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 0;
}

.ru-hosp-in-utopia-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.ru-hosp-in-utopia-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.ru-hosp-in-utopia-1 .overlap-group {
  height: 151px;
  position: relative;
  width: 149px;
}

.ru-hosp-in-utopia-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.ru-hosp-in-utopia-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.ru-hosp-in-utopia-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.ru-hosp-in-utopia-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0;
  width: 149.11px;
}

.ru-hosp-in-utopia-1 .group-2-2 {
  background-image: url(../img/path-5-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.ru-hosp-in-utopia-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 723px;
  min-width: 132px;
  position: absolute;
  top: 101px;
}

.ru-hosp-in-utopia-1 .overlap-group1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.ru-hosp-in-utopia-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.ru-hosp-in-utopia-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.ru-hosp-in-utopia-1 .component-7-221 {
  display: flex;
  height: 45px;
  left: 601px;
  position: absolute;
  top: 105px;
  width: 86px;
}

.ru-hosp-in-utopia-1 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.ru-hosp-in-utopia-1 .component-9-220 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 989px;
  position: absolute;
  top: 106px;
  width: 110px;
}

.ru-hosp-in-utopia-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.ru-hosp-in-utopia-1 .component-3-219 {
  display: flex;
  height: 46px;
  left: 849px;
  position: absolute;
  top: 105px;
  width: 172px;
}

.ru-hosp-in-utopia-1 .stories {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.ru-hosp-in-utopia-1 .component-8-255 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1139px;
  position: absolute;
  top: 106px;
  width: 103px;
}

.ru-hosp-in-utopia-1 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - ru-hosp-in-utopia-2 */

.ru-hosp-in-utopia-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 6832px;
  justify-content: center;
  overflow: hidden;
  width: 1280px;
}

.ru-hosp-in-utopia-2 .overlap-group2-1 {
  height: 6867px;
  margin-top: -34.66px;
  position: relative;
  width: 1989px;
}

.ru-hosp-in-utopia-2 .rectangle-42-1 {
  background-color: var(--mandy);
  height: 684px;
  left: 351px;
  position: absolute;
  top: 31px;
  width: 1288px;
}

.ru-hosp-in-utopia-2 .ellipse-21-1 {
  background-color: var(--peach-yellow);
  border-radius: 994.7px/708.81px;
  height: 1418px;
  left: 0;
  position: absolute;
  top: 255px;
  width: 1989px;
}

.ru-hosp-in-utopia-2 .hospitalized-in-utopia-1 {
  height: 77px;
  left: 544px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 65px;
  white-space: nowrap;
  width: 784px;
}

.ru-hosp-in-utopia-2 .by-caroline-anthus-1 {
  color: #100606;
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  height: 33px;
  left: 1185px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 206px;
  width: 213px;
}

.ru-hosp-in-utopia-2 .rectangle-55-1 {
  background-color: var(--peach-yellow);
  height: 6261px;
  left: 351px;
  position: absolute;
  top: 606px;
  width: 1288px;
}

.ru-hosp-in-utopia-2 .diana-looked-out-the-1 {
  left: 560px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 357px;
  width: 872px;
}

.ru-hosp-in-utopia-2 .rectangle-43-1 {
  height: 38px;
  left: 742px;
  object-fit: cover;
  position: absolute;
  top: 298px;
  width: 505px;
}

.ru-hosp-in-utopia-2 .group-90 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-54@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 172px;
  justify-content: flex-end;
  left: 1430px;
  min-width: 228px;
  padding: 21.3px 57.5px;
  position: absolute;
  top: 0;
}

.ru-hosp-in-utopia-2 .group-42-1 {
  display: flex;
  height: 95px;
  width: 94px;
}

.ru-hosp-in-utopia-2 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 94.22px;
}

.ru-hosp-in-utopia-2 .overlap-group-1 {
  height: 95px;
  position: relative;
  width: 94px;
}

.ru-hosp-in-utopia-2 .path-4-1 {
  height: 24px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 71px;
  width: 87px;
}

.ru-hosp-in-utopia-2 .group-38-2 {
  display: flex;
  height: 95px;
  left: 0;
  position: absolute;
  top: 0;
  width: 94px;
}

.ru-hosp-in-utopia-2 .group-39-1 {
  display: flex;
  flex: 1;
  width: 94.22px;
}

.ru-hosp-in-utopia-2 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 16.0px 0;
  width: 94.22px;
}

.ru-hosp-in-utopia-2 .group-2-2-1 {
  background-image: url(../img/path-5-2-54@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  width: 87px;
}

.ru-hosp-in-utopia-2 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 522px;
  min-width: 132px;
  position: absolute;
  top: 61px;
}

.ru-hosp-in-utopia-2 .overlap-group1-1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.ru-hosp-in-utopia-2 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.ru-hosp-in-utopia-2 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.ru-hosp-in-utopia-2 .component-7-222 {
  display: flex;
  height: 45px;
  left: 400px;
  position: absolute;
  top: 65px;
  width: 86px;
}

.ru-hosp-in-utopia-2 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.ru-hosp-in-utopia-2 .component-9-221 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 788px;
  position: absolute;
  top: 66px;
  width: 110px;
}

.ru-hosp-in-utopia-2 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.ru-hosp-in-utopia-2 .component-3-220 {
  display: flex;
  height: 46px;
  left: 648px;
  position: absolute;
  top: 65px;
  width: 172px;
}

.ru-hosp-in-utopia-2 .stories-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.ru-hosp-in-utopia-2 .component-8-256 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 938px;
  position: absolute;
  top: 66px;
  width: 103px;
}

.ru-hosp-in-utopia-2 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - ru-hosp-in-utopia-3 */

.ru-hosp-in-utopia-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 5600px;
  overflow: hidden;
  width: 834px;
}

.ru-hosp-in-utopia-3 .overlap-group2-2 {
  height: 5620px;
  margin-left: -232px;
  margin-top: -19.85px;
  position: relative;
  width: 1298px;
}

.ru-hosp-in-utopia-3 .rectangle-42-2 {
  background-color: var(--mandy);
  height: 446px;
  left: 229px;
  position: absolute;
  top: 20px;
  width: 840px;
}

.ru-hosp-in-utopia-3 .ellipse-21-2 {
  background-color: var(--peach-yellow);
  border-radius: 649.18px/357.02px;
  height: 714px;
  left: 0;
  position: absolute;
  top: 195px;
  width: 1298px;
}

.ru-hosp-in-utopia-3 .hospitalized-in-utopia-2 {
  height: 51px;
  left: 377px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 37px;
  white-space: nowrap;
  width: 546px;
}

.ru-hosp-in-utopia-3 .by-caroline-anthus-2 {
  color: #170909;
  font-family: var(--font-family-crimson_text);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  height: 36px;
  left: 792px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 161px;
  width: 201px;
}

.ru-hosp-in-utopia-3 .rectangle-55-2 {
  background-color: var(--peach-yellow);
  height: 5224px;
  left: 229px;
  position: absolute;
  top: 395px;
  width: 840px;
}

.ru-hosp-in-utopia-3 .diana-looked-out-the-2 {
  left: 372px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 249px;
  width: 621px;
}

.ru-hosp-in-utopia-3 .group-90-1 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-91@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 112px;
  justify-content: flex-end;
  left: 933px;
  min-width: 148px;
  padding: 13.9px 37.6px;
  position: absolute;
  top: 0;
}

.ru-hosp-in-utopia-3 .group-42-2 {
  display: flex;
  height: 62px;
  width: 61px;
}

.ru-hosp-in-utopia-3 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 61.49px;
}

.ru-hosp-in-utopia-3 .overlap-group-2 {
  height: 62px;
  position: relative;
  width: 61px;
}

.ru-hosp-in-utopia-3 .path-4-2 {
  height: 16px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 47px;
  width: 57px;
}

.ru-hosp-in-utopia-3 .group-38-4 {
  display: flex;
  height: 62px;
  left: 0;
  position: absolute;
  top: 0;
  width: 61px;
}

.ru-hosp-in-utopia-3 .group-39-2 {
  display: flex;
  flex: 1;
  width: 61.49px;
}

.ru-hosp-in-utopia-3 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 10.5px 0;
  width: 61.49px;
}

.ru-hosp-in-utopia-3 .group-2-2-2 {
  background-image: url(../img/path-5-2-91@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  width: 57px;
}

.ru-hosp-in-utopia-3 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 399px;
  min-width: 132px;
  position: absolute;
  top: 46px;
}

.ru-hosp-in-utopia-3 .overlap-group1-2 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.ru-hosp-in-utopia-3 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.ru-hosp-in-utopia-3 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.ru-hosp-in-utopia-3 .component-7-223 {
  display: flex;
  height: 45px;
  left: 277px;
  position: absolute;
  top: 50px;
  width: 86px;
}

.ru-hosp-in-utopia-3 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.ru-hosp-in-utopia-3 .component-9-222 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 665px;
  position: absolute;
  top: 51px;
  width: 110px;
}

.ru-hosp-in-utopia-3 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.ru-hosp-in-utopia-3 .component-3-221 {
  display: flex;
  height: 46px;
  left: 525px;
  position: absolute;
  top: 50px;
  width: 172px;
}

.ru-hosp-in-utopia-3 .stories-2 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.ru-hosp-in-utopia-3 .component-8-257 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 815px;
  position: absolute;
  top: 51px;
  width: 103px;
}

.ru-hosp-in-utopia-3 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
@media screen and (max-width: 1279px) {
  .screen.ru-hosp-in-utopia-1 { 
    display: none;
   }
  .screen.ru-hosp-in-utopia-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.ru-hosp-in-utopia-1 { 
    display: none;
   }
  .screen.ru-hosp-in-utopia-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.ru-hosp-in-utopia-2 { 
    display: none;
   }
  .screen.ru-hosp-in-utopia-3 { 
    display: none;
   }
}