/* screen - sewer-utopia-1 */

.sewer-utopia-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 7569px;
  overflow: hidden;
  width: 1920px;
}

.sewer-utopia-1 .overlap-group2 {
  height: 7617px;
  margin-left: -685px;
  margin-top: -52px;
  position: relative;
  width: 3250px;
}

.sewer-utopia-1 .rectangle-42 {
  background-color: var(--yellow-green);
  height: 1080px;
  left: 685px;
  position: absolute;
  top: 52px;
  width: 1920px;
}

.sewer-utopia-1 .ellipse-21 {
  background-color: var(--white);
  border-radius: 1625.18px/1017.5px;
  height: 2035px;
  left: 0;
  opacity: 0.67;
  position: absolute;
  top: 261px;
  width: 3250px;
}

.sewer-utopia-1 .rectangle-56 {
  background-color: var(--aths-special);
  height: 6485px;
  left: 685px;
  position: absolute;
  top: 1132px;
  width: 1920px;
}

.sewer-utopia-1 .utopia-in-the-sewers {
  height: 121px;
  left: 974px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 106px;
  white-space: nowrap;
  width: 906px;
}

.sewer-utopia-1 .by-zkan-akman {
  height: 49px;
  left: 1943px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 197px;
  width: 289px;
}

.sewer-utopia-1 .rectangle-43 {
  height: 60px;
  left: 1209px;
  object-fit: cover;
  position: absolute;
  top: 328px;
  width: 802px;
}

.sewer-utopia-1 .september-28th-dayl {
  left: 974px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 412px;
  width: 1345px;
}

.sewer-utopia-1 .group-123 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 2272px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 0;
}

.sewer-utopia-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.sewer-utopia-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.sewer-utopia-1 .overlap-group {
  height: 151px;
  position: relative;
  width: 149px;
}

.sewer-utopia-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.sewer-utopia-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.sewer-utopia-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.sewer-utopia-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0.0px;
  width: 149.11px;
}

.sewer-utopia-1 .group-2-2 {
  background-image: url(../img/path-5-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.sewer-utopia-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 852px;
  min-width: 132px;
  position: absolute;
  top: 78px;
}

.sewer-utopia-1 .overlap-group1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.sewer-utopia-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.sewer-utopia-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.sewer-utopia-1 .component-7-224 {
  display: flex;
  height: 45px;
  left: 730px;
  position: absolute;
  top: 82px;
  width: 86px;
}

.sewer-utopia-1 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.sewer-utopia-1 .component-9-223 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1118px;
  position: absolute;
  top: 83px;
  width: 110px;
}

.sewer-utopia-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.sewer-utopia-1 .component-3-222 {
  display: flex;
  height: 46px;
  left: 978px;
  position: absolute;
  top: 82px;
  width: 172px;
}

.sewer-utopia-1 .stories {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.sewer-utopia-1 .component-8-258 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1268px;
  position: absolute;
  top: 83px;
  width: 103px;
}

.sewer-utopia-1 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - sewer-utopia-2 */

.sewer-utopia-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 4956px;
  justify-content: center;
  overflow: hidden;
  width: 1280px;
}

.sewer-utopia-2 .overlap-group2-1 {
  height: 5105px;
  margin-top: -52.0px;
  position: relative;
  width: 2115px;
}

.sewer-utopia-2 .rectangle-42-1 {
  background-color: var(--yellow-green);
  height: 721px;
  left: 417px;
  position: absolute;
  top: 51px;
  width: 1282px;
}

.sewer-utopia-2 .ellipse-21-1 {
  background-color: var(--white);
  border-radius: 1057.29px/447.74px;
  height: 895px;
  left: 0;
  opacity: 0.67;
  position: absolute;
  top: 284px;
  width: 2115px;
}

.sewer-utopia-2 .rectangle-56-1 {
  background-color: var(--aths-special);
  height: 4333px;
  left: 417px;
  position: absolute;
  top: 772px;
  width: 1282px;
}

.sewer-utopia-2 .utopia-in-the-sewers-1 {
  height: 69px;
  left: 606px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 86px;
  white-space: nowrap;
  width: 691px;
}

.sewer-utopia-2 .by-zkan-akman-1 {
  height: 53px;
  left: 1238px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 233px;
  width: 314px;
}

.sewer-utopia-2 .september-28th-dayl-1 {
  left: 609px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 413px;
  width: 899px;
}

.sewer-utopia-2 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1489px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 0;
}

.sewer-utopia-2 .group-42-1 {
  display: flex;
  height: 101px;
  width: 99px;
}

.sewer-utopia-2 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.sewer-utopia-2 .overlap-group-1 {
  height: 101px;
  position: relative;
  width: 99px;
}

.sewer-utopia-2 .path-4-1 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.sewer-utopia-2 .group-38-2 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.sewer-utopia-2 .group-39-1 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.sewer-utopia-2 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 16.9px 0;
  width: 99.47px;
}

.sewer-utopia-2 .group-2-2-1 {
  background-image: url(../img/path-5-2-58@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.sewer-utopia-2 .rectangle-43-1 {
  height: 46px;
  left: 754px;
  object-fit: cover;
  position: absolute;
  top: 332px;
  width: 606px;
}

.sewer-utopia-2 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 584px;
  min-width: 132px;
  position: absolute;
  top: 78px;
}

.sewer-utopia-2 .overlap-group1-1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.sewer-utopia-2 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.sewer-utopia-2 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.sewer-utopia-2 .component-7-225 {
  display: flex;
  height: 45px;
  left: 462px;
  position: absolute;
  top: 82px;
  width: 86px;
}

.sewer-utopia-2 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.sewer-utopia-2 .component-9-224 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 850px;
  position: absolute;
  top: 83px;
  width: 110px;
}

.sewer-utopia-2 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.sewer-utopia-2 .component-3-223 {
  display: flex;
  height: 46px;
  left: 710px;
  position: absolute;
  top: 82px;
  width: 172px;
}

.sewer-utopia-2 .stories-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.sewer-utopia-2 .component-8-259 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 1000px;
  position: absolute;
  top: 83px;
  width: 103px;
}

.sewer-utopia-2 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - sewer-utopia-3 */

.sewer-utopia-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 4146px;
  justify-content: center;
  overflow: hidden;
  width: 834px;
}

.sewer-utopia-3 .overlap-group2-2 {
  height: 4171px;
  margin-top: -25.0px;
  position: relative;
  width: 1384px;
}

.sewer-utopia-3 .rectangle-42-2 {
  background-color: var(--yellow-green);
  height: 472px;
  left: 273px;
  position: absolute;
  top: 24px;
  width: 839px;
}

.sewer-utopia-3 .ellipse-21-2 {
  background-color: var(--white);
  border-radius: 691.94px/309.67px;
  height: 619px;
  left: 0;
  opacity: 0.67;
  position: absolute;
  top: 232px;
  width: 1384px;
}

.sewer-utopia-3 .rectangle-56-2 {
  background-color: var(--aths-special);
  height: 3675px;
  left: 273px;
  position: absolute;
  top: 496px;
  width: 839px;
}

.sewer-utopia-3 .utopia-in-the-sewers-2 {
  height: 46px;
  left: 400px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  top: 61px;
  white-space: nowrap;
  width: 544px;
}

.sewer-utopia-3 .by-zkan-akman-2 {
  height: 22px;
  left: 816px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 196px;
  white-space: nowrap;
  width: 206px;
}

.sewer-utopia-3 .september-28th-dayl-2 {
  left: 398px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 282px;
  width: 589px;
}

.sewer-utopia-3 .group-90 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-101@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 119px;
  justify-content: flex-end;
  left: 964px;
  min-width: 159px;
  padding: 13.7px 40.8px;
  position: absolute;
  top: 0;
}

.sewer-utopia-3 .group-42-2 {
  display: flex;
  height: 66px;
  width: 66px;
}

.sewer-utopia-3 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 65.52px;
}

.sewer-utopia-3 .overlap-group-2 {
  height: 66px;
  position: relative;
  width: 66px;
}

.sewer-utopia-3 .path-4-2 {
  height: 17px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 61px;
}

.sewer-utopia-3 .group-38-4 {
  display: flex;
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 66px;
}

.sewer-utopia-3 .group-39-2 {
  display: flex;
  flex: 1;
  width: 65.52px;
}

.sewer-utopia-3 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 11.1px 0;
  width: 65.52px;
}

.sewer-utopia-3 .group-2-2-2 {
  background-image: url(../img/path-5-2-103@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 17px;
  width: 61px;
}

.sewer-utopia-3 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 442px;
  min-width: 132px;
  position: absolute;
  top: 51px;
}

.sewer-utopia-3 .overlap-group1-2 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.sewer-utopia-3 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.sewer-utopia-3 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.sewer-utopia-3 .component-7-226 {
  display: flex;
  height: 45px;
  left: 320px;
  position: absolute;
  top: 55px;
  width: 86px;
}

.sewer-utopia-3 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.sewer-utopia-3 .component-9-225 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 708px;
  position: absolute;
  top: 56px;
  width: 110px;
}

.sewer-utopia-3 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.sewer-utopia-3 .component-3-224 {
  display: flex;
  height: 46px;
  left: 568px;
  position: absolute;
  top: 55px;
  width: 172px;
}

.sewer-utopia-3 .stories-2 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.sewer-utopia-3 .component-8-260 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 858px;
  position: absolute;
  top: 56px;
  width: 103px;
}

.sewer-utopia-3 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
@media screen and (max-width: 1279px) {
  .screen.sewer-utopia-1 { 
    display: none;
   }
  .screen.sewer-utopia-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.sewer-utopia-1 { 
    display: none;
   }
  .screen.sewer-utopia-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.sewer-utopia-2 { 
    display: none;
   }
  .screen.sewer-utopia-3 { 
    display: none;
   }
}