/* screen - xr-top-1 */

.xr-top-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.xr-top-1 .overlap-group2 {
  height: 1386px;
  margin-left: -408px;
  margin-top: -75.0px;
  position: relative;
  width: 2377px;
}

.xr-top-1 .rectangle-41 {
  background-color: var(--hopbush);
  height: 1080px;
  left: 408px;
  position: absolute;
  top: 75px;
  width: 1920px;
}

.xr-top-1 .ellipse-20 {
  background-color: var(--jordy-blue);
  border-radius: 595.09px/1060.28px;
  height: 2121px;
  left: 475px;
  opacity: 1.0;
  position: absolute;
  top: -288px;
  transform: rotate(269.00deg);
  width: 1190px;
}

.xr-top-1 .the-singer-of-seeds {
  cursor: pointer;
  left: 622px;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 526px;
  width: 1016px;
}

.xr-top-1 .the-parkby-chris-muscato-colorado-us {
  cursor: pointer;
  left: 622px;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 728px;
  width: 665px;
}

.xr-top-1 .xr-wordsmiths-top-picks {
  color: #f7e8bf;
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 90px;
  font-weight: 400;
  height: 121px;
  left: 577px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 299px;
  white-space: nowrap;
  width: 1200px;
}

.xr-top-1 .group-68 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 274px;
  justify-content: flex-end;
  left: 2013px;
  min-width: 364px;
  padding: 34.5px 94.9px;
  position: absolute;
  top: 0;
}

.xr-top-1 .group-42 {
  display: flex;
  height: 151px;
  width: 149px;
}

.xr-top-1 .group-28 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 149.11px;
}

.xr-top-1 .overlap-group {
  height: 151px;
  position: relative;
  width: 149px;
}

.xr-top-1 .path-4 {
  height: 38px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 138px;
}

.xr-top-1 .group-38 {
  display: flex;
  height: 151px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.xr-top-1 .group-39 {
  display: flex;
  flex: 1;
  width: 149.11px;
}

.xr-top-1 .group-38-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 25.3px 0.0px;
  width: 149.11px;
}

.xr-top-1 .group-2-2 {
  background-image: url(../img/path-5-2-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  width: 138px;
}

.xr-top-1 .group-147 {
  background-image: url(../img/group-145@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 704px;
  left: 1580px;
  position: absolute;
  top: 235px;
  width: 646px;
}

.xr-top-1 .about {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 575px;
  min-width: 132px;
  position: absolute;
  top: 101px;
}

.xr-top-1 .overlap-group1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.xr-top-1 .about-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.xr-top-1 .the-judges {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.xr-top-1 .component-7-177 {
  display: flex;
  height: 45px;
  left: 453px;
  position: absolute;
  top: 105px;
  width: 86px;
}

.xr-top-1 .place {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.xr-top-1 .component-9-176 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 841px;
  position: absolute;
  top: 106px;
  width: 110px;
}

.xr-top-1 .place-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.xr-top-1 .component-3-175 {
  display: flex;
  height: 46px;
  left: 701px;
  position: absolute;
  top: 105px;
  width: 172px;
}

.xr-top-1 .stories {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.xr-top-1 .component-8-211 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 991px;
  position: absolute;
  top: 106px;
  width: 103px;
}

.xr-top-1 .donate {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - xr-top-2 */

.xr-top-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 800px;
  overflow: hidden;
  width: 1280px;
}

.xr-top-2 .overlap-group2-1 {
  height: 959px;
  margin-left: -314px;
  margin-top: -52.0px;
  position: relative;
  width: 1628px;
}

.xr-top-2 .rectangle-41-1 {
  background-color: var(--hopbush);
  height: 801px;
  left: 312px;
  position: absolute;
  top: 51px;
  width: 1285px;
}

.xr-top-2 .ellipse-20-1 {
  background-color: var(--jordy-blue);
  border-radius: 405.01px/741.62px;
  height: 1483px;
  left: 344px;
  opacity: 1.0;
  position: absolute;
  top: -201px;
  transform: rotate(269.00deg);
  width: 810px;
}

.xr-top-2 .the-singer-of-seeds-1 {
  left: 456px;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 343px;
  width: 680px;
}

.xr-top-2 .the-parkby-chris-muscato-colorado-us-1 {
  cursor: pointer;
  left: 456px;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 511px;
  width: 445px;
}

.xr-top-2 .xr-wordsmiths-top-picks-1 {
  color: var(--banana-mania);
  cursor: pointer;
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 70px;
  font-weight: 400;
  height: 196px;
  left: 251px;
  letter-spacing: 0;
  line-height: 200px;
  position: absolute;
  text-align: center;
  top: 193px;
  white-space: nowrap;
  width: 1090px;
}

.xr-top-2 .group-147-1 {
  background-image: url(../img/group-145-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 477px;
  left: 1094px;
  position: absolute;
  top: 323px;
  width: 438px;
}

.xr-top-2 .group-132 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-39@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 183px;
  justify-content: flex-end;
  left: 1386px;
  min-width: 242px;
  padding: 23.2px 62.8px;
  position: absolute;
  top: 0;
}

.xr-top-2 .group-42-1 {
  display: flex;
  height: 101px;
  width: 99px;
}

.xr-top-2 .group-28-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 0;
  min-width: 99.47px;
}

.xr-top-2 .overlap-group-1 {
  height: 101px;
  position: relative;
  width: 99px;
}

.xr-top-2 .path-4-1 {
  height: 25px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 92px;
}

.xr-top-2 .group-38-2 {
  display: flex;
  height: 101px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.xr-top-2 .group-39-1 {
  display: flex;
  flex: 1;
  width: 99.47px;
}

.xr-top-2 .group-38-3 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 16.9px 0;
  width: 99.47px;
}

.xr-top-2 .group-2-2-1 {
  background-image: url(../img/path-5-2-48@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  width: 92px;
}

.xr-top-2 .about-2 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 481px;
  min-width: 132px;
  position: absolute;
  top: 78px;
}

.xr-top-2 .overlap-group1-1 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.xr-top-2 .about-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.xr-top-2 .the-judges-1 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.xr-top-2 .component-7-186 {
  display: flex;
  height: 45px;
  left: 359px;
  position: absolute;
  top: 82px;
  width: 86px;
}

.xr-top-2 .place-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.xr-top-2 .component-9-185 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 747px;
  position: absolute;
  top: 83px;
  width: 110px;
}

.xr-top-2 .place-3 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.xr-top-2 .component-3-184 {
  display: flex;
  height: 46px;
  left: 607px;
  position: absolute;
  top: 82px;
  width: 172px;
}

.xr-top-2 .stories-1 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.xr-top-2 .component-8-220 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 897px;
  position: absolute;
  top: 83px;
  width: 103px;
}

.xr-top-2 .donate-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
/* screen - xr-top-3 */

.xr-top-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1194px;
  overflow: hidden;
  width: 834px;
}

.xr-top-3 .overlap-group2-2 {
  height: 1795px;
  margin-left: -253px;
  margin-top: -600.98px;
  position: relative;
  width: 1088px;
}

.xr-top-3 .rectangle-41-2 {
  background-color: var(--hopbush);
  height: 1194px;
  left: 253px;
  position: absolute;
  top: 601px;
  width: 835px;
}

.xr-top-3 .ellipse-20-2 {
  background-color: var(--jordy-blue);
  border-radius: 758.69px/481.92px;
  height: 964px;
  left: -264px;
  opacity: 1.0;
  position: absolute;
  top: 285px;
  transform: rotate(269.00deg);
  width: 1517px;
}

.xr-top-3 .group-90 {
  align-items: flex-end;
  background-image: url(../img/xr-logob-86@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 119px;
  justify-content: flex-end;
  left: 929px;
  min-width: 158px;
  padding: 15.0px 40.4px;
  position: absolute;
  top: 581px;
}

.xr-top-3 .group-42-2 {
  display: flex;
  height: 65px;
  width: 65px;
}

.xr-top-3 .group-28-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 64.8px;
}

.xr-top-3 .overlap-group-2 {
  height: 65px;
  position: relative;
  width: 65px;
}

.xr-top-3 .path-4-2 {
  height: 16px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 49px;
  width: 60px;
}

.xr-top-3 .group-38-4 {
  display: flex;
  height: 65px;
  left: 0;
  position: absolute;
  top: 0;
  width: 65px;
}

.xr-top-3 .group-39-2 {
  display: flex;
  flex: 1;
  width: 64.8px;
}

.xr-top-3 .group-38-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding: 11.0px 0.0px;
  width: 64.8px;
}

.xr-top-3 .group-2-2-2 {
  background-image: url(../img/path-5-2-86@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  width: 60px;
}

.xr-top-3 .the-singer-of-seeds-2 {
  left: 328px;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 867px;
  width: 603px;
}

.xr-top-3 .the-parkby-chris-muscato-colorado-us-2 {
  cursor: pointer;
  left: 308px;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 1114px;
  width: 542px;
}

.xr-top-3 .xr-wordsmiths-top-picks-2 {
  color: var(--banana-mania);
  cursor: pointer;
  font-family: var(--font-family-fucxedcaps-regular);
  font-size: 50px;
  font-weight: 400;
  height: 253px;
  left: 305px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 762px;
  width: 627px;
}

.xr-top-3 .group-146 {
  background-image: url(../img/group-145-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 477px;
  left: 629px;
  position: absolute;
  top: 1221px;
  width: 438px;
}

.xr-top-3 .about-4 {
  align-items: flex-end;
  display: flex;
  height: 55px;
  left: 420px;
  min-width: 132px;
  position: absolute;
  top: 627px;
}

.xr-top-3 .overlap-group1-2 {
  height: 47px;
  margin-bottom: -2px;
  position: relative;
  width: 96px;
}

.xr-top-3 .about-5 {
  left: 0;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.xr-top-3 .the-judges-2 {
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.0;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.xr-top-3 .component-7-187 {
  display: flex;
  height: 45px;
  left: 298px;
  position: absolute;
  top: 631px;
  width: 86px;
}

.xr-top-3 .place-4 {
  flex: 1;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: -17px;
  margin-right: -2px;
  margin-top: 15px;
  white-space: nowrap;
  width: 86px;
}

.xr-top-3 .component-9-186 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 686px;
  position: absolute;
  top: 632px;
  width: 110px;
}

.xr-top-3 .place-5 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 110px;
}

.xr-top-3 .component-3-185 {
  display: flex;
  height: 46px;
  left: 546px;
  position: absolute;
  top: 631px;
  width: 172px;
}

.xr-top-3 .stories-2 {
  height: 47px;
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 96px;
}

.xr-top-3 .component-8-221 {
  cursor: pointer;
  display: flex;
  height: 45px;
  left: 836px;
  position: absolute;
  top: 632px;
  width: 103px;
}

.xr-top-3 .donate-2 {
  flex: 1;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -7px;
  margin-right: -2px;
  margin-top: 5px;
  white-space: nowrap;
  width: 103px;
}
@media screen and (max-width: 1279px) {
  .screen.xr-top-1 { 
    display: none;
   }
  .screen.xr-top-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.xr-top-1 { 
    display: none;
   }
  .screen.xr-top-3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.xr-top-2 { 
    display: none;
   }
  .screen.xr-top-3 { 
    display: none;
   }
}