{{ define "main" }}

<div id="front-container">

    <div class="row">
      <div class="column">
        <h3><span style="color: var(--tango)"> XR Wordsmiths</span></h3>
        <h4>Solarpunk Storytelling Showcase</h4>
       
      </div>
      
      <div class="column">
        <img src="/images/front.png" class="front-page-img">
      </div>
      <!-- <div class="column">
        <img src="/images/turtle-blue-only.png" class="front-page-img">
      </div> -->
   </div>
  </div>

  <style>
    body{
      background: url(/images/dark-turtle2.png) left bottom no-repeat, var(--black-3);
      background-size: 100vh;  
    }
    banner a{
  			color:#fce86a;
		}
    </style>
{{ end }}

