{{ define "main" }}
	<!-- <main>
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</main>
{{ partial "sidebar.html" . }} -->
<div id="front-container">

    <div class="row">
      <div class="column">
        <h3>XR Wordsmiths</h4>
        <h4>Solarpunk Storytelling Showcase</h5>
       
      </div>
      <div class="column">
        <img src="/images/front.png" class="front-page-img">
      </div>
   </div>
  </div>
{{ end }}
