<div class="topnav">
    <a href="/">Home</a>

    <div class="dropdown">
      <button class="dropbtn">About
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/about/solarpunk">Solarpunk</a>
		<a href="/about/showcase">The Showcase</a>
        <a href="/about/judges">The Judges</a>
        <a href="/about/xr-wordsmiths">XR Wordsmiths</a>
        <a href="/about/artwork">The Artwork</a>
        <a href="/about/prizes">The Prizes</a>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Stories
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/stories/11-and-under">Winners: Children's Category</a>
        <a href="/stories/12-18-winners">Winners: Teenagers' Category</a>
        <a href="/stories/18-ov-1">Winners: Adults' Category</a>
        <a href="/stories/xr-top-1">XR Wordsmiths' Top Picks</a>
        <a href="/stories/runners-up">Runners Up</a>
        <a href="/stories/honorable">Honourable Mentions</a>
      </div>
    </div> 
    <a href="/contact">Contact</a>
    <a href="/donate">Donate</a>
</div>

<div class="logo">
<img src="/images/logo-high.png" class="logo"> 
</div>
<banner>
	
	 <ul>Hosted on a solar-powered server in the <a href="http://solarprotocol.net/">Solar Protocol</a> network.</ul>
	
</banner>
